.ws-home-wrapper {
  margin-top: 16px;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
    }
  }

  section {
    padding: 0 0 12px 0 !important;
    margin: 0 0 12px 0;
    border-bottom: 5px solid $brand-color-red;
  }

  p {
    margin: 0 0 6px 0 !important;
    padding: 0 !important;
  }

  .ws-home-grid-items {
    li {
      padding: 0 0 12px 0;
      .govuk-heading-s {
        margin: 0 0 8px 0;
        padding: 0;

        a {
          text-decoration: none;
        }
      }

      img {
        width: 100%;
        object-fit: cover;
        height: auto;
      }
    }

    .quick-links-wrapper {
      padding: 0;
      margin: 0 0 24px 0;

      .quick-links {
        background-color: govuk-colour("light-grey");
        border-bottom: 5px solid $brand-color-red;
        padding: 12px;
        margin: 0;

        li {
          padding: 0 0 6px;
          margin: 0;
        }
      }
    }
  }

  .how-do-i,
  .govuk-news {
    li {
      margin: 0 0 12px 0;
    }
  }

  .how-do-i {
    line-height: 24px;
    margin: 0 0 12px 0;
  }

  .ws-all-how-to {
    margin-top: 30px;
  }

  .govuk-news {
    line-height: 24px;

    li {
      .govuk-body-s {
        color: $govuk-secondary-text-colour;
        margin: 0;
        padding: 0;
      }
    }
  }

  .tweets {
    box-sizing: border-box;

    li {
      display: flex;
      margin-bottom: 20px;

      .img-wrapper {
        padding: 0 10px 0 0;
        flex: 20px;
      }

      .details {
        flex: 80%;

        .created {
          color: $govuk-secondary-text-colour;
        }

        .screen-name {
          font-weight: bold;
        }
      }
    }

    li:last-child {
      margin-bottom: 0;
    }
  }

  @media only screen and (min-width: 768px) {
    section {
      margin: 0 0 24px 0;
    }
    .ws-home-grid-items {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 20px;

      li {
        img {
          height: 195px;
        }
      }

      .news-item {
        margin-bottom: 24px;
      }

      .news-item-1 {
        order: 1;
      }

      .news-item-2 {
        order: 2;
      }

      // D and I
      .news-item-3 {
        order: 3;
        border-bottom: 5px solid $govuk-brand-colour;
        background-color: govuk-colour("light-grey");
        .home-news-item-text-content {
          padding: 12px;
        }
      }

      .news-item-4 {
        order: 4;
      }

      .news-item-5 {
        order: 5;
      }

      .quick-links-wrapper {
        order: 6;
        padding: 0;
        margin: 0 0 24px 0;
      }

      .news-item-6 {
        order: 7;
      }

      .news-item-7 {
        order: 8;
      }

      .news-item-8 {
        order: 9;
      }
    }

    .ws-whats-popular {
      column-count: 3;
      column-fill: auto;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }

    .how-do-i {
      columns: 3 auto;
    }

    .govuk-news {
      columns: 2 auto;
    }

    .tweets {
      display: flex;

      li {
        margin-bottom: 0;
      }
    }
  }
}