.new-home {

  article,
  section {
    display: inline;
  }

  #content-background {
    margin-bottom: -20rem;
    height: 20rem;
    background-image: url("../images/splash-bg-1.png");
    background-size: cover;

  }

  .govuk-phase-banner__text {
    color: var(--color-text-highlight);

    a {
      color: var(--color-text-highlight);
    }
  }
}