
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 0;
    margin: 0;
  }
}

section {
  padding: 0 0 24px 0!important;
  margin: 0 0 24px 0;
  border-bottom: 5px solid #cf102d;
}

p {
  margin: 0 0 6px 0 !important;
  padding: 0 !important;
}

.home-news-items {
  li {
    padding: 0 0 12px 0 !important;
    margin-bottom: 12px;
    .govuk-heading-s {
      margin: 0 0 8px 0 !important;
      padding: 0;

      a {
        text-decoration: none;
      }
    }

    .news-meta {
      color: $govuk-secondary-text-colour;
    }

    img {
      width: 100%;
      height: auto;
    }
  }
}

.quick-links {
  background-color: govuk-colour("light-grey");
  border-top: 5px solid #cf102d;
  padding: 12px;
  li {
    padding: 0 0 6px 0!important;
    margin: 0!important;
  }
}

.how-do-i, .govuk-news {
    li {
      margin: 0 0 12px 0!important;
    }
}

.how-do-i {
    margin: 0 0 12px 0;
}

.govuk-news {
    li {
      .govuk-body-s {
        color: $govuk-secondary-text-colour;
        margin: 0;
        padding: 0;
      }
    }
}

.whats-popular {
  img {
    width: 100% ;
    height: auto;
  }
}

@media only screen and (min-width: 768px) {
  .home-news-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    li {
      margin-bottom: 24px;
      img {
        width: auto;
      }
    }

    .news_item_1 {
      order: 1;
    }

    .news_item_2 {
      order: 2;
    }

    .quick-links-wrapper {
      order: 3;
    }

    .news_item_3 {
      order: 4;
    }

    .news_item_4 {
      order: 5;
    }

    .news_item_5 {
      order: 6;
    }

    .news_item_6 {
      order: 7;
    }

    .news_item_7 {
      order: 8;
    }

    .news_item_8 {
      order: 9;
    }
  }

  .whats-popular {
    column-count: 3;
    column-fill: auto;
    img {
      width: auto;
    }
  }

  .how-do-i {
    columns: 3 auto;
  }

  .govuk-news {
    columns: 2 auto;
  }
}