html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

.ws-video-embed {
  iframe {
    width: 100% !important;
    height: calc(100vw * 0.3);
  }
}

.ws-col-child {
  break-inside: avoid;
  margin-bottom: 20px;
}

.ws-primary-content {
  padding-top: 20px;
}

.ws-secondary-content {
  padding-top: 20px;
}

.ws-article-content {
  border-top: 1px solid govuk-colour("mid-grey");
}

.ws-secondary-meta {
  color: $govuk-secondary-text-colour;
}

.ws-related-topics {
  border-top: 3px solid $govuk-error-colour;
}

.ws-hide {
  position: absolute !important; /* Outside the DOM flow */
  height: 1px;
  width: 1px; /* Nearly collapsed */
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE 7+ only support clip without commas */
  clip: rect(1px, 1px, 1px, 1px); /* All other browsers */
}

.ws-children-2-col {
  column-width: auto;
  column-count: 2;
  .govuk-heading-s {
    padding: 0;
    margin: 0;
  }
}

.ws-children-3-col {
  column-width: auto;
  column-count: 3;
  .govuk-heading-s {
    padding: 0;
    margin: 0;
  }
}

.ws-excerpt {
  margin: 0;
  padding: 0;
}

.ws-updated-at {
  color: $govuk-secondary-text-colour;
  margin: 0;
  padding: 6px 0 0 0;
}
