.news_comments {
  margin-top: var(--space);
  padding: var(--space);
  background-color: var(--color-background-comments);
  border-radius: var(--border-radius);
  word-wrap: break-word;
}

.ws-category-lead-story {
  background-color: govuk-colour("light-grey");
  padding: 20px;
  margin-bottom: 20px;

  img {
    width: 100%;
    height: auto;
  }
}

.ws-news-items {
  h2 {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0;
  }

  list-style: none;
  padding: 0;
  margin: 0;

  li:first-child {
    padding-top: 0;
  }

  li {
    border-bottom: 1px solid black;
    padding: 12px 0 24px 0;
  }

  h2 {
    a {
      color: $govuk-link-colour;
    }
  }

  p {
    padding: 10px 0;
  }
}