.ws-profile__primary-contact-list {
    dd {
        margin-left: 0;
    }
}

.ws-profile-edit-form {
    fieldset {
        margin-bottom: 20px;
    }
}

.align-middle {
    vertical-align: middle;
}

.manager-search-results {
    max-height: 450px;
    overflow-y: auto;
}
