// Utility
.flex {
  display: flex;
}

.flex-1 {
  flex: 1 1 0%;
}

.align-items-center {
  align-items: center;
}

.align-middle {
  vertical-align: middle;
}

.text-right {
  text-align: right;
}

.inline-block {
  display: inline-block;
}

.separated > *:not(:last-child) {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid govuk-colour("mid-grey");
}

.p-0 {
  padding: 0;
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.gds-border-bottom-1-grey {
  border-bottom: 1px solid govuk-colour("mid-grey");
}

// Components
.ws-profile__primary-contact-list {
  dd {
    margin-left: 0;
  }
}

.ws-profile-edit-form {
  fieldset {
    margin-bottom: 20px;
  }
}

.manager-search-results {
  max-height: 450px;
  overflow-y: auto;
}

.pf-roles {
  button {
    margin-bottom: 0;
  }
}

.pf-role-form {
  padding: 20px;
  border: 1px solid govuk-colour("mid-grey");
  margin-bottom: 20px;

  button {
    margin-bottom: 0;
  }
}

.pf-messages {
  margin-top: 20px;
  font-weight: bold;

  li {
    padding-left: 15px;
  }

  .success {
    border-left: 5px solid $govuk-success-colour;
  }

  .warning {
    border-left: 5px solid $brand-color-warning;
  }

  .error {
    border-left: 5px solid $govuk-success-colour;
  }
}

// Team member cards
.pf-team-member-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  margin-right: -25px;

  li {
    list-style: none;
    padding-right: 25px;
  }
}

/* when the browser is wider than 640px */
@media screen and (min-width: 641px) {
  .pf-team-member-cards {
    li {
      width: 25%;
    }
  }
}

.pf-team-member-card__name {
  font-size: 20px;
  font-weight: bold;
}

.pf-team-member-card__job-title {
  font-size: 16px;
}

// Team cards
.pf-team-cards {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: -25px;

  > li {
    list-style: none;
    padding-right: 25px;
    padding-bottom: 25px;
  }
}

/* when the browser is wider than 640px */
@media screen and (min-width: 641px) {
  .pf-team-cards {
    > li {
      width: 33.333%;
    }
  }
}

.pf-team-card {
  height: 100%;
  padding: 22.5px;
  border: 1px solid govuk-colour("mid-grey");
  box-shadow: none;
}

.pf-team-card__name {
  font-size: 19px;
  font-weight: bold;
  margin-top: 0px;

  .govuk-link {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.pf-team-card__description {
  font-size: 16px;
}

.pf-team-card__metadata {
  font-size: 14px;
  color: govuk-colour("dark-grey");
  margin-bottom: 0;
}

// Pagination
.pf-pagination__info {
  text-align: right;
}

.pf-pagination__page {
  margin-right: 1em;
}

// Team tree
// These styles were copied from the original peoplefinder project.
.pf-team-tree {
  margin: 0 0 0 1em;
  padding: 0;
  list-style: none;
  @include govuk-font(19);

  a {
    @extend %govuk-link;
  }
}

.pf-team-tree--container {
  margin-bottom: 1em;
}

.pf-team-tree--with-subgroups {
  font-weight: bold;
}

.pf-team-tree__child {
  margin-bottom: 0;
  margin-left: 0.35em;
  line-height: 1.6;
  border-left: thin solid govuk-colour("black");

  &:last-child {
    border-left: none;
  }

  &:before {
    display: inline-block;
    width: 0.9em;
    height: 0.6em;
    margin-right: 0.1em;
    vertical-align: top;
    border-bottom: thin solid govuk-colour("black");
    content: "";
  }

  &:last-child:before {
    border-left: thin solid govuk-colour("black");
  }
}

// Audit log
.pf-audit-log__diff {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pf-audit-log__diff-item--add {
  color: govuk-colour("green");
}

.pf-audit-log__diff-item--change {
  color: govuk-colour("blue");
}

.pf-audit-log__diff-item--remove {
  color: govuk-colour("red");
}

// Team select
.team-select {
  &__teams {
    max-height: 25em;
    overflow-y: auto;
    margin-bottom: 20px;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
  }

  &__teams > ul {
    padding-left: 1rem;
  }
  &__teams > .govuk-radios--small .govuk-radios__item {
    float: none;
  }
  &__teams__team {
    display: inline-flex;
    align-items: flex-start;
  }
  &__teams__team span {
    margin-right: 1.2rem;
    padding-top: 11px;
  }
  &__teams__team span:hover svg polygon {
    fill: black;
  }

  svg {
    pointer-events: none;
  }

  li > div > span {
    cursor: pointer;
  }

  li[data-open] > div > span > svg {
    transform: rotate(90deg);
  }

  ul[data-team-id]:not([data-open]) {
    display: none;
  }

  .filtered ul[data-team-id]:not([data-match]),
  .filtered li[data-team-id]:not([data-match]) {
    display: none;
  }

  ul {
    list-style: none;
  }
}

.team-search-input-wrapper {
  display: flex;
  border: 2px solid govuk-colour("black");

  .team-search-input {
    border: none;
  }

  button {
    border: none;
    color: $govuk-link-colour;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: 9rem;

    &:hover {
      text-decoration: underline;
      color: $govuk-link-hover-colour;
    }

    &:focus {
      @include govuk-focused-text;
    }
  }
}

// Search results
.pf-person-search-result {
  display: flex;

  &__picture {
    width: 25%;
    margin-right: 1rem;

    img {
      max-width: 100%;
    }

    &.inactive-profile {
      img {
        filter: grayscale(100%) opacity(50%);
      }
    }
  }

  &__details {
    width: 75%;

    &__item {
      margin-bottom: 5px;

      .govuk-link {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.pf-team-search-results {
  @extend .pf-team-cards;

  > li {
    width: 50%;
  }
}

.missing-profile-completion-fields {
  .comma {
    &:last-child {
      display: none;
    }
  }
}

.pf-secondary-colour {
  color: $govuk-secondary-text-colour;
}

.profile-photo {
  --bubble-color: rgba(var(--color-1), var(--color-2), var(--color-3), 0.1);

  padding: 0px;
  display: grid;
  background: radial-gradient(circle at 13% 47%, var(--bubble-color) 0%, var(--bubble-color) 25%,transparent 25%, transparent 100%), radial-gradient(circle at 28% 63%, var(--bubble-color) 0%, var(--bubble-color) 16%,transparent 16%, transparent 100%),radial-gradient(circle at 81% 56%, var(--bubble-color) 0%, var(--bubble-color) 12%,transparent 12%, transparent 100%),radial-gradient(circle at 26% 48%, var(--bubble-color) 0%, var(--bubble-color) 6%,transparent 6%, transparent 100%),radial-gradient(circle at 97% 17%, var(--bubble-color) 0%, var(--bubble-color) 56%,transparent 56%, transparent 100%),radial-gradient(circle at 50% 100%, var(--bubble-color) 0%, var(--bubble-color) 36%,transparent 36%, transparent 100%),radial-gradient(circle at 55% 52%, var(--bubble-color) 0%, var(--bubble-color) 6%,transparent 6%, transparent 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));
  background-size: 400% 400%;
  transition: padding 0.2s ease-in-out;

  &:hover {
    padding: 5px;
    transition: padding 0.2s ease-in-out;
  }
}

// Animate the profile photo background gradient
.profile-photo {
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media screen and (max-width: 640px) {
  .moj-side-navigation {
    margin-bottom: 20px;
  }
  .moj-side-navigation,
  .moj-side-navigation__list {
    display: block;
  }
  .moj-side-navigation__item {
    flex-direction: column;
  }
  .moj-side-navigation__item {
    a,
    a:link,
    a:visited {
      width: 100%;
      border-bottom: none;
      padding: 15px;
      font-size: 19px;
    }
  }
  .moj-side-navigation__item--active {
    background-color: govuk-colour("light-grey");
    border-left: 4px solid #1d70b8;
  }
  .moj-side-navigation__item--active a:visited {
    border-color: govuk-colour("light-grey");
  }
}

.aspect-ratio-square {
  padding-bottom: 100%;
  height: 0px;
  position: relative;
  display: block;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    position: absolute;
  }
}

// CropperJS fixes for DWDS compatibility
.cropper-wrapper > .cropper-container * {
  max-inline-size: unset !important;
}