.ws-profile__primary-contact-list {
    dd {
        margin-left: 0;
    }
}

.ws-profile-edit-form {
    fieldset {
        margin-bottom: 20px;
    }
}

.align-middle {
    vertical-align: middle;
}

.manager-search-results {
    max-height: 450px;
    overflow-y: auto;
}

.pf-roles {
    button {
        margin-bottom: 0;
    }
}

.pf-role-form {
    padding: 20px;
    border: 1px solid #b1b4b6;
    margin-bottom: 20px;

    button {
        margin-bottom: 0;
    }
}

.pf-messages {
    li {
        padding-left: 15px;
    }

    .success {
        border-left: 5px solid green;
    }

    .warning {
        border-left: 5px solid orange;
    }

    .error {
        border-left: 5px solid #d4351c;
    }
}

// Team member cards
.pf-team-member-cards {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
    margin-right: -25px;

    li {
        list-style: none;
        padding-right: 25px;
    }
}

/* when the browser is wider than 640px */
@media screen and (min-width: 641px) {
    .pf-team-member-cards {
        li {
            width: 25%;
        }
    }
}

.pf-team-member-card__name {
    font-size: 20px;
    font-weight: bold;
}

.pf-team-member-card__job-title {
    font-size: 16px;
}

// Pagination
.pf-pagination__info {
    text-align: right;
}

.pf-pagination__page {
    margin-right: 1em;
}

// Team select web component styles
.team-select__teams {
    margin-bottom: 20px;
    border: 2px solid black;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        padding-top: 10px;
        padding-bottom: 10px;

        &:not(:last-child) {
            border-bottom: 1px solid #f3f2f1;
        }
    }

    a {
        text-decoration: none;
    }
}

.team-select__branch-team {
    padding-left: 2rem;
}

.team-select__leaf-team {
    padding-left: 2rem;
}

.team-select__nav-up {
    padding-left: 5px;

    &::before {
        content: '‹ ';
    }
}

.team-select__nav-down::after {
    content: ' ›';
}
