
.search-results-wrapper {
  margin-top:10px;
  .search-results {
    list-style: none;
    padding: 0;
    margin: 0;
    em {
      font-weight: bold;
    }
  }
  .pinned {
    background-color: govuk-colour("light-grey");
    margin-bottom: 20px;
  }
}

