.search-results-wrapper {
  margin-top: 10px;

  .search-results {
    list-style: none;
    padding: 0;
    margin: 0;

    em {
      font-weight: bold;
    }
  }

  .pinned {
    background-color: govuk-colour("light-grey");
    margin-bottom: 20px;
  }
}

// Search v2
.search-results {
  margin-bottom: 2rem;

  .search-v2-hide {
    display: none;
  }
}

.search-results__categories {
  border-bottom: 1px solid black;
  margin-bottom: 1rem;

  div {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    padding-bottom: 1em;

    > a {
      padding: 0.4em 1em;
      margin-left: -1em;
      margin-right: -1em;

      &[data-selected],
      &:hover {
        color: govuk-colour("white");
        background-color: $govuk-link-colour;
        text-decoration: none;
      }
      &:focus {
        color: govuk-colour("black");
        background-color: $govuk-focus-colour;
        box-shadow: 0 -2px $govuk-focus-colour, 0 5px govuk-colour("black");
      }
    }
  }
}

.search-results__all {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 1rem;

  .left-col {
    order: 2;
  }

  .right-col {
    order: 1;
  }

  .people {
    margin-bottom: 1rem;
  }
}

@include govuk-media-query($from: tablet) {
  .search-results__categories {
    div {
      max-width: 660px;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 5px;

      > a {
        margin: 0;
        padding: 0.25em 0;

        &[data-selected],
        &:hover {
          color: $govuk-link-colour;
          background-color: govuk-colour("white");
          box-shadow: 0 0 govuk-colour("white"), 0 5px $govuk-link-colour;
        }

        &:focus {
          color: govuk-colour("black");
          background-color: $govuk-focus-colour;
          box-shadow: 0 -2px $govuk-focus-colour, 0 5px govuk-colour("black");
        }
      }
    }
  }
}

@include govuk-media-query($from: desktop) {
  .search-results__all {
    grid-template-columns: 2fr 1fr;

    .left-col {
      order: 1;
    }
    .right-col {
      order: 2;
    }
  }

  .search-results__categories {
    div {
        max-width: none;
      justify-content: flex-start;
      gap: 1em;
    }
  }
}

.search-results__list {
  .pinned {
    padding: 1rem;
    margin-bottom: 2rem;
    background-color: govuk-colour("light-grey");
  }
}

.search-results__list[data-search-category="teams"] {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.search-result {
  container-type: inline-size;
  width: 100%;
}

.search-result--person {
  margin-bottom: 1rem;

  [data-detail-additional] {
    display: none;
  }
}

// Show a person's additional details when the container is medium-large.
@container (min-width: 320px) {
  .search-result--person [data-detail-additional] {
    display: block;
  }
}

.search-result--page {
  padding-bottom: 0.5rem;

  &:not(:last-child) {
    margin-bottom: 1rem;
    border-bottom: 1px solid $govuk-border-colour;
  }

  > * {
    margin-bottom: 0.5rem;
  }

  .govuk-heading-s {
    .govuk-link:hover {
        text-decoration: underline;
    }
  }
}

.beta-feedback {
    margin-top: 30px;
}

.feedback {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  .feedback-header {
    display: inline-flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: $govuk-brand-colour;
    min-height: 3.5rem;
    > * {
      display: inline-flex;
    }
    .govuk-button {
      width: auto !important;
    }

    div.govuk-body-s {
      color: govuk-colour("white");
    }
  }
}

#navigation-page-feedback {
    display: block;

    .feedback-header {
        text-align: right;
        display: block;
    }
}

.low-score-message-container {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #DBD5E9;
  border-left: 8px solid #6F72AF;
  display: flex;
  flex-direction: column;
  vertical-align: middle;
  gap: 1rem;
  h2, p {
    margin: 0;
  }
}
