.nav-and-profile-bar {
    background-color: $brand-color-navy;
    border-top: 5px solid $brand-color-primary;
}

.people-finder-panel {
    display: flex;
    justify-content: flex-end;

    .profile-link {
        display: flex;
        align-items: center;
        column-gap: 10px;

        &:link,
        &:hover,
        &:visited {
            color: govuk-colour("white");
        }

        &:focus {
            @include govuk-focused-text;
            box-shadow: none;

            .profile-details {
                @include govuk-focused-text;
                box-shadow: none;
            }
        }
    }

    @include govuk-media-query($until: desktop, $media-type: "screen") {
        position: absolute;
        top: 15px;
        right: 0;

        .profile-link {
            display: flex;
            column-gap: 5px;

            .profile-prompt {
                display: none;
            }

            img {
                width: 20px;
                height: 20px;
            }
        }
    }

    .profile-details {
        display: flex;
        flex-direction: column;
        @include govuk-font($size: 16, $weight: bold);
        background: none;
        padding: 0;
        text-align: right;
        color: govuk-colour("black");
        font-weight: normal;
        text-decoration-color: govuk-colour("black");

        .salutation {
            text-decoration: underline;
        }

        .profile-prompt {
            display: inline;
            text-decoration: none;

            span {
                display: inline-block;
            }
        }
    }

    .profile-image {
        width: 64px;
        height: 64px;
    }

    .profile-prompt {
        @include govuk-font($size: 14);
        display: block;
    }
}
