.ws-streamfield-content__caption {
  padding: govuk-spacing(3);

  @include govuk-font($size: 16);
  background-color: govuk-colour("light-grey");
}

.ws-streamfield-content__media {
  margin: 0 0 govuk-spacing(3) 0;
  max-width: 100%;
  height: auto;
}

.ws-streamfield-content__cta-link-container {
  padding-top: govuk-spacing(2);

  a,
  a:visited {
    color: $govuk-text-colour;
    padding: govuk-spacing(4);
  }
}