.ws-streamfield-content {
    > p:first-child {
        margin-top: 0;
    }

    > p:last-child {
        margin-bottom: 0;
    }
}

.ws-streamfield-content__image {
    margin-left: 0;
    margin-right: 0;

    img {
        max-inline-size: 100%;
        width: 100%;
        height: auto;
        border-radius: var(--border-radius);
    }
}

.ws-streamfield-content__caption {
    font-size: var(--text-small);
    color: var(--color-text-secondary);
}

.ws-streamfield-content__media {
    margin: 0 0 govuk-spacing(3) 0;
    max-width: 100%;
    height: auto;
}

.ws-streamfield-content__cta-link-container {
    padding-top: govuk-spacing(2);

    a,
    a:visited {
        color: $govuk-text-colour;
        padding: govuk-spacing(4);
    }
}