.ws-streamfield-content__image {
  margin-left: 0;
  margin-right: 0;

  img {
    max-inline-size: 100%;
    width: 100%;
    height: auto;
  }
}

.ws-streamfield-content__caption {
  padding: var(--space);
  font-size: var(--text-medium);
  background-color: var(--gds-light-grey);
}

.ws-streamfield-content__media {
  margin: 0 0 govuk-spacing(3) 0;
  max-width: 100%;
  height: auto;
}

.ws-streamfield-content__cta-link-container {
  padding-top: govuk-spacing(2);

  a,
  a:visited {
    color: $govuk-text-colour;
    padding: govuk-spacing(4);
  }
}