<div class="ws-content-page__metadata govuk-inset-text">
    <p class="ws-content-page__metadata-item ws-content-page__metadata-item--highlighted">
        {% if perm_sec_as_author %}
            {{ settings.PERM_SEC_NAME }}
        {% elif first_publisher_as_author %}
            {% if page.get_first_publisher %}
                {{ page.get_first_publisher.get_full_name }}
            {% endif %}
        {% else %}
            {{ page.get_latest_revision.user.get_full_name }}
        {% endif %}
    </p>
    <time class="ws-content-page__metadata-item"
          datetime="{{ page.first_published_at|date:"c" }}">
        First published {{ page.first_published_at }}
    </time>
    <time class="ws-content-page__metadata-item"
          datetime="{{ page.last_published_at|date:"c" }}">
        Last updated {{ page.last_published_at }}
    </time>
</div>