{% load wagtailuserbar %}

<footer class="govuk-footer " role="contentinfo">
    <div class="govuk-width-container">
        <div class="govuk-footer__meta">
            <div class="govuk-footer__meta-item govuk-footer__meta-item--grow">
                {% wagtailuserbar %}
                <h2 class="govuk-visually-hidden">Support links</h2>
                <ul class="govuk-footer__inline-list">
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="https://people.trade.gov.uk/teams/department-for-business-and-trade">
                            Teams
                        </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="/networks/">
                            Networks
                        </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="https://people.trade.gov.uk/teams/uk-regions">
                            Regions
                        </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="/working-at-dbt/policies-and-guidance/policies/accessibility-statement-for-digital-workspace/">
                            Accessibility statement
                        </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="/working-at-dbt/policies-and-guidance/privacy-policies/">
                            Privacy policies
                        </a>
                    </li>
                    <li class="govuk-footer__inline-list-item">
                        <a class="govuk-footer__link" href="mailto:digitalworkspace@digital.trade.gov.uk">Feedback</a>
                    </li>
                </ul>
                <span class="govuk-footer__licence-description">
          Built by the <a class="govuk-footer__link" href="https://people.trade.gov.uk/teams/digital-data-and-technology">DBT Digital, Data and Technology team</a>
        </span>
            </div>
            <div class="govuk-footer__meta-item">
                <a class="govuk-footer__link govuk-footer__copyright-logo"
                   href="https://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/uk-government-licensing-framework/crown-copyright/">©
                    Crown copyright</a>
            </div>
        </div>
    </div>
</footer>
