{% load menu_tags %}
{% load render_bundle webpack_static from webpack_loader %}
{#{% get_menu "main" as main_navigation %}#}
<header class="govuk-header govuk-header--ws"
        role="banner"
        data-module="govuk-header">
    {# @TODO [DWPF-454] remove search-v2 class #}
    <div class="govuk-header__container govuk-width-container search-v2">
        <div class="govuk-header__logo govuk-header__logo--ws">
            <a href="/" class="govuk-header__link govuk-header__link--homepage">
                <span class="govuk-header__logotype govuk-header__logotype--ws">
                    <img aria-hidden="true" src="{% webpack_static 'dbt-logo.png' %}"
                        srcset="{% webpack_static 'dbt-logo@2x.png' %} 2x" {# /PS-IGNORE #}
                        alt="Department for Business & Trade logo">
                        <span class="govuk-visually-hidden">Department for Business & Trade</span>
                    </span>
                </a>
            </div>
            <div class="govuk-header__content">
                <a href="/"
                   class="govuk-header__link govuk-header__link--ws govuk-header__link--service-name govuk-header__link--service-name--ws">
                    Digital Workspace
                </a>
                <button type="button"
                        class="govuk-header__menu-button govuk-header__menu-button--ws govuk-js-header-toggle"
                        aria-controls="navigation"
                        aria-label="Show or hide Top Level Navigation">
                    Menu
                </button>
            </div>
            {% include 'includes/profile_panel.html' %}
        </div>
    </header>
    <div class="nav-and-profile-bar">
        <div class="govuk-width-container">
            <nav>
                {% main_menu max_levels=1 template="menus/main_menu.html" apply_active_classes=True %}
            </nav>
            <div class="site-search">
                {% include 'search/partials/search_form.html' with placeholder="Search pages and people" %}
            </div>
        </div>
    </div>
