<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Is there anything wrong with this page?
    </span>
  </summary>
  <div class="govuk-details__text">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">Provide details of the issue</h1>
        </legend>
        <form action="{% url "page_problem_found" %}" novalidate method='post'>
            {% csrf_token %}
            {% include "includes/govt_uk_form.html" with form=page_problem_form %}
            <input type="submit" value="Submit" class="govuk-button govuk-button" data-module="govuk-button"/>
        </form>
    </fieldset>
  </div>
</details>
