{% load render_bundle webpack_static from webpack_loader %}

<div class="search-and-profile-bar">
    <div class="govuk-width-container">
        <form class="search-form" method="GET" action="https://people.trade.gov.uk/search">
            <label for="search-main" class="govuk-visually-hidden">
                Search people, teams and skills
            </label>
            <input name="search[filters][]" type="hidden" value="people">
            <input name="search[filters][]" type="hidden" value="groups">
            <input class="govuk-input" type="search" name="search[query]" title="Search people, teams and skills" aria-controls="" placeholder="Search people, teams and skills">
            <button type="submit">Search</button>
        </form>
        <div class="people-finder-panel">
            {% if peoplefinder_v2 %}
                <a class="profile-link" href="/people/{{ user.id }}">
                    <div class="profile-details">
                        Hi, {{ user.first_name|truncatechars:25 }}
                        <span class="profile-prompt">
                            {% if peoplefinder_profile.profile_completion < 100 %}
                                Set up your profile ({{ peoplefinder_profile.profile_completion|floatformat:0 }}% complete)
                            {% else %}
                                View your profile
                            {% endif %}
                        </span>
                    </div>
                </a>
            {% else %}
                {% if peoplefinder_profile.is_blank %}
                    <a class="profile-link" href="{{ peoplefinder_profile.setup_profile_url }}">
                        <div class="profile-details">
                            Please set up your profile
                            <span class="profile-prompt">
                            Set up your profile now
                            </span>
                        </div>
                    </a>
                {% elif peoplefinder_profile %}
                    <a class="profile-link" href="{{ peoplefinder_profile.profile_url }}">
                        <div class="profile-details">
                            Hi, {{ peoplefinder_profile.first_name|truncatechars:25 }}
                            <span class="profile-prompt">
                                {% if peoplefinder_profile.is_complete %}
                                    View your profile
                                {% else %}
                                    Set up your profile ({{ peoplefinder_profile.completion_percentage }}% complete)
                                {% endif %}
                            </span>
                        </div>
                        {% if peoplefinder_profile.profile_image_url %}
                        <img src="{{ peoplefinder_profile.profile_image_url }}"
                                alt="Profile image of {{ peoplefinder_profile.name }}"
                                class="profile-image">
                        {% else %}
                        <img src="{% webpack_static 'no-photo.png' %}"
                                alt="No photo"
                                class="profile-image">
                        {% endif %}
                    </a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
