{% load render_bundle webpack_static from webpack_loader %}
{# TODO [DWPF-454] Delete this template #}
<div class="search-and-profile-bar">
    <div class="govuk-width-container">
        {# if not request.user.enable_v2_search #}
        <form class="search-form"
              method="GET"
              action="{% url 'people-and-teams-search' %}">
            <label for="search-main" class="govuk-visually-hidden">Search people, teams and skills</label>
            <input class="govuk-input"
                   type="search"
                   name="query"
                   value="{{ people_and_teams_search_query|default:'' }}"
                   title="Search people, teams and skills"
                   aria-controls=""
                   placeholder="Search people, teams and skills">
            {% if people_and_teams_search_filters %}
                {% for filter in people_and_teams_search_filters %}
                    <input type="hidden" name="filters" value="{{ filter }}">
                {% endfor %}
            {% else %}
                <input type="hidden" name="filters" value="teams">
                <input type="hidden" name="filters" value="people">
            {% endif %}
            <button type="submit">Search</button>
        </form>
        {# else #}
        <!-- <div></div> -->
        {# endif #}
        {% include 'includes/profile_panel.html' %}
    </div>
</div>
