{% extends "dwds_content.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load site_alert %}

{% block bookmark %}
{% endblock bookmark %}

{% block body_classes %}
    homepage new-home
{% endblock body_classes %}

{% block pre_content %}
    {% include "home/includes/home_banner.html" with hide_hr=True %}
{% endblock pre_content %}

{% block page_title %}
{% endblock page_title %}

{% block primary_content %}
    <article>
        {# spaceless is required to enable the use of the :empty pseudo css selector #}
        {% spaceless %}
            <section>
                {% site_alert %}
            </section>
        {% endspaceless %}

        <section class="stack">
            {% if news_items %}
                {% include "dwds/components/one_up_card.html" with title=news_items.0.title excerpt=news_items.0.excerpt thumbnail=news_items.0.preview_image url=news_items.0.url date=news_items.0.last_published_at %}
            {% endif %}

            <ul class="grid grid-small home-news-items">
                {% for news_item in news_items %}
                    {% if not forloop.first %}
                        <li data-testid="home-news-item">
                            {% include "dwds/components/engagement_card.html" with title=news_item.title excerpt=news_item.excerpt thumbnail=news_item.preview_image url=news_item.url date=news_item.last_published_at %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <a href="/news-and-views/">View all news</a>
            {% if not hide_news %}
                {% include "dwds/components/link_list.html" with title="DBT news from GOV.UK" list=govuk_feed %}
            {% endif %}
        </section>

    </article>
{% endblock primary_content %}

{% block secondary_content %}
    <article>
        {% comment %} TODO: to add bookmark card {% endcomment %}
        <section class="stack">
            {% include "dwds/components/link_list.html" with title="Quick links" list=quick_links %}
        </section>
        {% comment %} <section>
            {% include "dwds/components/link_list.html" with title="Popular pages" list=whats_popular_items %}
        </section> {% endcomment %}
    </article>
{% endblock secondary_content %}
