{% extends "2_col_content.html" %}
{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load twitter_tags %}

{% block content %}
    <article class="ws-home-wrapper new-home">
        <h1 class="ws-hide">Digital Workspace</h1>
        <section aria-labelledby="home-news-items">
            <h2 class="govuk-heading-m" id="home-news-items">Latest News</h2>

            <div class="main-news-item">
                {% include "home/includes/news_item_new.html" with news_item=news_items.0 main=True %}
            </div>

            <ul class="ws-news-grid-items">

                {% for news_item in news_items %}
                    {% if not forloop.first %}
                        <li class="news-item news-item-{{ forloop.counter }}"
                            data-testid="home-news-item">
                            {% include "home/includes/news_item_new.html" with news_item=news_item %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <a class="govuk-link" href="/news-and-views/">View all news</a>
        </section>

        {% if not hide_news %}
            <section>
                <h2 class="govuk-heading-m">DBT news from GOV.UK</h2>
                <ul class="govuk-news">
                    {% for govuk_news_item in govuk_feed %}
                        <li>
                            <p>
                                <a class="govuk-link" href="{{ govuk_news_item.links.0.href }}">{{ govuk_news_item.title.value }}</a>
                            </p>
                            <p class="govuk-body-s">{{ govuk_news_item.updated }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
    </article>
    <a href="?dwft_new_homepage=0">OLD HOME PAGE</a>
{% endblock content %}

{% block tertiary_col_content %}
    <article class="ws-home-wrapper new-home">
        <section>
            <h3 class="govuk-heading-m" id="bookmark-menu">Bookmarks</h3>
            <ul class="bookmarks-wrapper">
                {% for bookmark in bookmarks %}
                    <li>
                        <a class="govuk-link" href="{% pageurl bookmark.link_to %}">{{ bookmark.title }}</a>
                    </li>
                {% empty %}
                    <li>
                        <p class="govuk-body-s">
                            You have not yet saved any bookmarks. User the ** icon at the top of a page to save it to here.
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </section>

        {% comment %} <section>
            <h3 class="govuk-heading-m" id="recently-updated-menu">Recent updates</h3>
            <ul class="recently-updated-wrapper">
                {% for recently_updated in recently_updated %}
                    <li>
                        <a class="govuk-link" href="{% pageurl recently_updated.link_to %}">{{ recently_updated.title }}</a>
                    </li>
                {% empty %}
                    <li>
                        <p class="govuk-body-s">Updates to pages you've bookmarked or viewed recently will appear here.</p>
                    </li>
                {% endfor %}
            </ul>
        </section> {% endcomment %}

        <section>
            <h3 class="govuk-heading-m" id="recently-viewed-menu">Recently viewed</h3>
            <ul class="recently-viewed-wrapper">
                {% for recently_viewed in recently_viewed %}
                    <li>
                        <a class="govuk-link" href="{% pageurl recently_viewed.link_to %}">{{ recently_viewed.title }}</a>
                    </li>
                {% empty %}
                    <li>
                        <p class="govuk-body-s">The most recent pages you visit will appear here.</p>
                    </li>
                {% endfor %}
            </ul>
        </section>

        <section>
            <h3 class="govuk-heading-m" id="quick-link-menu">Quick links</h3>
            <ul class="quick-links-wrapper">
                {% for quick_link in quick_links %}
                    <li>
                        <a class="govuk-link" href="{% pageurl quick_link.link_to %}">{{ quick_link.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </section>

        {% comment %} <section>
            <h2 class="govuk-heading-m">How do I?</h2>
            <ul class="how-do-i">
                {% for how_do_i_item in how_do_i_items %}
                    <li>
                        <a class="govuk-link" href="{% pageurl how_do_i_item %}">{{ how_do_i_item }}</a>
                    </li>
                {% endfor %}
            </ul>
            <p class="ws-all-how-to">
                <a class="govuk-link" href="/working-at-dbt/how-do-i/">View all "How do I?" guides</a>
            </p>
        </section> {% endcomment %}

        <section>
            <h2 class="govuk-heading-m">Popular pages</h2>
            <ul class="ws-whats-popular">
                {% for whats_popular_item in whats_popular_items %}
                    <li class="ws-whats-popular-item">
                        {% image whats_popular_item.preview_image fill-300x100 %}
                        <p>
                            {% if whats_popular_item.link_to %}
                                <a class="govuk-link" href="{% pageurl whats_popular_item.link_to %}">{{ whats_popular_item.title }}</a>
                            {% else %}
                                <a class="govuk-link" href="{{ whats_popular_item.external_url }}">{{ whats_popular_item.title }}</a>
                            {% endif %}
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </section>
    </article>
{% endblock tertiary_col_content %}
