{% extends "dwds_sidebar.html" %}

{% load static %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load cards %}

{% block body_classes %}
    {{ block.super }} homepage new-home
{% endblock body_classes %}

{% block breadcrumbs %}
{% endblock breadcrumbs %}

{% block pre_content %}
{% endblock pre_content %}

{% block page_title_wrapper %}
{% endblock page_title_wrapper %}

{% block primary_content_classes %}
{% endblock primary_content_classes %}

{% block primary_content %}
    <article>
        <section>
            <div class="content-stack large">
                <!-- User selected top priority page cards -->
                {% if not is_empty %}
                    {% for pages in pages_by_news_layout %}
                        {% if pages %}
                            <div class="content-switcher max-3">
                                {% for page in pages %}
                                    <c-dwds-card>
                                        <c-slot name="card_content">
                                            {% if pages|length == 1 %}
                                                {% page_to_one_up page %}
                                            {% else %}
                                                {% page_to_engagement page %}
                                            {% endif %}
                                        </c-slot>
                                    </c-dwds-card>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                {% if page.promo_enabled %}
                    <c-dwds-card>
                        <c-slot name="card_content">
                            {% include 'dwds/components/promo.html' with ribbon_text=page.promo_ribbon_text description=page.promo_description link_url=page.promo_link_url link_text=page.promo_link_text thumbnail=page.promo_image %}
                        </c-slot>
                    </c-dwds-card>
                {% endif %}

                {% if news_items %}
                    <c-dwds-card no-shadow="true">
                        <c-slot name="card_content">
                            {% include "dwds/components/content_list.html" with title="More DBT news" content_items=news_items link_url="/news-and-views/" link_text="View all news" %}
                        </c-slot>
                    </c-dwds-card>
                {% endif %}

                {% if events %}
                    <c-dwds-card no-shadow="true">
                        <c-slot name="card_content">
                            {% include "dwds/components/content_list.html" with as_card_grid=True highlight=True title="Events" content_items=events link_url="/events/" link_text="View all events" %}
                        </c-slot>
                    </c-dwds-card>
                {% endif %}

                {% if not hide_news %}
                    <c-dwds-card>
                        <c-slot name="card_content">
                            <div class="content-item">
                                {% include "dwds/components/link_list.html" with title="DBT news from GOV.UK" list=govuk_feed %}
                            </div>
                        </c-slot>
                    </c-dwds-card>
                {% endif %}
            </div>
        </section>
    </article>
{% endblock primary_content %}
