.dwds-card {
    --card-white: #fff;
    --border-radius: var(--s-3);
    --bottom-border-height: var(--s-5);
    --body-background-colour: var(--card-white);

    display: flex;
    flex-direction: column;

    border-radius: var(--border-radius);
    box-shadow: 0 var(--bottom-border-height) 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-color: var(--body-background-colour);

    container-name: card;
    container-type: inline-size;

    &.dwds-card-blue {
        .card-main {
            .card-content {
                .card-body {
                    --body-background-colour: var(--dbt-blue);
                }
            }
        }
    }

    &.dwds-card-red {
        .card-main {
            .card-content {
                .card-body {
                    --body-background-colour: var(--dbt-red);
                }
            }
        }
    }

    .card-header {
        --header-background-colour: var(--dbt-blue);
        --header-text-colour: var(--card-white);

        padding: var(--s2) var(--s1) var(--s0) var(--s0);
        align-items: flex-start;
        background: linear-gradient(180deg, rgba(0, 40, 95, 0.00) 53.55%, #00285F 99.65%), url("/assets/images/dwds/card-header-bg.png") center / cover no-repeat, #00285F;
        font-weight: var(--font-weight-bold);
        color: var(--header-text-colour);

        .card-subtitle {
            font-size: var(--s0);
        }

        h2,
        h3 {
            color: var(--header-text-colour);
        }
    }

    .card-main {
        flex-grow: 1;

        display: flex;
        flex-direction: column;

        > img {
            width: 100%;
            height: auto;
            align-self: stretch;
            object-fit: cover;
        }

        .card-content {
            flex-grow: 1;

            display: flex;
            flex-direction: column;

            .card-body {
                flex-grow: 1;
                padding: var(--s0);
                font-size: var(--s0);
                line-height: var(--font-lineheight-body);

                h2, h3 {
                    margin-top: 0;

                    a {
                        text-decoration: none;
    
                        &:hover, &:active, &:focus {
                            text-decoration-line: underline;
                            text-decoration-color: var(--color-link);
                        }
    
                        &:active {
                            background-color: var(--color-link-background-active);
                        }
                    }
                }
            }
        }

        .card-footer {
            padding: 0 var(--s0) var(--s0) var(--s0);
            color: var(--color-text-secondary);
        }
    }
}

@container card (width > 60ch) {
    .card-with-image {
        .card-main {
            display: grid;
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 1fr;
        }

        &.image-right {
            .card-content {
                grid-column: 1;
                grid-row: 1;
            }
    
            .card-main > img {
                grid-column: 2;
                grid-row: 1;
            }
        }
    }
}
