.dwds-card {
    --border-radius: 6px; // TODO: Change from px to a variable
    --bottom-border-height: var(--border-radius);
    --ribbon-background-blue: #00285F; // TODO: Change to a variable
    --ribbon-background-red: #CF102D; // TODO: Change to a variable
    --ribbon-padding: calc(var(--space) / 2);
    --ribbon-text-colour: #ffffff; // TODO: Change to a variable
    --header-background-colour: #00285F; // TODO: Change to a variable
    --header-text-colour: #ffffff; // TODO: Change to a variable
    --body-background-colour: #ffffff; // TODO: Change to a variable

    border-radius: var(--border-radius);
    border-bottom: var(--bottom-border-height) solid lightgray;
    overflow: hidden;
    background: #fff; // TODO: Change to a variable
    height: auto;

    &--ribbon {
        color: var(--ribbon-text-colour);
        background: var(--ribbon-background-blue);
        display: inline-block;
        padding: var(--ribbon-padding);

        --ribbon-left-space: calc(var(--space) + calc(var(--space) / 2));

        margin-left: calc(var(--ribbon-left-space) * -1);
        padding-left: var(--ribbon-left-space);

        &--red {
            background: var(--ribbon-background-red);
        }
    }

    &--header {
        padding: var(--space);
        align-items: flex-start;
        background: linear-gradient(180deg, rgba(0, 40, 95, 0.00) 53.55%, #00285F 99.65%), url("/assets/images/dwds/card-header-bg.png") center / cover no-repeat, #00285F;
        background-blend-mode: overlay;
        color: var(--header-text-colour);

        h2,
        h3 {
            color: var(--header-text-colour);
        }
    }

    // The first &--image or &--content
    &--main {
        height: 100%;

        img {
            width: 100%;
            height: auto;
        }

        &--content {

            &--body {
                padding: var(--space);
                background-color: var(--body-background-colour);
            }

        }

        &--footer {
            padding: 0 var(--space) var(--space) var(--space);
            align-items: flex-end;
        }
    }
}