.dwds-ribbon {
    --ribbon-background-blue: var(--dbt-blue);
    --ribbon-background-red: var(--dbt-red);
    --ribbon-padding: var(--s-4);
    --ribbon-text-height: var(--s1);
    --ribbon-left-space: calc(var(--space) + calc(var(--space) / 2));
    --ribbon-text-colour: var(--card-white);
    --ribbon-line-height: var(--font-lineheight-headings);
    --ribbon-height: calc(var(--ribbon-padding) + var(--ribbon-padding) + var(--ribbon-line-height));

    display: inline-block;
    font-size: var(--ribbon-text-height);


    &--main,
    &--spacer {
        // max-height: var(--ribbon-height);
        padding: var(--ribbon-padding) var(--ribbon-padding) var(--ribbon-padding) var(--ribbon-left-space);
        margin-left: calc(var(--ribbon-left-space) * -1);

    }

    &--main {
        margin-top: calc(var(--ribbon-height) * -1);
        color: var(--ribbon-text-colour);
        background: var(--ribbon-background-blue);
        position: absolute;

        &--red {
            background: var(--ribbon-background-red);
        }
    }
}