<form
    class="search-form"
    action="{% if search_url %}{{ search_url }}{% else %}{% url 'search' %}{% endif %}"
    method="get"
    >
    <label for="search-site" class="govuk-visually-hidden">Search Digital Workspace</label>
    <input id="search-site"
           class="govuk-input"
           name="query"
           placeholder="{{ placeholder|default:'Search site' }}"
           type="search"
           value="{{ search_query|default:'' }}"/>
    <button type="submit">Search</button>
</form>
