.dwds-content-item-card {
    --content-item-card-radius: var(--border-radius);
    --card-bottom-border-height: 5px;

    display: flex;
    box-shadow: 0 var(--card-bottom-border-height) 0 rgba(0, 0, 0, 0.2);
    border-radius: var(--content-item-card-radius);
    overflow: hidden;

    min-inline-size: var(--card-min-width);

    > div {
        flex-grow: 1;
    }
}

.dwds-content-item-card.no-shadow {
    --card-bottom-border-height: 0;
}

.dwds-content-item-card.flippable {
    width: 300px;
    height: 300px;

    .flippable-content {
        position: relative;
        width: 100%;
        height: 100%;
        transition: transform 1s;
        transform-style: preserve-3d;

        .div {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        > div {
            position: absolute;
            width: 100%;
            height: 100%;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        > div:first-child {
            background-color: var(--color-background-card);
        }

        > div:last-child {
            transform: rotateY(180deg);
        }
    }

    &:hover .flippable-content {
        transform: perspective(300px) rotateY(180deg);
    }
}
