.content-custom-sidebar-wrapper {
    container-name: custom_sidebar;
    container-type: inline-size;
}

.content-custom-sidebar {
    --sidebar-gap: 0;

    display: flex;
    flex-direction: column;

    gap: var(--sidebar-gap);

    height: 100%;

    > .content-image {
        // flex-grow: 1;
        flex-basis: 0;
        img {
            width: 100%;
            height: auto;
        }
    }

    > .content-main {
        flex-grow: 999;
    }
}

@container custom_sidebar (width > 600px) {
    .content-custom-sidebar {
        flex-direction: row;

        > .content-image img {
            width: 30ch;
            object-fit: contain;
            object-position: 0 0;
        }

        > .content-main {
            > .content-footer {
                margin-top: unset;
            }
        }
    }

    .content-custom-sidebar.large {
        > .content-image {
            flex-basis: 100%;
        }
    }
}
