.content-switcher {
    --content-switcher-min-width: 36rem;

    display: flex;
    flex-wrap: wrap;
    gap: var(--space);

    > * {
        flex-grow: 1;
        flex-basis: calc((var(--content-switcher-min-width) - 100%) * 999);
    }
}

.content-switcher.max-3 {

    > :nth-last-child(n+ 4),
    > :nth-last-child(n+ 4) ~ * {
        flex-basis: 100%;
    }
}