.content-stack {
    --content-stack-gap: var(--s0);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.content-stack.no-gap {
    --content-stack-gap: 0;
}

.content-stack.tiny {
    --content-stack-gap: var(--s-5);
}

.content-stack.small {
    --content-stack-gap: var(--s-3);
}

.content-stack.large {
    --content-stack-gap: var(--space);
}

.content-stack > * {
    margin-block: 0;
}

.content-stack > * + * {
    margin-block-start: var(--content-stack-gap);
}