.dwds-content-item-card.icon-card {
    --icon-card-bg-color: var(--card-bg-white);
    --icon-card-padding: var(--s-2);

    background-color: var(--icon-card-bg-color);
    padding: var(--icon-card-padding);
}