{% load waffle_tags %}
{% if FEATURE_FLAGS.new_homepage_available %}
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <span class="govuk-phase-banner__text">
                {% if FEATURE_FLAGS.new_homepage %}
                    <a class="govuk-link" href="/?dwft_new_homepage=0">Return to the old homepage</a>.
                {% else %}
                    We are testing a new homepage design. <a class="govuk-link" href="/?dwft_new_homepage=1">Test it out</a>.
                {% endif %}
            </span>
        </p>
    </div>
    {% if not hide_hr %}<hr class="govuk-section-break govuk-section-break--visible">{% endif %}
{% endif %}
