{% extends "dwds_content.html" %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block page_title_wrapper %}
{% endblock page_title_wrapper %}

{% block primary_content_classes %}
{% endblock primary_content_classes %}

{% block primary_content %}
    <h1>Networks</h1>
    <p>
        Discover and connect with DBT's vibrant communities. Our networks are designed to bring staff together across roles and locations, fostering connections, collaboration and shared learning. Whether you are interested in professional development, diversity and inclusion or health and wellbeing, our networks offer a range of groups that support personal and career growth.
    </p>

    <h2>Staff networks</h2>
    <p>
        DBT's staff networks help you meet new people, try something new, continue to build on a skill, or indulge an interest.
    </p>

    <h2>Diversity and inclusion networks</h2>
    <p>
        DBT's diversity and inclusion (D&I) networks offer peer support, raise awareness of the needs of staff, influence departmental policy, and coordinate issues that cut across the diversity agenda.
    </p>
    <br>
    <p>
        The <a href="mailto:Inclusion@businessandtrade.gov.uk">Employee Experience and Engagement Team</a> works towards the strategic objectives set out in the <a href="https://workspace.trade.gov.uk/working-at-dbt/policies-and-guidance/guidance/embracing-fairness-for-all-diversity-and-inclusion-framework/">Diversity and Inclusion Framework 2024-2028</a>, and works in close partnership with DBT's D&I Networks.
    </p>
    <br>
    <p>
        For more information on DBT's D&I network partnership agreement and structure, visit <a href="https://workspace.trade.gov.uk/di-networks/di-networks-ways-of-working/">D&I Networks Ways of Working</a>.
    </p>
{% endblock primary_content %}
