{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="ws-content-page govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ page.title }}</h1>
        {% include "includes/attribution.html" with page=page %}
        {{ page.legacy_content|safe }}
      <div class="ws-streamfield-content">
        {% for block in page.body %}
          {% include_block block %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
