{% extends "content/content_page.html" %}
{% load cards %}

{% block primary_content_classes %}
    content-stack large
{% endblock primary_content_classes %}

{% block primary_content %}
    {{ block.super }}
    <div class="content-grid grid-cards-auto-fill">
        {% for child in children %}
            <c-dwds-card>
                <c-slot name="card_content">
                    {% page_to_engagement child %}
                </c-slot>
            </c-dwds-card>
        {% endfor %}
    </div>
{% endblock primary_content %}

{% block post_primary_content %}
{% endblock post_primary_content %}
