{% extends "dwds_sidebar.html" %}
{% load wagtailcore_tags wagtailimages_tags cards %}

{% block primary_content_classes %}
    content-stack large
{% endblock primary_content_classes %}

{% block page_title_wrapper %}
{% endblock page_title_wrapper %}

{% block primary_content %}
    {% if FEATURE_FLAGS.network_types %}
        {% include "networks/includes/networks_filters.html" %}
    {% endif %}
    <div class="content-grid grid-cards-auto-fill">
        {% for network in networks %}
            <div class="dwds-content-item-card">{% page_to_engagement network %}</div>
        {% empty %}
            <p>There are no networks to display.</p>
        {% endfor %}
    </div>
    {% if networks.paginator.num_pages > 1 %}
        {% include "dwds/components/pagination.html" with pages=networks %}
    {% endif %}
{% endblock primary_content %}
