{% extends "dwds_content.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load reactions comments %}

{% block primary_content %}
    {% if page.allow_reactions %}
        {% reactions_list user page "top" %}
    {% endif %}
    <div class="content-stack">
        {% image page.preview_image fill-800x450 width=None height=None style="border-radius: var(--border-radius);" %}
        {% include "includes/attribution.html" with page=page is_news_page=True perm_sec_as_author=self.perm_sec_as_author first_publisher_as_author=True %}
        {% for block in page.body %}
            {% include_block block %}
        {% endfor %}
    </div>
{% endblock primary_content %}

{% block post_primary_content %}
    {% if  page.allow_reactions %}
        {% reactions_list user page "bottom" %}
    {% endif %}
    {% if self.allow_comments %}
        {% if FEATURE_FLAGS.new_comments %}
            {% page_comments self %}
        {% else %}
            {% include "news/includes/news_comments.html" %}
        {% endif %}
    {% endif %}
    {{ block.super }}
{% endblock post_primary_content %}

{% block secondary_content %}
    <div class="content-stack large">
        {{ block.super }}
        {% comment %} {% include "news/includes/news_categories.html" %} {% endcomment %}
    </div>
{% endblock secondary_content %}
