{% extends "dwds_content.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load reactions %}

{% block primary_content %}
    {% if FEATURE_FLAGS.show_reactions and page.allow_reactions %}
        {% reactions_list user page %}
    {% endif %}
    <div class="content-stack">
        {% image page.preview_image fill-800x450 width=None height=None style="border-radius: var(--border-radius);" %}
        {% include "includes/attribution.html" with page=page is_news_page=True perm_sec_as_author=self.perm_sec_as_author first_publisher_as_author=True %}
        {% for block in page.body %}
            {% include_block block %}
        {% endfor %}
    </div>
{% endblock primary_content %}

{% block post_primary_content %}
    {% if FEATURE_FLAGS.show_reactions and page.allow_reactions %}
        {% reactions_list user page %}
    {% endif %}
    {% if self.allow_comments %}
        <div class="news_comments">
            {% if page.comment_count > 0 %}
                <div class="news-article-comments">
                    <h2 class="govuk-heading-m">
                        {{ page.comment_count }}
                        {% if page.comment_count > 1 %}
                            comments
                        {% else %}
                            comment
                        {% endif %}
                    </h2>
                    {% for comment in comments %}
                        <p class="govuk-body comment-author">
                            {% if comment.author %}
                                {{ comment.author.first_name }} {{ comment.author.last_name }}
                            {% else %}
                                {{ comment.legacy_author_name }}
                            {% endif %}
                            <span class="comment-posted-date govuk-body-s">{{ comment.posted_date }}</span>
                        </p>
                        <p class="govuk-body">{{ comment.content }}</p>
                        <p class="govuk-body"
                           aria-hidden="true"
                           id="reply-link-{{ comment.pk }}">
                            <a class="govuk-link"
                               href="#"
                               onclick="return displayReplyForm({{ comment.pk }})">Reply</a>
                        </p>
                        <fieldset id="reply-{{ comment.pk }}" class="reply-fieldset govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Reply to this comment</legend>
                            <form action=""
                                  method="post"
                                  onsubmit="setCommentId(this, {{ comment.pk }});">
                                {% csrf_token %}
                                <div class="govuk-form-group">
                                    {% for field in comment_form %}
                                        <label class="ws-hide" for="{{ field.auto_id }}">Comment content</label>
                                        {{ field }}
                                    {% endfor %}
                                    <p>
                                        <input value="Submit comment" type="submit" class="govuk-button" />
                                    </p>
                                </div>
                            </form>
                        </fieldset>
                        {% if comment.replies.all.count > 0 %}
                            <h3 class="govuk-heading-s">Replies</h3>
                            {% for reply in comment.replies.all %}
                                <div class="govuk-inset-text">
                                    <p class="govuk-body comment-author">
                                        {% if reply.author %}
                                            {{ reply.author.first_name }} {{ reply.author.last_name }}
                                        {% else %}
                                            {{ reply.legacy_author_name }}
                                        {% endif %}
                                        <span class="comment-posted-date govuk-body-s">{{ reply.posted_date }}</span>
                                    </p>
                                    <p class="govuk-body">{{ reply.content }}</p>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            <h2 class="govuk-heading-m">Leave a comment</h2>
            <form action="" method="post" onsubmit="">
                {% csrf_token %}
                <div class="govuk-form-group">
                    {% for field in comment_form %}
                        <label class="ws-hide" for="{{ field.auto_id }}">Comment content</label>
                        {{ field }}
                    {% endfor %}
                    <p>
                        <input value="Submit comment" type="submit" class="govuk-button" />
                    </p>
                </div>
            </form>
            <script>
                function setCommentId(commentForm, commentId) {
                    commentForm.elements["in_reply_to"].value = commentId;
                }

                function displayReplyForm(commentId) {
                    document.getElementById("reply-" + commentId).style.display = 'block';
                    document.getElementById("reply-link-" + commentId).style.display = 'none';

                    return false;
                }
            </script>
        </div>
    {% endif %}
    {{ block.super }}
{% endblock post_primary_content %}

{% block secondary_content %}
    <div class="content-stack large">
        {{ block.super }}
        {% comment %} {% include "news/includes/news_categories.html" %} {% endcomment %}
    </div>
{% endblock secondary_content %}
