{% extends "content/content_page.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load comments %}
{% load reactions %}

{% block pre_page_body %}
    {% image page.preview_image fill-800x450 width=None height=None style="border-radius: var(--border-radius);" %}
{% endblock pre_page_body %}

{% block post_primary_content %}
    {{ block.super }}
    {% if self.allow_comments %}
        {% if FEATURE_FLAGS.new_comments %}
            {% page_comments self %}
        {% else %}
            {% include "news/includes/news_comments.html" %}
        {% endif %}
    {% endif %}
{% endblock post_primary_content %}

{% block secondary_content %}
    <div class="content-stack large">
        {{ block.super }}
        {% comment %} {% include "news/includes/news_categories.html" %} {% endcomment %}
    </div>
{% endblock secondary_content %}
