{% extends "dwds_sidebar.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}
{% load cards %}

{% block primary_content %}
    {% for news_item in posts %}
        {% page_to_engagement news_item hide_updated=True %}
    {% endfor %}

    {% if posts.paginator.num_pages > 1 %}
        {% include "dwds/components/pagination.html" with pages=posts %}
    {% endif %}
{% endblock primary_content %}

{% block secondary_content %}
    {% comment %} {% include "news/includes/news_categories.html" %} {% endcomment %}
    {{ block.super }}
{% endblock secondary_content %}
