.DS_Store
*.pyc
*.log
*.swp
*.retry
.env
.envrc
.cache
*~
/logs
/data
/profiler_results
.~*
common/CACHE
__pycache__
!.gitignore
.venv/
.pytest_cache/
.python-version
.ruff_cache
.direnv/

/node_modules
npm-debug.log*

webpack-stats.json
/assets/webpack_bundles

/static/
media/

# Wordpress output
wordpress.xml
wordpress_all.xml
wordpress_part.xml

# IDE
.idea/
.vscode/

# Libs
src/wpparser/

# Misc
country_factsheet.xml
country_factsheet.docx
backup_file.backup
backup_file_dev.backup
backup.sql
backup.dump
backup_s3_asset_only.backup
backup_file_post_live.backup
.env.orig

# Add core app static folder
!core/static/core

# coverage.py
.coverage
htmlcov/

# PII Secret
.pii-secret-hook
ner_output_file.txt

# Data tasks
.db
*.sql

# Playwright
/playwright-report
/playwright/.auth

dw.dump

lighthouse-results/
