.DS_Store
*.pyc
*.log
*.swp
*.retry
.env
*~
/logs
/data
.~*
common/CACHE
__pycache__
!.gitignore
.venv/

/node_modules
npm-debug.log*

webpack-stats.json
/assets/webpack_bundles

static/*
media/

# Wordpress output
wordpress.xml
wordpress_all.xml
wordpress_part.xml

# IDE
.idea/
.vscode/

# Libs
src/wpparser/

# Misc
country_factsheet.xml
country_factsheet.docx
backup_file.backup
backup_file_dev.backup
backup.sql
backup.dump
backup_s3_asset_only.backup

# Add core app static folder
!core/static/core