# Wagtail
wagtail>=2.9,<2.10
wagtailmedia>=0.5.0,<0.6

# Django tools
django>=3.0.7,<3.1
django-environ>=0.4.5,<0.5
django-webpack-loader>=0.7.0,<0.8
psycogreen>=1.0.2,<1.1
psycopg2>=2.8.5,<3
whitenoise>=5.1.0,<6

# Other libraries
requests>=2.23,<3

# DIT dependencies
django-staff-sso-client>=2.2.0,<3

# Operational dependencies
gevent>=20.6.0,<21
gunicorn>=20.0.4,<21
sentry-sdk>=0.14.4,<=0.15

# Linting & security
flake8>=3.8.3,<4
flake8-bandit
flake8-blind-except
flake8-bugbear
flake8-debugger
flake8-import-order
flake8-print
flake8-quotes
flake8-string-format
pep8-naming
pydocstyle

# Development tools
pip-tools
