<div class="ws-content-page__metadata govuk-inset-text">
    <time class="ws-content-page__metadata-item"
          datetime="{{ page.first_published_at|date:"c" }}">
        First published {{ page.first_published_at|date:"d M Y" }}, {{ page.first_published_at|time:"H:i A"|lower }}
    </time>
    <time class="ws-content-page__metadata-item"
          datetime="{{ page.last_published_at|date:"c" }}">
        Last updated {{ page.last_published_at|date:"d M Y" }}, {{ page.last_published_at|time:"H:i A"|lower }}
    </time>
</div>
