{% load wagtailimages_tags static humanize formatting %}
<div class="dwds-inset font-changes content-stack small">
    {% if is_news_page %}
        <p class="text-medium">
            {% if perm_sec_as_author %}
                {{ settings.PERM_SEC_NAME }}
            {% elif first_publisher_as_author %}
                {% if page.get_first_publisher %}{{ page.get_first_publisher.get_full_name }}{% endif %}
            {% else %}
                {{ page.get_latest_revision.user.get_full_name }}
            {% endif %}
        </p>
    {% endif %}
    <div>
        {% if page.page_author_role %}
            <div>Role: {{ page.page_author_role.job_title }}</div>
            {% if page.page_author_show_team %}
                <div>
                    Team: <a href="{{ page.page_author_role.team.get_absolute_url }}">{{ page.page_author_role.team.name }}</a>
                </div>
            {% endif %}
        {% endif %}

        <time datetime="{{ page.first_published_at|date:"c" }}">
            First published: {{ page.first_published_at|date:'j F Y' }} at {{ page.first_published_at|date:"g:iA"|lower }}
        </time>
        <time datetime="{{ page.last_published_at|date:"c" }}">
            Last updated: {{ page.last_published_at|date:'j F Y' }} at {{ page.last_published_at|date:"g:iA"|lower }}
        </time>
    </div>
    {% if page.content_owner or page.content_contact_email %}<br>{% endif %}
    {% if page.content_owner %}
        <div>
            Content owner: <a class="govuk-link"
    href="{% url 'profile-view' page.content_owner.slug %}">{{ page.content_owner }}</a>
        </div>
    {% endif %}
    {% if page.content_contact_email %}
        <div>
            Contact email: <a class="govuk-link" href="mailto:{{ page.content_contact_email }}">{{ page.content_contact_email }}</a>
        </div>
    {% endif %}
</div>
