<script>
initial_page_data = {
    "feature_flags": [{% for flag in FEATURE_FLAGS %}{% for k, v in flag.items %}{ "{{ k }}": {{ v|lower }} }{% endfor %}{% if not forloop.last %},{% endif %}{% endfor %}],
    "page_info": {
        "age_in_days": {% if self.days_since_last_published is not None %}{{ self.days_since_last_published }}{% else %}"NA"{% endif %},
        "type": "{{ self.content_type.name|default_if_none:"NA" }}",
        "tags": {
            "topics": [{% for topic in self.topics.all %}"{{ topic.topic.title }}"{% if not forloop.last %},{% endif %}{% endfor %}],
        }
    },
    "user_info": {
        "profile_slug": "{{ request.user.profile.slug }}",
        "roles": [{% for role in request.user.profile.roles.all %}
            {
                "team_slug": "{{ role.team.slug }}",
                "job_title": "{{ role.job_title }}",
            }
        {% if not forloop.last %},{% endif %}{% endfor %}],
        "professions": [{% for profession in request.user.profile.professions.all %}"{{ profession.code }}"{% if not forloop.last %},{% endif %}{% endfor %}],
        "grade": {% if request.user.profile.grade %}"{{ request.user.profile.grade.code }}"{% else %}"NA"{% endif %},
        "is_line_manager": {{ request.user.profile.is_line_manager|lower }},
        "working_location": "{{ request.user.profile.get_office_location_display|default_if_none:"NA" }}",
        "account_age_in_days": {{ request.user.profile.days_since_account_creation }}
    },
};
dataLayer.push(initial_page_data)
</script>
