{% load page %}
<details class="dwds-details">
    <summary>
        <span>Publishing information</span>
    </summary>
    <div class="content-stack">
        <div>
            <time datetime="{{ self.first_published_at|date:"c" }}">
                First published: {{ self.first_published_at|date:"j F Y" }}, {{ self.first_published_at|time:"g:iA"|lower }}
            </time>
            <br>
            <time datetime="{{ self.last_published_at|date:"c" }}">
                Last updated: {{ self.last_published_at|date:"j F Y" }}, {{ self.last_published_at|time:"g:iA"|lower }}
            </time>
        </div>
        {% if self.page_updates %}
            <table role="table">
                <thead>
                    <tr>
                        <th scope="col">Updates</th>
                        <th scope="col">Author</th>
                        <th scope="col">Notes</th>
                    </tr>
                </thead>
                <tbody>
                    {% for page_update in self.page_updates %}
                        <tr>
                            <td>{{ page_update.value.update_time|date:"j F Y" }}, {{ page_update.value.update_time|time:"g:iA"|lower }}</td>
                            <td>{{ page_update.value.person.full_name }}</td>
                            <td>{{ page_update.value.note }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
</details>
