{% load wagtailcore_tags %}

{% if USER_IS_AUTHENTICATED %}
    <div class="dwds">
        <c-dwds-details summary_text="Is there anything wrong with this page?">
            <form class="content-stack"
                  action="{% url "page_problem_found" %}"
                  novalidate
                  method='post'>
                {% if PAGE_PROBLEM_FORM_CONTENT %}{{ PAGE_PROBLEM_FORM_CONTENT.content|richtext }}{% endif %}
                {% csrf_token %}
                {{ PAGE_PROBLEM_FORM }}
                <input type="submit"
                       value="Submit"
                       class="dwds-button dwds-button--transactional" />
            </form>
        </c-dwds-details>
    </div>
{% endif %}
