{% load render_bundle webpack_static from webpack_loader %}
<div>
    {% if peoplefinder_profile %}
        <a href="{% url 'profile-view' peoplefinder_profile.slug %}">Your profile</a>

        {% if peoplefinder_profile.profile_completion < 100 %}
            <span>is {{ peoplefinder_profile.profile_completion|floatformat:0 }}% complete</span>
        {% endif %}

        {% if peoplefinder_profile.photo %}
            <img src="{{ peoplefinder_profile.photo_small.url }}"
                 alt="Profile image of {{ peoplefinder_profile.full_name }}">
        {% else %}
            <img src="{% webpack_static 'no-photo.png' %}" alt="No photo">
        {% endif %}
    {% endif %}
</div>
