{% load render_bundle webpack_static from webpack_loader %}

<div class="people-finder-panel">
    {% if peoplefinder_profile %}
        <a class="profile-link"
           href="{% url 'profile-view' peoplefinder_profile.slug %}"
           data-testid="view-profile">
            {% if not minimal %}
                <div class="profile-details">
                    <span class="salutation">Hi {{ peoplefinder_profile.get_first_name_display|truncatechars:25 }}</span>
                    <span class="profile-prompt">View your profile</span>
                    {% if peoplefinder_profile.profile_completion < 100 %}
                        <span>({{ peoplefinder_profile.profile_completion|floatformat:0 }}% complete)</span>
                    {% endif %}
                </div>
            {% endif %}
            {% if peoplefinder_profile.photo %}
                <img src="{{ peoplefinder_profile.photo_small.url }}"
                    alt="Profile image of {{ peoplefinder_profile.full_name }}"
                    class="profile-image">
            {% else %}
                <img src="{% webpack_static 'no-photo.png' %}"
                    alt="No photo"
                    class="profile-image">
            {% endif %}
        </a>
    {% endif %}
</div>
