{% load render_bundle webpack_static from webpack_loader %}
<div class="people-finder-panel-new">
    {% if peoplefinder_profile %}
        <a class="profile-link"
           href="{% url 'profile-view' peoplefinder_profile.slug %}">
            <div class="profile-details">
                <span class="profile-prompt"><span>Your profile is</span>
                {% if peoplefinder_profile.profile_completion < 100 %}
                    <span>{{ peoplefinder_profile.profile_completion|floatformat:0 }}% complete</span>
                {% endif %}
            </span>
        </div>
        {% if peoplefinder_profile.photo %}
            <img src="{{ peoplefinder_profile.photo_small.url }}"
                 alt="Profile image of {{ peoplefinder_profile.full_name }}"
                 class="profile-image"
                 style="border-radius: 50%">
        {% else %}
            <img src="{% webpack_static 'no-photo.png' %}"
                 alt="No photo"
                 class="profile-image"
                 style="border-radius: 50%">
        {% endif %}
    </a>
    {% endif %}
</div>
