{% load wagtailimages_tags %}

{% if self.image_position == "left" %}
    <div class="content-sidebar">
        <div class="content-stack">
            {% include "dwds/elements/content_image.html" with content_image=value.image caption=value.image_description alt=value.alt %}
        </div>
        <div class="content-stack">
            <h3>{{ value.heading }}</h3>
            {{ value.text }}
        </div>
    </div>
{% else %}
    <div class="content-sidebar-right">
        <div class="content-stack">
            <h3>{{ value.heading }}</h3>
            {{ value.text }}
        </div>
        <div class="content-stack">
            {% include "dwds/elements/content_image.html" with content_image=value.image caption=value.image_description alt=value.alt %}
        </div>
    </div>
{% endif %}
