{% load wagtailimages_tags %}

<div class="content-side-by-side-wrapper">
    <div class="content-side-by-side image-{{ self.image_position }}">
        <div class="content-stack">
            <h3>{{ self.heading }}</h3>
            <p>{{ self.text }}</p>
        </div>
        <div class="content-stack">
            {% include "dwds/elements/content_image.html" with content_image=value.image caption=self.image_description %}
        </div>
    </div>
</div>
{% comment %} <div class="content-sidebar-right">
    <div class="content-stack">
        <h3>{{ self.heading }}</h3>
        <p>{{ self.text }}</p>
    </div>
    <div class="content-stack">
        {% include "dwds/elements/content_image.html" with content_image=value.image %}
        <p>{{ self.image_description }}</p>
    </div>
</div> {% endcomment %}
