{% load workspace_navigation static wagtailuserbar %}
{% load render_bundle webpack_static from webpack_loader %}

<!DOCTYPE html>
<html lang="en" class="govuk-template ">
  <head>
    <meta charset="utf-8" />
    <title>
      {% block title %}
        {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
      {% endblock %}
      {% block title_suffix %}
        - Digital Workspace
      {% endblock %}
    </title>

    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="#cd1632" /> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{% webpack_static 'favicon.ico' %}" type="image/x-icon" />
    <link rel="mask-icon" href="{% webpack_static 'govuk-mask-icon.svg' %}" color="#0b0c0c"> 
    <link rel="apple-touch-icon" sizes="180x180" href="{% webpack_static 'govuk-apple-touch-icon-180x180.png' %}">
    <link rel="apple-touch-icon" sizes="167x167" href="{% webpack_static 'govuk-apple-touch-icon-167x167.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% webpack_static 'govuk-apple-touch-icon-152x152.png' %}">
    <link rel="apple-touch-icon" href="{% webpack_static 'govuk-apple-touch-icon.png' %}">

    <meta name="robots" content="noindex, nofollow">
    <meta property="og:image" content="{% webpack_static 'govuk-opengraph-image.png' %}">

    {% render_bundle 'main' 'css' %}
  </head>

  <body class="govuk-template__body ">
    <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
    {% wagtailuserbar %}

    <a href="#main-content" class="govuk-skip-link">Skip to main content</a>

    {% include "includes/header.html" %}
    {% include "includes/search_and_profile_bar.html" %}

    <div class="ws-width-container">
      <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
          <strong class="govuk-tag govuk-phase-banner__content__tag">
            alpha
          </strong>
          <span class="govuk-phase-banner__text">
            We are improving your Digital Workspace – we'd love your <a class="govuk-link" href="#">feedback</a>!
          </span>
        </p>
      </div>

      {% block breadcrumbs %}
        {% breadcrumbs %}
      {% endblock %}

      <main class="govuk-main-wrapper " id="main-content" role="main">
        {% block content %}{% endblock %}
      </main>
    </div>

    {% include "includes/footer.html" %}

    {% render_bundle 'main' 'js' %}
  </body>
</html>
