<div class="dwds-content-item-card no-shadow">
    <div class="content-item">
        <div class="content-main highlight">
            <div class="content-body center">
                <div class="content-switcher">
                    {% include "dwds/components/link_action.html" with link_url=previous_link link_text="Previous month" left=True %}
                    {% if middle_text %}{{ middle_text }}{% endif %}
                    {% include "dwds/components/link_action.html" with link_url=next_link link_text="Next month" right=True %}
                </div>
            </div>
        </div>
    </div>
</div>
