<div class="dwds-content-item-card no-shadow">
    <div class="content-item">
        <div class="content-main highlight">
            <div class="content-body content-stack large">
                <form method="get" class="stack">
                    <div class="switcher">
                        <h1 style="margin:0;">{{ page_title }}</h1>
                        <div>
                            {% include "dwds/components/link_navigate.html" with previous_url=previous_link previous_text="Previous month" next_url=next_link next_text="Next month" %}
                        </div>
                    </div>
                    <hr>
                    <div class="stack">
                        <h2>Filter events by</h2>
                        <div class="switcher">
                            <div class="stack">
                                <label for="id_location">Location</label>
                                {{ events_filters.form.location }}
                            </div>
                            <div class="stack">
                                <label for="id_event_type">Event type</label>
                                {{ events_filters.form.event_type }}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div>
                        <input class="dwds-button dwds-button--secondary dwds-button--inline"
                               type="submit"
                               value="Apply" />
                        <a href="?">Reset filters</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
