.govuk-footer__inline-list-item--ws-wagtail-link {
  a {
		&:link,
		&:visited,
		&:hover,
		&:active {
			color: $govuk-link-colour;
		}

    &:focus {
			@include govuk-focused-text;
		}

		svg {
			display: none;
		}
  }
}

.govuk-footer__licence-description-wrapper {
	display: flex;
	column-gap: 1rem;
	row-gap: 0.5rem;
	flex-wrap: wrap;
}
