.govuk-header {
  border-bottom: 0;
}

.govuk-header__content {
  width: auto;
  margin-top:10px;
}

.govuk-header--ws {
  background-color: govuk-colour("white");
}

.govuk-header__link--ws {
  &:link,
  &:visited {
    color: govuk-colour("black");
  }
}

// TODO [DWPF-454] merge this rule with the below one
.govuk-header__container {
  border-bottom: 5px solid $brand-color-primary;
  margin-bottom: 0;
  padding-top: 6px;
}

// TODO [DWPF-454] remove .search-v2 class to target .govuk-header__container
.govuk-header__container.search-v2 {
  border-bottom: none;
}

// TODO [DWPF-454] remove .nav-and-profile-bar class to target directly
.nav-and-profile-bar {
    .govuk-header__navigation {
        margin: 12px 0;
    }
    .govuk-header__link,
    .govuk-header__navigation-item--active--ws,
    .ancestor {
        text-decoration-thickness: 5px;
        text-underline-offset: 16px;
    }
    .govuk-header__link:hover {
        text-decoration-color: #1d70b8;
    }
}

.govuk-header__navigation-item--active--ws,
.ancestor {
  a {
    &:link,
    &:hover,
    &:visited {
      color: govuk-colour("black");
    }
  }
}

.govuk-header__logo--ws {
  @include govuk-media-query ($from: desktop) {
    width: 20%;
  }
}

.govuk-header__logotype--ws {
  @include govuk-media-query ($from: desktop) {
    img {
      margin: govuk-spacing(1) 0;
    }
  }
}

.govuk-header__content--ws {
  @include govuk-media-query ($from: desktop) {
    width: 80%;
    margin-top: govuk-spacing(1);
  }
}

.govuk-header__link--service-name--ws {
  @include govuk-font($size: 27, $weight: bold);

  @include govuk-media-query ($from: desktop) {
    margin: govuk-spacing(1) 0;
  }
}

.govuk-header__menu-button--ws {
  color: govuk-colour("black");
}

.govuk-header__navigation-item--mobile-only {
  @include govuk-media-query ($from: desktop) {
    display: none;
  }
}
