{% extends "dwds_content.html" %}
{% load wagtailcore_tags bookmarks %}

{% block main_content_classes %}
    content_page
{% endblock main_content_classes %}

{% block primary_content %}
    {% if attribution %}
        {% include "includes/attribution.html" with page=page %}
    {% endif %}
    {% for block in page.body %}
        {% include_block block %}
    {% endfor %}
    {% if children %}
        {% include "includes/child-links.html" with children=children num_cols=num_cols display=display target_blank=target_blank %}
    {% endif %}
{% endblock primary_content %}
