{% extends "1_col_content.html" %}
{% load wagtailcore_tags %}

{% block content %}
    <div class="dwds">
        {% include 'feedback.html' %}
        <h1>{{ page.title }}</h1>
        <div class="ws-content-grid">
            {% for block in page.primary_elements %}
                <div>{% include_block block %}</div>
            {% endfor %}
        </div>
        {% for block in page.body %}
            {% include_block block %}
        {% endfor %}
        <div class="ws-content-grid">
            {% for block in page.secondary_elements %}
                <div>{% include_block block %}</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
