{% extends "2_col_content.html" %}
{% load wagtailcore_tags %}

{% block content %}
    <div class="dwds">
        <h1>{{ page.title }}</h1>
        <div class= "grid">
            {% for block in page.primary_elements %}
                <div>{% include_block block %}</div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block tertiary_col_content %}
    <div class="dwds stack">
        {% include 'feedback.html' %}
        {% for block in page.secondary_elements %}
            <div>{% include_block block %}</div>
        {% endfor %}
    </div>
{% endblock %}
