{% extends "1_col_content.html" %}
{% load wagtailcore_tags %}

{% block content %}
    {% include 'blocks/feedback.html' %}
    <h1 class="govuk-heading-l">{{ page.title }}</h1>
    <div class="ws-content-grid">
        {% for block in page.primary_content %}
            <div>{% include_block block %}</div>
        {% endfor %}
    </div>
    {% for block in page.body %}
        {% include_block block %}
    {% endfor %}
    <div class="ws-content-grid">
        {% for block in page.secondary_content %}
            <div>{% include_block block %}</div>
        {% endfor %}
    </div>
{% endblock %}
