{% extends "dwds_sidebar.html" %}
{% load wagtailcore_tags %}

{% block primary_content_classes %}
    content-stack large
{% endblock primary_content_classes %}

{% block pre_content %}
    <div class="content-sidebar-right">
        <h1>{{ page.title }}</h1>
        <div class="dwds-title-question">
            {% include "feedback.html" with form_id="hr-v1" classes="" prefix="navigation-page" custom_submit_data_function="sectorFeedbackData" %}
        </div>
    </div>
{% endblock pre_content %}

{% block page_title_wrapper %}
{% endblock page_title_wrapper %}

{% block primary_content %}
    <div class="primary-content dwds-content-page content-stack small">
        {% for block in page.body %}
            {% include_block block %}
        {% endfor %}
    </div>
    <div class="content-stack">
        {% for block in page.sectors %}
            {% include_block block %}
        {% endfor %}
    </div>
{% endblock primary_content %}

{% block secondary_content %}
    <div class="content-stack large">{{ block.super }}</div>
{% endblock secondary_content %}

{% block scripts %}
    <script>
    function sectorFeedbackData(formData) {
        formData.set('page_url','{{page.url}}');
    }
    </script>
{% endblock scripts %}
