{% extends "dwds_sidebar.html" %}
{% load wagtailcore_tags %}

{% block primary_content_classes %}
    content-stack large
{% endblock primary_content_classes %}

{% block pre_content %}
    <div class="content-sidebar-right">
        <h1>{{ page.title }}</h1>
        <div class="dwds-title-question">
            {% include "feedback.html" with form_id="hr-v1" classes="" prefix="navigation-page" custom_submit_data_function="sectorFeedbackData" %}
        </div>
    </div>
{% endblock pre_content %}

{% block page_title_wrapper %}
{% endblock page_title_wrapper %}

{% block primary_content %}
    <div class="content-stack">
        <div class="content-grid grid-cards">
            {% for block in page.primary_elements %}
                <c-dwds-card>
                    <c-slot name="card_content">
                        {% include_block block %}
                    </c-slot>
                </c-dwds-card>
            {% endfor %}
        </div>
    </div>
{% endblock primary_content %}

{% block secondary_content %}
    <div class="content-stack large">
        {{ block.super }}
        {% for block in page.secondary_elements %}
            <c-dwds-card no-shadow="true">
                <c-slot name="card_content">
                    {% include_block block %}
                </c-slot>
            </c-dwds-card>
        {% endfor %}
    </div>
{% endblock secondary_content %}

{% block scripts %}
    <script>
    function sectorFeedbackData(formData) {
        formData.set('page_url','{{page.url}}');
    }
    </script>
{% endblock scripts %}
