{% extends "dwds_content.html" %}
{% load wagtailcore_tags bookmarks %}

{% block main_content_classes %}
    content_page
{% endblock main_content_classes %}

{% block primary_content %}
    {% include "includes/attribution.html" with page=page %}
    {% for block in page.body %}
        {% include_block block %}
    {% endfor %}
{% endblock primary_content %}

{% block secondary_content %}
    <h2 class="govuk-heading-m">Related topics</h2>
    <ul class="govuk-list">
        {% for page_topic in page_topics %}
            <li>
                <a class="govuk-link" href="{{ page_topic.topic.url }}">{{ page_topic.topic.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock secondary_content %}
