{% extends "content/content_page.html" %}
{% load wagtailcore_tags %}

{% block secondary_content %}
    <div class="content-stack large">
        {{ block.super }}
        {% if page_topics %}
            <c-dwds-card>
                <c-slot name="card_content">
                    <div class="content-item">
                        <div class="content-main">
                            <div class="content-body content-stack">
                                <h2>Related topics</h2>
                                <ul class="clean">
                                    {% for page_topic in page_topics %}
                                        <li>
                                            <a href="{{ page_topic.topic.url }}">{{ page_topic.topic.title }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </c-slot>
            </c-dwds-card>
        {% endif %}
    </div>
{% endblock secondary_content %}
