{% extends "content/content_page.html" %}
{% load wagtailcore_tags %}
{% load template_renderer %}

{% block secondary_content %}
    {% if page_topics %}
        <div class="dwds-content-item-card no-shadow">
            <div class="content-item">
                <div class="content-main">
                    <div class="content-body content-stack">
                        <h2>Related topics</h2>
                        <ul class="clean">
                            {% for page_topic in page_topics %}
                                <li>
                                    <a href="{{ page_topic.topic.url }}">{{ page_topic.topic.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {% render_dynamic_templates page_type="secondary_page" as secondary_page_templates %}
    {% for template in secondary_page_templates %}
        {% include template.template_name with title=template.title description=template.description %}
    {% endfor %}
{% endblock secondary_content %}
