{% extends "1_col_content.html" %}
{% load wagtailcore_tags %}

{% block page_bookmark %}
{% endblock page_bookmark %}

{% block page_content %}
    {% for block in page.body %}
        {% include_block block %}
    {% endfor %}
    {% for subpage_group in subpage_groups %}
        {% for page in subpage_group %}
            {% if forloop.first %}
                <h3 class="govuk-heading-m">{{ subpage_group.0.title|first|upper }}</h3>
                <ul class="govuk-list">
                {% endif %}
                <li>
                    <a class="govuk-link" href="{% pageurl page %}">{{ page.title }}</a>
                </li>
                {% if forloop.last %}</ul>{% endif %}
        {% endfor %}
    {% endfor %}
{% endblock %}
