{% extends "dwds_sidebar.html" %}
{% load wagtailcore_tags %}

{% block primary_content %}
    {% for block in page.body %}
        {% include_block block %}
    {% endfor %}
    {% for subpage_group in subpage_groups %}
        <h3>{{ subpage_group.0.title|first|upper }}</h3>
        <ul>
            {% for page in subpage_group %}
                <li>
                    <a href="{% pageurl page %}">{{ page.title }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endfor %}
{% endblock %}
