{% if profile.profile_completion < 100 %}
    <div class="dwds-message content-stack">
        <h2>Your profile is {{ profile.profile_completion }}% complete</h2>
        <p>
            Complete the following fields to reach 100%:
            <span class="missing-profile-completion-fields">
                {% for field_url, field_label in missing_profile_completion_fields %}
                    <a class="govuk-link" href="{{ field_url }}">{{ field_label }}</a><span class="comma">,</span>
                {% endfor %}
            </span>
        </p>
    </div>
{% endif %}
