<div class="dwds-content-item-card no-shadow">
    <div class="content-item">
        <div class="content-main large highlight">
            <div class="content-body">
                <form method="get" class="content-stack large">
                    <h1>Discover our Networks</h1>
                    <hr>
                    <div class="content-stack large">
                        <div class="content-switcher">
                            <div class="content-stack">
                                <label for="id_network_type">Filter networks by type</label>
                                {{ networks_filters.form.network_type }}
                            </div>
                        </div>
                    </div>
                    <div class="dwds-button-group">
                        <input class="dwds-button dwds-button--secondary dwds-button--inline"
                               type="submit"
                               value="Apply filters" />
                        <a href="?">Reset filters</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
