{% extends "base.html" %}
{% load wagtailcore_tags %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="ws-content-page govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ page.title }}</h1>
            {% include "includes/attribution.html" with page=page %}
            <div class="ws-streamfield-content">
                {% for block in page.body %}
                    {% include_block block %}
                {% endfor %}
            </div>
            {% if comment_count > 0 %}
                <h2 class="govuk-heading-m">{{ comment_count }} comments</h2>
                {% for comment in comments %}
                    <p class="govuk-body comment-author">{{ comment.author.first_name }} {{ comment.author.last_name }}
                        <span class="comment-posted-date">{{ comment.posted_date }}</span></p>
                    <p class="govuk-body">{{ comment.content }}</p>
                    <p class="govuk-body"><a href="">Reply</a></p>
                {% endfor %}
            {% endif %}
            <h2 class="govuk-heading-m">Leave a comment</h2>
            <form action="" method="post">
                {% csrf_token %}
                <div class="govuk-form-group">
                    {% for field in comment_form %}
                        <label class="hide" for="{{ field.auto_id }}">Comment content</label>
                        {{ field }}
                    {% endfor %}
                    <p><input value="Submit comment" type="submit" class="govuk-button"/></p>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block tertiary_nav %}
    <form class="news-category-form" action="" method="post">
        {% csrf_token %}
        <div class="govuk-form-group">
            {% for field in category_form %}
                <label class="govuk-body govuk-!-font-size-19" for="{{ field.auto_id }}">Categories</label>
                {{ field }}
            {% endfor %}
            <input class="hide" type="submit" aria-hidden="true"/>
        </div>
    </form>
{% endblock %}
