{% extends "base.html" %}
{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

{% block main_content %}
    <article class="ws-two-col">
        <div class="govuk-grid-row">
            {% if category %}
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-l">{{ category.category }}</h1>
                    {% if category.lead_story %}
                        {% include "news/includes/lead_story.html" with news_article=category.lead_story %}
                    {% endif %}
                </div>
            {% endif %}
            {% if featured_page %}
                {% include "news/includes/lead_story.html" with news_article=featured_page %}
            {% endif %}
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-width-container ws-primary-content">
                    <ul class="news-items">
                        {% for news_item in posts %}
                            <li>
                                <h2 class="govuk-heading-m"><a href="{% pageurl news_item %}">{{ news_item.title }}</a></h2>
                                <p class="govuk-body-s">
                                    {% if news_item.get_latest_revision.user %}
                                        {{ news_item.get_latest_revision.user.first_name }} {{ news_item.get_latest_revision.user.last_name }},
                                    {% endif %}
                                    {{ news_item.last_published_at }}
                                    {% for news_category_lkup in news_item.news_categories.all %}
                                        <a class="govuk-link" href="/news-and-views/category/{{ news_category_lkup.news_category.slug }}">{{ news_category_lkup.news_category.category }}</a>,
                                    {% endfor %}
                                </p>
                                {% image news_item.preview_image width-540 %}
                                <p class="govuk-body"><a href="{% pageurl news_item %}" class="govuk-link">{{ news_item.excerpt }}</a></p>
                            </li>
                        {% endfor %}
                    </ul>
                    {# Only show pagination if there is more than one page to click through #}
                    {% if posts.paginator.num_pages > 1 %}
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    {% include "includes/pagination.html" %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="govuk-grid-column-one-third">
                <div class="govuk-width-container ws-secondary-content">
                    {% include "news/includes/news_categories.html" %}
                </div>
            </div>
        </div>
    </article>
{% endblock %}