$brand-color-red: #cf102d;
$brand-color-navy: #00285f;
$brand-color-jade: #004d44;
$brand-color-violet: #4814a0;
$brand-color-lightblue: #0063be;
$tag-blue-background: #D2E2F1;

$brand-color-grey90: #404040;
$brand-color-grey50: #a7a7a7;
$brand-color-grey10: #e7e7e7;

$brand-color-warning: orange;

$brand-color-primary: $brand-color-red;
$brand-color-secondary: $brand-color-navy;

// $govuk-button-background-colour
// $govuk-button-text-colour