$brand-color-red: #cf102d;
$brand-color-navy: #00285f;
$brand-color-jade: #004d44;
$brand-color-violet: #4814a0;
$brand-color-lightblue: #0063be;
$tag-blue-background: #D2E2F1;

$brand-color-grey90: #404040;
$brand-color-grey50: #a7a7a7;
$brand-color-grey10: #e7e7e7;

$brand-color-warning: orange;

$brand-color-primary: $brand-color-red;
$brand-color-secondary: $brand-color-navy;

// $govuk-button-background-colour
// $govuk-button-text-colour

// Main Colours
$great-red: #E80000;
$great-white: #FFFFFF;
$great-blue: #04043F;

// Secondary Colours
// to do: rename add great in front of them
$mid-grey: #D6E0E5;
$light-grey: #DDE5ED;
$dark-green: #004F59;
$light-green: #BCE2D0;
$vibrant-blue: #0545D6;
$light-blue: #59CBE8;
$dark-red: #B50000;
$light-red: #FF6D6A;

// Print Range
// remove duplicates and put bottm different colours at the top
$dbt-red: #CF102D;
$dbt-blue: #00285F;
$dbt-green: #004D44;
$dbt-violet: #4F0B7B;
$dbt-light-blue: #0063BE;
$dbt-orange: #E24912;
$dbt-berry: #A90083;