{% load static %}
{% if page %}
    <style>
        .bookmark-icon__fill {
            transform-origin: center 2px;
            transition: all 300ms ease;
            transform: scale(1, 0);
        }
        .bookmark-icon.is-bookmarked .bookmark-icon__fill {
            transform: scale(1, 1);
        }
    </style>
    <a href="#"
       hx-post="{{ post_url }}"
       hx-vals='{"page_id": {{ page.id }}}'
       hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
       hx-trigger="click"
       hx-select="a"
       hx-target="this"
       hx-swap="outerHTML">
        <svg id="bookmark-page"
             class="bookmark-icon{% if is_bookmarked %} is-bookmarked{% endif %}"
             width="36"
             version="1.1"
             viewBox="0 0 24 24"
             xmlns="http://www.w3.org/2000/svg">
            <path class="bookmark-icon__fill" d="m20 2h-16v20l8-4 8 4z" fill="#ffdd00" />
            <path class="bookmark-icon__outline" d="m4 2v20l8-4 8 4v-20h-16zm2 2h12v15l-6-3-6 3v-15z" />
        </svg>
    </a>
{% endif %}
