{% if page %}
    <button class="dwds-button dwds-button--clear-icon content-with-icon no-gap"
            title="{{ is_bookmarked|yesno:'Remove bookmark,Bookmark this page' }}"
            data-is-htmx="{{ request.headers.hx_request }}"
            hx-post="{{ post_url }}"
            hx-vals='{"page_id": {{ page.id }}}'
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            hx-trigger="click"
            hx-select="button"
            hx-target="this"
            hx-swap="outerHTML"
            data-testid="bookmark-this-page">
        {% if is_bookmarked %}
            {% include 'dwds/icons/bookmark.html' with dark=True %}
        {% else %}
            {% include 'dwds/icons/bookmark.html' %}
        {% endif %}
        <span class="dwds-sr-only">
            {% if is_bookmarked %}
                Bookmarked
            {% else %}
                Bookmark this page
            {% endif %}
        </span>
    </button>
{% endif %}
