{% extends 'dwds/elements/extendable/card.html' %}
{% load bookmarks %}

{% block card_header_content %}
    <h3>Your bookmarks</h3>
{% endblock card_header_content %}

{% block card_container_classes %}
    dwds-link-list
{% endblock card_container_classes %}

{% block card_content_image %}
{% endblock card_content_image %}

{% block card_content_body %}
    {% bookmark_list user %}
{% endblock card_content_body %}

{% block card_footer %}
    <div class="card-footer">
        <a href="{% url 'interactions:bookmark-index' %}" class="text-small">View all bookmarks</a>
    </div>
{% endblock card_footer %}
