{% load static wagtailcore_tags %}

{% if bookmarks %}
    <ul class="bookmark-list">
        {% for bookmark in bookmarks %}
            <li>
                <div>
                    <a href="{% pageurl bookmark.page %}">{{ bookmark.page }}</a>
                </div>
                {% if show_delete_bookmark %}
                    <div>
                        <button class="dwds-button dwds-button--warning dwds-button--inline"
                                hx-delete="{% url 'interactions:bookmark-remove' bookmark.pk %}"
                                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                                hx-target="closest li"
                                hx-swap="outerHTML">Remove</button>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <div class="empty-bookmark-list">
        <img src="{% static 'interactions/open-empty-box.webp' %}"
             alt="An open empty box">
        <p>No bookmarks yet.</p>
        <p>
            <span>{% include 'dwds/elements/icon.html' with use_id='bookmark-icon' %}</span>
            <span>Click the bookmark icon on pages to bookmark them here</span>
        </p>
    </div>
{% endif %}
