{% extends "dwds_sidebar.html" %}

{% load wagtailcore_tags %}
{% load bookmarks %}

{% block title %}
    {{ user.profile.full_name }}'s bookmarks
{% endblock title %}

{% block primary_content %}
    <h1>{{ user.profile.full_name }}'s bookmarks</h1>

    <p>Here are all the pages you have bookmarked:</p>

    <ul class="bookmark-index-list">
        {% for bookmark in bookmarks %}
            <li>
                <div>
                    <a href="{% pageurl bookmark.page %}">{{ bookmark.page }}</a>
                </div>
                <button class="dwds-button dwds-button--secondary-dark dwds-button--inline"
                        hx-delete="{% url 'interactions:bookmark-remove' bookmark.pk %}"
                        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                        hx-target="closest li"
                        hx-swap="outerHTML">Remove</button>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
