{% if page %}
    <button class="bookmark-page-input"
            title="{{ is_bookmarked|yesno:'Remove bookmark,Bookmark this page' }}"
            data-is-htmx="{{ request.headers.hx_request }}"
            hx-post="{{ post_url }}"
            hx-vals='{"page_id": {{ page.id }}}'
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            hx-trigger="click"
            hx-select="button"
            hx-target="this"
            hx-swap="outerHTML">
        {% if is_new_sidebar_enabled %}
            {% include 'dwds/elements/bookmark-icon.html' %}
        {% else %}
            {% include 'dwds/elements/icon.html' with id='bookmark-icon' is_filled=is_bookmarked %}
        {% endif %}
        <span class="{{ is_new_sidebar_enabled|yesno:'dwds-sr-only,' }}">
            {% if is_bookmarked %}
                Bookmarked
            {% elif is_new_sidebar_enabled %}
                Bookmark this page
            {% else %}
                Bookmark
            {% endif %}
        </span>
    </button>
{% endif %}
