<fieldset id="edit-{{ comment_id }}" class="govuk-fieldset">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Edit this comment</legend>
    <form action="{% url 'interactions:edit-comment' comment_id %}"
          method="post"
          onsubmit="setCommentId(this, {{ comment_id }});">
        {% csrf_token %}
        <div class="govuk-form-group">
            {% for field in edit_comment_form %}
                <label class="ws-hide" for="{{ field.auto_id }}">Comment content</label>
                {{ field }}
            {% endfor %}
            <p>
                <input value="Submit comment" type="submit" class="govuk-button" />
            </p>
        </div>
    </form>
</fieldset>
