{% load comments %}
{% if comment.edit_comment_form %}
    <div id="comment-{{ comment.id }}-edit-form">
        {% include "dwds/components/author.html" with name=comment.author_name profile_image_url=comment.author_image_url profile_url=comment.author_url published_timestamp=comment.posted_date updated_timestamp=comment.edited_date %}
        <h3>Edit this comment</h3>
        <form hx-post="{{ comment.edit_comment_url }}"
              hx-target="#comment-{{ comment.id }}"
              hx-swap="innerHTML">
            {% csrf_token %}
            {{ comment.edit_comment_form }}
            <input value="Submit edited comment"
                   type="submit"
                   class="dwds-button dwds-button--transactional" />
            {% if comment.edit_comment_cancel_url %}
                <button class="dwds-button dwds-button--warning"
                        hx-get="{{ comment.edit_comment_cancel_url }}"
                        hx-target="#comment-{{ comment.id }}"
                        hx-swap="innerHTML">Cancel</button>
            {% endif %}
        </form>
    </div>
{% endif %}
