{% load comments %}
{% user_can_edit_comment request.user comment.id as can_edit %}
{% if can_edit %}
    {% if comment.edit_comment_form %}
        <div id="comment-{{ comment.id }}-edit-form">
            <h3>Edit this comment</h3>
            <form hx-post="{{ comment.edit_comment_url }}"
                  hx-target="#comment-{{ comment.id }}-message"
                  hx-swap="innerHTML">
                {% csrf_token %}
                {{ comment.edit_comment_form }}
                <input value="Submit edited comment"
                       type="submit"
                       class="dwds-button dwds-button--transactional" />
                {% if comment.edit_comment_cancel_url %}
                <!-- TODO: button styling: using input sets the width of all buttons to the same size -->
                    <button class="dwds-button dwds-button--warning"
                            id="edit-comment-{{ comment.id }}-cancel"
                            hx-get="{{ comment.edit_comment_cancel_url }}"
                            hx-target="#comment-{{ comment.id }}-message"
                            hx-swap="innerHTML">Cancel</button> 
                {% endif %}
            </form>
        </div>
    {% endif %}
{% endif %}
