{% load wagtailcore_tags %}
{% load humanize %}
{% load reactions %}
<div class="content-stack small">
    <h4>React to this article</h4>
    <div class="reactions content-cluster small">
        {% for reaction_type, reaction_count in reactions.items %}
            <div>
                <button class="dwds-button dwds-button--clear-icon content-with-icon min-gap"
                        title="{{ reaction_type|title }}"
                        onclick="dataLayer.push({ 
                            'event': 'page_reaction',
                            'from_type': null, // TBC: get previous reaction if one is already selected
                            'to_type': '{{ reaction_type }}', 
                            'reaction_block': '{{ reaction_block }}'})">
                    {% get_reaction_icon_template reaction_type as icon_template %}
                    {% include icon_template with hover_dark=True %}
                    {{ reaction_count|intcomma }}
                </button>
            </div>
        {% endfor %}
    </div>
</div>
