{% load humanize %}
{% load reactions %}
<button class="dwds-button dwds-button--clear-icon content-with-icon min-gap"
        data-is-htmx="{{ request.headers.hx_request }}"
        hx-post="{{ post_url }}"
        hx-vals='{"page_id": "{{ page.id }}", "reaction_type": "{{ reaction_type }}", "is_selected": {{ reaction_selected|yesno:"true,false" }}}'
        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
        hx-trigger="click"
        hx-select="button"
        hx-target=".page-reaction"
        hx-swap="outerHTML">
    {% if reaction_type %}
        {% get_reaction_icon_template reaction_type as icon_template %}
        {% if reaction_count|default:0 > 0 %}
            {% include icon_template with dark=True hover_light=True %}
        {% else %}
            {% include icon_template with hover_dark=True %}
        {% endif %}
    {% endif %}
    {{ reaction_count|intcomma }}
</button>
