{% extends "2_col_content.html" %}
{% load wagtailcore_tags %}

{% block content %}
    <h1 class="govuk-heading-l">{{ page.title }}</h1>
        {% include "includes/attribution.html" with page=page %}
    {% for block in page.body %}
        {% include_block block %}
    {% endfor %}
{% endblock %}
{% block tertiary_col_content %}
    <h2 class="govuk-heading-m">Related topics</h2>
    <ul class="govuk-list">
        {% for page_topic in page_topics %}
            <li>
                <a class="govuk-link" href="{{ page_topic.topic.url }}">
                    {{ page_topic.topic.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
