{% extends "1_col_content.html" %}
{% load wagtailcore_tags %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">{{ page.title }}</h1>
            {% for block in page.body %}
                {% include_block block %}
            {% endfor %}
        </div>
        <div class="govuk-grid-column-one-third">
            <h2 class="govuk-heading-m">Tools</h2>
            {% for tool in tools %}
                <p class="govuk-body">
                    <a href="{{ tool.page.url }}">
                        {{ tool.page.title }}
                    </a>
                </p>
            {% endfor %}
            <h2 class="govuk-heading-m">Related news</h2>
            {% for page_topic in related_news %}
                <p class="govuk-body">
                    <a href="{{ page_topic.page.url }}">
                        {{ page_topic.page.title }}
                    </a>
                </p>
            {% endfor %}
        </div>
    </div>
    <h2 class="govuk-heading-m">Policies and Guidance</h2>
    {% for page_pg in policies_and_guidance %}
        <p class="govuk-body">
            <a href="{{ page_pg.page.url }}">
                {{ page_pg.page.title }}
            </a>
            <br />
            <span class="updated-at">
                {{ page_pg.page.last_published_at }}
            </span>
        </p>
    {% endfor %}
{% endblock %}