{% load static %}
<div class="dwds-accordions">
    <div class="dwds-accordion-show-all-text"
         style="border-bottom: 1px solid #b1b4b6;
                line-height: 1.3157894737;
                font-size: 1.1875rem;
                color: #1d70b8;
                font-weight: 400">
        <span>Hide all sections</span>
    </div>

    {% for item in items %}
        <div class="dwds-accordion" style="color:#0b0c0c;">
            <div class="dwds-accordion-header" style="font-family: arial, sans-serif;">
                <h2>
                    <span>{{ item.heading }}</span>
                </h2>
            </div>
            <div class="dwds-accordion-content"
                 style="border-bottom: 1px solid #b1b4b6;
                        -webkit-font-smoothing: antialiased;
                        font-family: arial, sans-serif;
                        font-weight:400;
                        margin-top:0">
                <p>{{ item.content }}</p>
            </div>

        </div>
    {% endfor %}

</div>
