.dwds-author {
    &.content-cluster {
        gap: var(--s0);
    }

    div:first-child {
        > a {
            display: flex;
        }

        img {
            width: var(--s5);
            height: var(--s5);
        }
    }
}