.dwds-banner-card {
    --banner-card-background-colour: var(--dbt-blue);

    &--red {
        --banner-card-background-colour: var(--dbt-red);
    }

    box-shadow: none !important;

    .dwds-card--main {
        &--content {
            &--body {
                background-color: var(--banner-card-background-colour);
            }
        }
    }


    h3 {
        color: var(--color-text-highlight);
        font-size: var(--s1);
        font-weight: var(--font-weight-normal);
        line-height: var(--font-lineheight-headings);
    }

    p {
        color: var(--color-text-highlight);
    }

    a,
    a:visited,
    a:link {
        color: var(--color-text-highlight);

        p {
            margin: 0;
            color: var(--color-text-highlight);
        }
    }
}