{% extends "dwds/elements/extendable/card.html" %}

{% block card_container_classes %}
    dwds-banner-card
    card-without-shadow
    {% if alert %}
        dwds-card-red
    {% else %}
        dwds-card-blue
    {% endif %}
{% endblock %}

{% block card_header %}
{% endblock card_header %}

{% block card_content_image %}
{% endblock card_content_image %}

{% block card_content_body %}
    {% if link %}
        <a href="{{ link }}">
            <p role="alert">{{ text }}</p>
        </a>
    {% else %}
        <p role="alert">{{ text }}</p>
    {% endif %}
{% endblock card_content_body %}

{% block card_footer %}
{% endblock card_footer %}
