.dwds-banner-card {
    h3 {
        color: var(--color-text-highlight);
        font-size: var(--s1);
        font-weight: var(--font-weight-normal);
        line-height: var(--font-lineheight-headings);
    }

    a,
    a:visited,
    a:link {
        color: var(--color-text-highlight);

        p {
            margin: 0;
            color: var(--color-text-highlight);
        }
    }
}