.dwds-banner{
    background-color: var(--color-button-primary);
    opacity: var(--opacity-soft);

    a, a:visited, a:link {
      color: var(--color-text-highlight); 
      p {
          padding: var(--s-1);
          color: var(--color-text-highlight);
      }
    }
}