.dwds-card.dwds-card-group {
    --card-body-heading-color: var(--color-text);
    padding: var(--s0);

    .card-group-title-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

        h2 {
            margin: 0;
        }
    }

    .card-group-title-wrapper a,
    .card-footer a {
        display: flex;
        justify-content: space-between;
        max-width: fit-content;

        svg {
            height: var(--font-lineheight-body);
            width: var(--s0);
            margin-left: var(--s0);

            path {
                fill: currentColor;
            }
        }
    }
}

.dwds-card.dwds-card-group.dwds-card-group-grid {
    .grid {
        grid-template-columns: repeat(auto-fit, minmax(25ch, 1fr));
    }
}