{% comment %} TODO: Update to use sections/articles/etc. https://www.w3.org/TR/2013/CR-html5-20130806/sections.html#the-article-element {% endcomment %}
<div class="dwds-comments content-stack large">
    <h2>{{ comment_count }} comment{{ comment_count|pluralize }}</h2>
    {% for comment in comments %}
        {% include "dwds/components/comment.html" with comment=comment page=page %}
    {% endfor %}
    {% if comment_form %}
        <h3>Leave a comment</h3>
        <form class="content-stack"
              action="{{ comment_form_url }}"
              method="post"
              onsubmit="">
            {% csrf_token %}
            {{ comment_form }}
            <input value="Add" type="submit" class="dwds-button" />
        </form>
    {% endif %}
</div>
