<div class="dwds-comment content-stack">
    <div>{{ comment.author_name }}</div>
    <div>{{ comment.posted_date }}</div>
    <div>{{ comment.message }}</div>
    {% if comment.replies %}
        <div class="replies content-stack">
            <h3>
                {{ comment.reply_count }}
                {% if comment.reply_count == 1 %}
                    reply
                {% else %}
                    replies
                {% endif %}
            </h3>
            {% for reply in comment.replies %}
                <div class="dwds-inset">{% include "dwds/components/comment.html" with comment=reply %}</div>
            {% endfor %}
        </div>
    {% endif %}
</div>
