.dwds-card.dwds-cta-card {
    color: var(--color-text-highlight);

    box-shadow: none;

    a,
    a:visited,
    a:link {
        color: var(--color-text-highlight);
        text-decoration-color: var(--color-text-highlight);

        p {
            color: var(--color-text-highlight);
        }
    }
}