{% extends "dwds/elements/extendable/card.html" %}

{% block card_container_classes %}dwds-cta-card{% endblock %}

{% block card_header %}
{% endblock card_header %}
\
{% block card_content_image %}
{% endblock card_content_image %}
\
{% block card_content_title %}
    {% include '../elements/navigational_link.html' with url=url text=title %}
{% endblock card_content_title %}

{% block card_content_body %}
    {% if description %}<p>{{ description }}</p>{% endif %}
{% endblock card_content_body %}

{% block card_footer %}
{% endblock card_footer %}
