{% extends "dwds/components/extendable/card.html" %}
{% load wagtailimages_tags %}

{% block card_classes %}
    {% if is_news %}dwds-card--dark{% endif %}
{% endblock %}
{% block card_container_classes %}dwds-engagement-card{% endblock %}

{% block card_content %}
    {% if thumbnail %}
        {% image thumbnail fill-196x127 %}
    {% endif %}
    <a href="{{ url }}">
        <h3>{{ title }}</h3>
    </a>
    {% if excerpt %}<p class="dwds-engagement-card--excerpt">{{ excerpt }}</p>{% endif %}
    <p class="dwds-engagement-card--author">
        {% if author %}
            {{ author }}
            <br>
        {% endif %}
        <time datetime="{{ date|date:'Y-m-d H:i' }}">{{ date }}</time>
    </p>

{% endblock %}
