{% extends "dwds/elements/extendable/card.html" %}
{% load wagtailimages_tags static humanize %}

{% block card_header %}
{% endblock card_header %}

{% block card_container_classes %}
    dwds-engagement-card
{% endblock card_container_classes %}

{% block card_content_image %}
    {% if thumbnail %}
        {% image thumbnail fill-320x180 %}
    {% else %}
        <img src="{% static '/images/dwds/fallback_image_card.png' %}"
             alt="Colourful circles on a blue background.">
    {% endif %}
{% endblock card_content_image %}

{% block card_content_body %}
    <a href="{{ url }}">
        <h3>{{ title }}</h3>
    </a>

    {% if excerpt %}<p class="dwds-engagement-card--excerpt">{{ excerpt }}</p>{% endif %}
{% endblock card_content_body %}

{% block card_footer_body %}
    <p>
        {% if author %}
            <span>{{ author }}</span>
            <br>
        {% endif %}
        <time datetime="{{ date|date:'Y-m-d H:i' }}">{{ date|naturalday }}</time>
        {% if comment_count > 0 %}
            <p>
                <img class="comment-icon"
                     src="{% static '/images/dwds/icons/comment_icon.svg' %}"
                     alt="Comment bubble icon.">
                {{ comment_count }} comment{{ comment_count|pluralize }}
            </p>
        {% endif %}
    </p>
{% endblock card_footer_body %}
