.dwds-engagement-card {    
    .comment-icon {
        vertical-align: text-bottom;
    }

    .card-comment-section {
        margin-top: var(--card-comment-section-margin-top);
    }

    p {
        margin-bottom: 0;
    }
}
