{% load wagtailimages_tags static humanize formatting %}

<div class="content-item content-custom-sidebar-wrapper">
    <div class="content-custom-sidebar">
        {% include "dwds/elements/content_image.html" with content_image=thumbnail %}

        <div class="content-main content">
            <div class="content-body content-stack">
                {% if ribbon_text %}
                    {% include "dwds/elements/ribbon.html" with text=ribbon_text colour="blue" %}
                {% endif %}
                <h3>
                    <a class="no-underline" href="{{ url }}">{{ title }}</a>
                </h3>
                {% if post_title %}
                    <div class="post-title-container">
                        <h4 class="post-title">{{ post_title }}</h4>
                    </div>
                {% endif %}
                {% if excerpt %}<p>{{ excerpt|truncate_magic:25 }}</p>{% endif %}
            </div>

            {% if updated_date or created_date or comment_count or reaction_count %}
                <div class="content-footer content-stack">
                    {% if updated_date > created_date %}
                        <time>
                            Updated {{ updated_date|naturalday:'j F Y' }}
                            {% if updated_date|naturalday in 'yesterday, today' %}at {{ updated_date|time:'g:iA'|lower }}{% endif %}
                        </time>
                    {% elif created_date %}
                        <time>
                            Added {{ created_date|naturalday:'j F Y' }}
                            {% if created_date|naturalday in 'yesterday, today' %}at {{ created_date|time:'g:iA'|lower }}{% endif %}
                        </time>
                    {% endif %}

                    {% if comment_count > 0 %}
                        {% include "dwds/components/comment_section.html" %}
                    {% endif %}
                    {% if reaction_count > 0 %}
                        {% include "dwds/components/comment_section.html" with comment_count=reaction_count %}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
