{% extends "dwds/elements/extendable/card.html" %}
{% load wagtailimages_tags static humanize %}

{% block card_header %}
{% endblock card_header %}

{% block card_container_classes %}
    dwds-engagement-card card-with-image
{% endblock card_container_classes %}

{% block card_content_image %}
    {% if thumbnail %}
        {% image thumbnail fill-320x180 %}
    {% else %}
        <img src="{% static '/images/dwds/fallback_image_card.png' %}"
             alt="Colourful circles on a blue background.">
    {% endif %}
{% endblock card_content_image %}

{% block card_content_body %}
    <h3><a href="{{ url }}">{{ title }}</a></h3>

    {% if excerpt %}
        <p>{{ excerpt }}</p>
    {% endif %}
{% endblock card_content_body %}

{% block card_footer_body %}
 
    <time>
        Added {{ date|naturalday:'j F Y' }}
        {% if date|naturalday in 'yesterday, today' %}at {{ date|time:'g:iA'|lower }}{% endif %}
    </time>

    {% if comment_count > 0 %}
        <span class="card-comment-section">
            <img class="comment-icon"
                 src="{% static '/images/dwds/icons/comment_icon.svg' %}"
                 alt="Comment bubble icon.">
            {{ comment_count }} comment{{ comment_count|pluralize }}
        </span>
    {% endif %}
{% endblock card_footer_body %}
