.dwds-engagement-card {
    font-size: var(--s0);

    a {
        text-decoration: none;
    }

    a:hover {
        text-decoration-line: underline;
        text-decoration-color: var(--color-link);
    }

    a:active {
        text-decoration-line: underline;
        text-decoration-color: var(--color-link);
        background-color: var(--color-link-background-active);
    }

    img {
        height: auto;
        width: 100%;
    }

    h3 {
        margin-top: var(--s0);
        margin-bottom: var(--s-1);
    }

}