.dwds-link-list {
    h2 {
        font-size: var(--s1);
        font-weight: var(--font-weight-normal);
        line-height: var(--font-lineheight-headings);
    }

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        column-width: 22ch;
    }

    li {
        text-align: start;
        padding-top: var(--s-2);

        a {
            color: var(--color-link);
        }

        a:active {
            background-color: var(--color-link-background-active);
        }

        a:visited {
            color: var(--color-link-visited);
        }

        a:hover {
            text-decoration-thickness: var(--text-underline-hover);
        }
    }
}
