.dwds-link-action {
    display: flex;
    justify-content: space-between;
    max-width: fit-content;

    svg {
        height: var(--font-lineheight-body);
        width: var(--s0);

        path {
            fill: currentColor;
        }
    }
}

.dwds-link-action.left {
    > div {
        margin-left: var(--s0);
    }
}

.dwds-link-action.right {
    > div {
        margin-right: var(--s0);
    }
}