<div class="dwds-link-navigate">
    {% if previous_url %}
        <a href="{{ previous_url }}">
            {% include "dwds/icons/arrow-left.html" %}
            <span>{{ previous_text|default:'Previous'|title }}</span>
        </a>
    {% endif %}
    {% if previous_url and next_url %}<span>|</span>{% endif %}
    {% if next_url %}
        <a href="{{ next_url }}"> <span>{{ next_text|default:'Next'|title }}</span>
            {% include "dwds/icons/arrow-right.html" %}
        </a>
    {% endif %}
</div>
