.dwds-link-navigate {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--s0);

    .dwds-link-action {
        > div {
            margin-left: 0;
            margin-right: 0;
        }
    }

    > span {
        width: 2px;
        height: var(--font-lineheight-body);
        background: var(--color-border);
    }

    a {
        display: flex;
        gap: var(--s0);

        svg {
            height: var(--font-lineheight-body);
            width: var(--s1);
            text-decoration: none;

            path {
                fill: currentColor;
            }
        }
    }
}