.dwds-modal {
    dialog {
        border: unset;
        border-radius: var(--border-radius);

        &::backdrop {
            background: var(--modal-backdrop-color);
            backdrop-filter: blur(0.3rem);
        }

        form[method="dialog"].modal-header {
            display: flex;
            flex-direction: row-reverse;

            button {
                // color: var(--color-link);
            }

        }
    }

    &.width-third {
        dialog {
            min-width: 33%;
        }
    }
}
