.dwds-modal {
    dialog {
        border: unset;
        border-radius: var(--border-radius);
        padding: var(--space);

        &::backdrop {
            background: var(--modal-backdrop-color);
            backdrop-filter: blur(0.3rem);
        }

        h2 {
            margin: unset;
        }

        form[method="dialog"] {
            display: flex;
            flex-direction: row-reverse;
        }
    }

    &.width-third {
        dialog {
            min-width: 33%;
        }
    }
}