<div class="dwds-modal width-third">
    <button class="dwds-button dwds-modal-open">Open Modal</button>
    <dialog>
        <div class="content-spaced middle">
            <h2>This is a dialog!</h2>
            <form class="modal-header" method="dialog">
                <button class="dwds-modal-close dwds-button dwds-button--link content-with-icon small-gap">
                    {% include "dwds/icons/cross.html" with small=True %}
                    Close
                </button>
            </form>
        </div>
        {{ content }}
    </dialog>
</div>
