.dwds-one-up-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    a {
        text-decoration: none;

        h2{
            margin-top: 0;
            font-size: var(--s4);
        }

        &:hover, &:active {
            text-decoration-line: underline;
            text-decoration-color: var(--color-link);
        }

        &:active {
            background-color: var(--color-link-background-active);
        }
    }

    p{
        color: var(--dbt-light-blue)
    }
    
    img {
        height: auto;
        width: 100%;
        border: var(--border-width) solid var(--color-border);
    }
}
