{% extends "dwds/elements/extendable/card.html" %}
{% load wagtailimages_tags static humanize %}

{% block card_container_classes %}
    dwds-one-up-card
{% endblock card_container_classes %}
 
{% block card_header %}
{% endblock card_header %}

{% block card_main %}
    <div class="card-main switcher">
        <div class="card-content">
            {% block card_content %}
                <div class="card-body">
                    {% block card_content_body %}
                        {% if ribbon_text %}
                            {% include "dwds/unsure/ribbon.html" with text=ribbon_text colour="blue" %}
                        {% endif %}
                        <a href="{{ url }}">
                            <h2>{{ title }}</h2>
                        </a>
                        {% if excerpt %}<p>{{ excerpt }}</p>{% endif %}
                    {% endblock card_content_body %}
                </div>
 
            {% endblock card_content %}

            {% block card_footer %}
                <div class="dwds-card--footer">
                    <p>
                        <img class="comment_icon"
                             src="{% static '/images/dwds/icons/comment_icon.svg' %}"
                             alt="Comment bubble icon.">
                        <span>{{ comment_count }} Comment{{ comment_count|pluralize }}</span>
                    </p>
                </div>
            {% endblock card_footer %}
        </div>
        <div class="dwds-card--image">
            {% if thumbnail %}
                {% image thumbnail fill-320x200 %}
            {% endif %}
        </div>
    </div>
{% endblock card_main %}
