.dwds-one-up-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    a {
        text-decoration: none;

        h2{
            margin-top: 0;
            color: var(--dbt-light-blue);
        }

        &:hover, &:active {
            text-decoration-line: underline;
            text-decoration-color: var(--color-link);
        }

        &:active {
            background-color: var(--color-link-background-active);
        }
    }

        p{
            .comment_icon{
                width: var(--s0) !important;
                height: var(--s0) !important;
            }
        }
   
    .dwds-card--image{
        img {
            width: 100%;
            height: 100%;
        }
    }
}
