<div class="dwds-pagination">
    {% if pages.has_previous %}
        <a href="?page=1">
            {% include "dwds/icons/arrow-left.html" %}
            <span>{{ first_page_text|default:'First'|title }}</span>
        </a>
        <a href="?page={{ pages.previous_page_number }}">
            {% include "dwds/icons/arrow-left.html" %}
            <span>{{ previous_text|default:'Previous'|title }}</span>
        </a>
    {% elif previous_url %}
        <a href="{{ previous_url }}">
            {% include "dwds/icons/arrow-left.html" %}
            <span>{{ previous_text|default:'Previous'|title }}</span>
        </a>
    {% endif %}
    {% if pages %}
        <ul>
            {% for i in pagination_range %}
                {% if pages.number == i %}
                    <li class="active">
                        <span>{{ i }}</span>
                    </li>
                {% else %}
                    {% if i in page.paginator.ELLIPSIS %}
                        <li>
                            <span class="pf-pagination__page">{{ page.paginator.ELLIPSIS }}</span>
                        </li>
                    {% else %}
                        <li>
                            <a href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    {% elif previous_url and next_url %}
        <span>|</span>
    {% endif %}
    {% if pages.has_next %}
        <a href="?page={{ pages.next_page_number }}"> <span>{{ next_text|default:'Next'|title }}</span>
            {% include "dwds/icons/arrow-right.html" %}
        </a>
        <a href="?page={{ pages.paginator.num_pages }}">
            <span>{{ last_page_text|default:'Last'|title }}</span>
            {% include "dwds/icons/arrow-right.html" %}
        </a>
    {% elif next_url %}
        <a href="{{ next_url }}"> <span>{{ next_text|default:'Next'|title }}</span>
            {% include "dwds/icons/arrow-right.html" %}
        </a>
    {% endif %}
</div>
