<div class="dwds-pagination">
    {% if pages.has_previous %}
        {% if number_navigation %}
            <a href="?page=1">
                {% include "dwds/icons/arrow-left.html" %}
                <span>{{ first_page_text|title }}</span>
            </a>
        {% endif %}
        <a href="?page={{ pages.previous_page_number }}">
            {% include "dwds/icons/arrow-left.html" %}
            <span>{{ negative_text|title }}</span>
        </a>
    {% endif %}
    {% if number_navigation %}
        <ul>
            {% for i in pagination_range %}
                {% if pages.number == i %}
                    <li class="active">
                        <span>{{ i }}</span>
                    </li>
                {% else %}
                    {% if i in page.paginator.ELLIPSIS %}
                        <li>
                            <span class="pf-pagination__page">{{ page.paginator.ELLIPSIS }}</span>
                        </li>
                    {% else %}
                        <li>
                            <a href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    {% elif pages.has_previous and pages.has_next %}
        <span>|</span>
    {% endif %}
    {% if pages.has_next %}
        <a href="?page={{ pages.next_page_number }}"> <span>{{ positive_text|title }}</span>
            {% include "dwds/icons/arrow-right.html" %}
        </a>
        {% if number_navigation %}
            <a href="?page={{ pages.paginator.num_pages }}">
                <span>{{ last_page_text|title }}</span>
                {% include "dwds/icons/arrow-right.html" %}
            </a>
        {% endif %}
    {% endif %}
</div>
