<div class="dwds-pagination">
    {% if pages.has_previous %}
        <a href="?page=1">
            {% include "dwds/icons/arrow-left.html" %}
            <span>First</span>
        </a>
        <a href="?page={{ pages.previous_page_number }}">
            {% include "dwds/icons/arrow-left.html" %}
            <span>Previous</span>
        </a>
    {% endif %}
    {% if pages %}
        <ul>
            {% for i in pagination_range %}
                {% if pages.number == i %}
                    <li class="active">
                        <span>{{ i }}</span>
                    </li>
                {% else %}
                    {% if i == page.paginator.ELLIPSIS %}
                        <li>
                            <span>{{ page.paginator.ELLIPSIS }}</span>
                        </li>
                    {% else %}
                        <li>
                            <a href="?page={{ i }}">{{ i }}</a>
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </ul>
    {% endif %}
    {% if pages.has_next %}
        <a href="?page={{ pages.next_page_number }}"> <span>Next</span>
            {% include "dwds/icons/arrow-right.html" %}
        </a>
        <a href="?page={{ pages.paginator.num_pages }}">
            <span>Last</span>
            {% include "dwds/icons/arrow-right.html" %}
        </a>
    {% endif %}
</div>
