{% load wagtailimages_tags static humanize %}
{% comment %}
Supersedes profile_info as being a zero-config standard
Only requires "profile" to be set
 {% endcomment %}

<div class="dwds-profile content-item">
    <div class="content-main">
        <div id="photo-container">
            {% if profile.has_photo %}
            {% url 'profile-view' profile.slug as profile_url %}
                {% include "dwds/elements/profile_image.html" with
                    small=True
                    profile_image_url=profile.photo.url
                    name=name
                    profile_url=profile_url %}
            {% endif %}
        </div>

        <div class="content-stack">
            <h3>
                <a class="no-underline" href="{% url 'profile-view' profile.slug %}">{{ profile.full_name }}</a>
            </h3>
            {{ profile.get_roles_display }}
            {% if not profile.is_active %}
                <strong
                    class="govuk-tag govuk-tag--orange"
                    >Inactive</strong>
            {% endif %}
            {% if profile.get_location_summary_display %}
                <div class="content-with-icon small-gap">
                        {% include "dwds/icons/marker.html" with small=True %} {{
                        profile.get_location_summary_display }}
                </div>
            {% endif %}
            <div>
                {% spaceless %}
                    <a class="content-with-icon small-gap" href="mailto:{{ profile.preferred_email }}" alt="{{ profile.preferred_email }}" title="{{ profile.preferred_email }}">
                        {% include "dwds/icons/email.html" with small=True %}
                    </a>
                    {% if profile.primary_phone_number %}
                        <a class="content-with-icon small-gap" href="tel:{{ profile.primary_phone_number }}" alt="{{ profile.primary_phone_number }}" title="{{ profile.primary_phone_number }}">{% include "dwds/icons/phone.html" with small=True %}</a>
                    {% endif %}
                {% endspaceless %}
            </div>
        </div>
    </div>
</div>
