.dwds-profile {
    text-align: center;

    > .content-stack {
        margin-block-start: 0;
    }

    h3 {
        margin: 0;
    }

    p {
        margin-top: var(--s-5);
    }

    .content-footer .with-icon {
        padding: var(--s-5);

        .content-icon {
            font-size: var(--s4);
            margin-inline-end: unset;
        }
    }
}
