.dwds-card.dwds-promo-banner {
    .card-main{
        // FIXME
        grid-template-columns: 1fr 1fr;

        image{
            border-radius: 0;
        }
    }

    .dwds-navigational-link{
        justify-content: unset;
        gap: var(--s0);
        svg{
            width: var(--s0);
        }
    }

    p {
        color: var(--color-text-highlight);
        margin: 0;
    }

    a,
    a:visited,
    a:link {
        color: var(--color-text-highlight);
        font-size: var(--s0);
        text-decoration: underline;
        font-weight: var(--font-weight-normal);

        p {
            color: var(--color-text-highlight);
        }
    }
}