.dwds-card.dwds-promo-banner {
    .ribbon-main.ribbon-red{
        border-radius: var(--border-radius);
    }

    .card-main{
        grid-template-columns: 2fr 1fr;
        image{
            border-radius: 0;
        }
    }

    .dwds-navigational-link{
        justify-content: unset;
        svg{
            width: var(--s0);
        }
    }


    h3 {
        color: var(--color-text-highlight);
        font-size: var(--text-xlarge);
        font-weight: var(--font-weight-normal);
        line-height: var(--font-lineheight-headings);
    }

    p {
        color: var(--color-text-highlight);
        margin: 0;
    }

    a,
    a:visited,
    a:link {
        color: var(--color-text-highlight);
        font-size: var(--s0);
        text-decoration: underline;
        font-weight: var(--font-weight-normal);

        p {
            color: var(--color-text-highlight);
        }
    }
}