<div class="dwds-quote">
    <div class="left-quote">{% include 'dwds/icons/left-quote.html' %}</div>

    <div class="quote-body">
        {% if source_image %}
            <div class="profile-pic">{% include source_image %}</div>
        {% endif %}
        <div class="quote-content">
            <p class="quote-text">{{ quote }}</p>
            <p class="author">
                <a href="{{ source_url }}">{{ source_name }}</a>
                | {{ source_role }}
                | in <a href="{{ source_team_url }}">{{ source_team }}</a>
            </p>
        </div>
    </div>

    <div class="right-quote">{% include 'dwds/icons/right-quote.html' %}</div>
</div>
