{% load comments %}

{% user_can_edit_comment request.user comment.id as can_edit %}
{% if can_edit %}
    {% if comment.edit_form %}
        <button class="dwds-toggle-visibility dwds-button dwds-button--link"
                data-target-identifier="comment-{{ comment.id }}-edit-form"
                data-target-state="hidden">Edit</button>
        <div id="comment-{{ comment.id }}-edit-form">
            <h3>Edit this comment</h3>
            <form action="{{ comment.edit_form_url }}" method="post" onsubmit="">
                {% csrf_token %}
                {{ comment.edit_form }}
                <input value="Submit edited comment"
                       type="submit"
                       class="dwds-button dwds-button--transactional" />
            </form>
        </div>
    {% endif %}
{% endif %}
