<!-- TODO: convert to templatetag and use htmx -->
{% if comment.reply_form %}
    <button class="dwds-toggle-visibility dwds-button dwds-button--link"
            data-target-identifier="comment-{{ comment.id }}-reply-form"
            data-target-state="hidden">Reply</button>
    <div id="comment-{{ comment.id }}-reply-form">
        <h3>Reply to this comment</h3>
        <form action="{{ comment.reply_form_url }}" method="post" onsubmit="">
            {% csrf_token %}
            {{ comment.reply_form }}
            <input value="Submit reply"
                   type="submit"
                   class="dwds-button dwds-button--transactional" />
        </form>
    </div>
{% endif %}
