{% extends "1_col_content.html" %}
{% comment %}
context:
    search_url
    search_query
    search_category
    search_results
    search_results_template
{% endcomment %}
{% block title %}Search results for '{{ search_query }}'{% endblock %}
{% block location %}Search{% endblock %}
{% block content %}
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <div id="search-results" class="search-results">{% include 'search/partials/search_results.html' %}</div>
    <script lang="javascript">
        gtm_data_then_click = function(object, data) {
            dataLayer.push(data);
            url=object.getAttribute("href");
            setTimeout(function(){location.href = url}, 500);
            return false;
        };
        // set focus to search input, move cursor to end of text
        document.addEventListener("DOMContentLoaded", () => {
            const searchinput = document.getElementById("search-site");
            searchinput.selectionStart = 1000;
            searchinput.selectionEnd = 1000;
            searchinput.focus();
        });
    </script>
{% endblock content %}
