{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}

        <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

    <fieldset class="govuk-fieldset">
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
        Search
    </h1>
  </legend>
</fieldset>

    <form  action="{% url 'search' %}" method="get">
    <fieldset class="govuk-fieldset">
        <div class="govuk-form-group">
            <label class="govuk-label" for="address-line-1">
                Search term <span class="govuk-visually-hidden">line 1 of 2</span>
            </label>
            <input class="govuk-input" id="query" name="query" type="text"{% if search_query %} value="{{ search_query }}"{% endif %}>
            <input value="search" type="submit" class="govuk-button" data-module="govuk-button">
    </form>
    <p class="govuk-body">{{ num_results }} {% if num_results == 1 %}result{% else %}results{% endif %}</p>
    {% if pinned_results %}
        <ul class="search-results">
            {% for result in pinned_results %}
                <li class="pinned-result">
                    <h3 class="govuk-heading-m"><a class="govuk-link" href="{% pageurl result %}">{{ result }}</a></h3>
                    {% if result.search_description %}
                        {{ result.search_description }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if search_results %}
        <ul class="search-results">
            {% for result in search_results %}
                <li>
                    <h3 class="govuk-heading-m"><a class="govuk-link" href="{% pageurl result %}">{{ result }}</a></h3>
                    {% if result.search_description %}
                        {{ result.search_description }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        {% if search_results.has_previous %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
        {% endif %}
        {% if search_results.has_next %}
            <a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
        {% endif %}
    {% endif %}
    {% if not pinned_results and not search_query %}
        No results found
    {% endif %}
{% endblock %}
</div>
</div>