{% extends "1_col_content.html" %}
{% block title %}
    Search results for '{{ form.cleaned_data.search_query }}'
{% endblock title %}
{% block location %}
    Search results
{% endblock location %}
{% block content %}
    {% include 'search/partials/search_form.html' with search_url='v2-search' placeholder='Search news, policies, people and teams' %}
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    {% if total_matches %}
        <h1 class="govuk-heading-l">{{ total_matches }} search results for '{{ search_query }}'</h1>
    {% else %}
        <h1 class="govuk-heading-l">No search results for '{{ search_query }}'</h1>
        <p class="govuk-body-l">Check your spelling or try another search.</p>
    {% endif %}
    {% include 'peoplefinder/components/error-summary.html' %}
    <div class="govuk-grid-row mb-20">
        <!-- Search results -->
        <div class="govuk-grid-column-full v2-search-results">

            {% if not search_category %}
                <!-- Category: Pages -->
                <div class="v2-search-results__category">
                    <div class="govuk-!-padding-left-2 govuk-!-padding-right-2">
                        <h2 class="govuk-heading-m">Pages</h2>
                        {% include 'search/partials/page_results.html' with results=page_results|slice:":3" num_prev_results='0' %}
                    </div>
                    {% include 'search/partials/see_all_results_form.html' with category='pages' category_text='page' %}
                </div>
                <!-- Category: People -->
                <div class="v2-search-results__category">
                    <div class="govuk-!-padding-left-2 govuk-!-padding-right-2">
                        <h2 class="govuk-heading-m">People</h2>
                        {% include 'search/partials/people_results.html' with results=people_results|slice:":3" num_prev_results=page_results|length %}
                    </div>
                    {% include 'search/partials/see_all_results_form.html' with category='people' %}
                </div>
                <!-- Category: Teams -->
                <div class="v2-search-results__category">
                    <div class="govuk-!-padding-left-2 govuk-!-padding-right-2">
                        <h2 class="govuk-heading-m">Teams</h2>
                        {% include 'search/partials/team_results.html' with results=team_results|slice:":3" num_prev_results=num_page_results|add:num_people_results %}
                    </div>
                    {% include 'search/partials/see_all_results_form.html' with category='teams' category_text='team' %}
                </div>
                <script lang="javascript">
            document.onload = dataLayer.push({
                'event': 'search',
                'search_version': 'v2.0-optB',
                'search_query': '{{ search_query }}',
                'search_results_page_type': 'combined',
                'search_results_count_total': '{{ total_matches }}',
                'search_results_count_pages_type': '{{ page_results|length }}',
                'search_results_count_people_type': '{{ people_results|length }}',
                'search_results_count_teams_type': '{{ team_results|length }}'
            });
                </script>
            {% else %}
                <div class="v2-search-results__list">
                    {% include 'search/partials/see_all_results_form.html' %}
                    <h2 class="govuk-heading-m">{{ search_category|title }}</h2>

                    {% if results %}
                        {% include results_template with num_prev_results='0' %}
                    {% else %}
                        No results
                    {% endif %}

                </div>
                <script lang="javascript">
            document.onload = dataLayer.push({
                'event': 'search',
                'search_version': 'v2.0-optB',
                'search_query': '{{ search_query }}',
                'search_results_page_type': '{{ search_category }}',
                'search_results_count_total': '{{ total_matches }}',
                'search_results_count_{{ search_category }}_type': '{{ total_matches }}'
            });
                </script>
            {% endif %}

        </div>
    </div>
    <script lang="javascript">
        gtm_data_then_click = function(object, data) {
            dataLayer.push(data);
            url=object.getAttribute('href');
            setTimeout(function(){location.href = url}, 500);
            return false;
        };
    </script>
{% endblock content %}
