{% extends "content/content_page.html" %}
{% load wagtailcore_tags %}

{% block primary_content %}
    {{ block.super }}

    {% if page.hmtc_region_factsheets_collection %}
        <h2>{{ page.hmtc_region_factsheets_heading }}</h2>
        {% for doc in hmtc_region_factsheets %}
            <p>
                <a href="{{ doc.url }}">{{ doc.title }}</a>
            </p>
        {% empty %}
            <p>There are no factsheets in this collection.</p>
        {% endfor %}
    {% endif %}

    {% if page.group_factsheets_collection %}
        <h2>{{ page.group_factsheets_heading }}</h2>
        {% for doc in group_factsheets %}
            <p>
                <a href="{{ doc.url }}">{{ doc.title }}</a>
            </p>
        {% empty %}
            <p>There are no factsheets in this collection.</p>
        {% endfor %}
    {% endif %}
{% endblock primary_content %}
