{% extends "dwds_content.html" %}

{% block title %}
    DW Design System components
{% endblock title %}

{% block page_title %}
    <h1>DW Design System styles</h1>
{% endblock page_title %}

{% block primary_content %}
    <h1>Styles</h1>

    <h2>Content Shifting Buttons</h2>
    <div style="display: flex; gap: 1rem; margin-bottom: 1rem;">
        <button class="dwds-button">Primary button</button>
        <button class="dwds-button dwds-button--secondary">Secondary button</button>
        <button class="dwds-button dwds-button--secondary-dark">Secondary-dark button</button>
        <button class="dwds-button dwds-button--warning">Warning button</button>
        <button class="dwds-button dwds-button--transactional">Transactional button</button>
    </div>
    <div style="display: flex; gap: 1rem; margin-bottom: 1rem;">
        <button class="dwds-button dwds-button--inline">PB (inline)</button>
        <button class="dwds-button dwds-button--secondary dwds-button--inline">SB (inline)</button>
        <button class="dwds-button dwds-button--secondary-dark dwds-button--inline">SDB (inline)</button>
        <button class="dwds-button dwds-button--warning dwds-button--inline">WB (inline)</button>
        <button class="dwds-button dwds-button--transactional dwds-button--inline">TB (inline)</button>
    </div>

    <h2>Without Border Buttons</h2>
    <div style="display: flex; gap: 1rem; margin-bottom: 1rem;">
        <button class="dwds-button-no-border">Primary button</button>
        <button class="dwds-button-no-border dwds-button-no-border--secondary">Secondary button</button>
        <button class="dwds-button-no-border dwds-button-no-border--secondary-dark">Secondary-dark button</button>
        <button class="dwds-button-no-border dwds-button-no-border--warning">Warning button</button>
        <button class="dwds-button-no-border dwds-button-no-border--transactional">Transactional button</button>
    </div>
    <div style="display: flex; gap: 1rem; margin-bottom: 1rem;">
        <button class="dwds-button-no-border dwds-button-no-border--inline">PB (inline)</button>
        <button class="dwds-button-no-border dwds-button-no-border--secondary dwds-button-no-border--inline">
            SB (inline)
        </button>
        <button class="dwds-button-no-border dwds-button-no-border--secondary-dark dwds-button-no-border--inline">
            SDB (inline)
        </button>
        <button class="dwds-button-no-border dwds-button-no-border--warning dwds-button-no-border--inline">WB (inline)</button>
        <button class="dwds-button-no-border dwds-button-no-border--transactional dwds-button-no-border--inline">
            TB (inline)
        </button>
    </div>

    <h2>Hacky Buttons with borders</h2>
    <div style="display: flex; gap: 1rem; margin-bottom: 1rem;">
        <button class="dwds-button-transparent">Primary button</button>
        <button class="dwds-button-transparent dwds-button-transparent--secondary">Secondary button</button>
        <button class="dwds-button-transparent dwds-button-transparent--secondary-dark">Secondary-dark button</button>
        <button class="dwds-button-transparent dwds-button-transparent--warning">Warning button</button>
        <button class="dwds-button-transparent dwds-button-transparent--transactional">Transactional button</button>
    </div>
    <div style="display: flex; gap: 1rem; margin-bottom: 1rem;">
        <button class="dwds-button-transparent dwds-button-transparent--inline">PB (inline)</button>
        <button class="dwds-button-transparent dwds-button-transparent--secondary dwds-button-transparent--inline">
            SB (inline)
        </button>
        <button class="dwds-button-transparent dwds-button-transparent--secondary-dark dwds-button-transparent--inline">
            SDB (inline)
        </button>
        <button class="dwds-button-transparent dwds-button-transparent--warning dwds-button-transparent--inline">
            WB (inline)
        </button>
        <button class="dwds-button-transparent dwds-button-transparent--transactional dwds-button-transparent--inline">
            TB (inline)
        </button>
    </div>

    <h2>Outlined Buttons</h2>
    <div style="display: flex; gap: 1rem; margin-bottom: 1rem;">
        <button class="dwds-button-outline">Primary button</button>
        <button class="dwds-button-outline dwds-button-outline--secondary">Secondary button</button>
        <button class="dwds-button-outline dwds-button-outline--secondary-dark">Secondary-dark button</button>
        <button class="dwds-button-outline dwds-button-outline--warning">Warning button</button>
        <button class="dwds-button-outline dwds-button-outline--transactional">Transactional button</button>
    </div>
    <div style="display: flex; gap: 1rem; margin-bottom: 1rem;">
        <button class="dwds-button-outline dwds-button-outline--inline">PB (inline)</button>
        <button class="dwds-button-outline dwds-button-outline--secondary dwds-button-outline--inline">SB (inline)</button>
        <button class="dwds-button-outline dwds-button-outline--secondary-dark dwds-button-outline--inline">
            SDB (inline)
        </button>
        <button class="dwds-button-outline dwds-button-outline--warning dwds-button-outline--inline">WB (inline)</button>
        <button class="dwds-button-outline dwds-button-outline--transactional dwds-button-outline--inline">TB (inline)</button>
    </div>


    <h2>Headings (examples, these styles don't exist yet)</h2>

    <span class="dwds-heading-xl">Heading XL</span>
    <br>
    <span class="dwds-heading-l">Heading L</span>
    <br>
    <span class="dwds-heading-m">Heading M</span>
    <br>
    <span class="dwds-heading-s">Heading S</span>
    <br>
    <span class="dwds-heading-xs">Heading XS</span>
{% endblock primary_content %}
