{% extends "dwds_content.html" %}

{% block title %}
    DW Design System components
{% endblock title %}

{% block page_title %}
    <h1>DW Design System styles</h1>
{% endblock page_title %}

{% block primary_content %}
    <h1>Styles</h1>

    <h2>Buttons - no additional borders for various states</h2>
    <div style="display: flex; gap: 1rem; margin-bottom: 1rem;">
        <button class="dwds-button">Primary button</button>
        <button class="dwds-button dwds-button--secondary">Secondary button</button>
        <button class="dwds-button dwds-button--secondary-dark">Secondary-dark button</button>
        <button class="dwds-button dwds-button--warning">Warning button</button>
        <button class="dwds-button dwds-button--transactional">Transactional button</button>
    </div>
    <div style="display: flex; gap: 1rem; margin-bottom: 1rem;">
        <button class="dwds-button dwds-button--inline">PB (inline)</button>
        <button class="dwds-button dwds-button--secondary dwds-button--inline">SB (inline)</button>
        <button class="dwds-button dwds-button--secondary-dark dwds-button--inline">SDB (inline)</button>
        <button class="dwds-button dwds-button--warning dwds-button--inline">WB (inline)</button>
        <button class="dwds-button dwds-button--transactional dwds-button--inline">TB (inline)</button>
    </div>

    <h2>Headings (examples, these styles don't exist yet)</h2>

    <span class="dwds-heading-xl">Heading XL</span>
    <br>
    <span class="dwds-heading-l">Heading L</span>
    <br>
    <span class="dwds-heading-m">Heading M</span>
    <br>
    <span class="dwds-heading-s">Heading S</span>
    <br>
    <span class="dwds-heading-xs">Heading XS</span>
{% endblock primary_content %}
