{% extends "1_col_content.html" %}

{% block title %}There is a problem with this service{% endblock %}

{% block content %}
    {% if message_sent %}
        <div class="govuk-notification-banner"
             role="region"
             aria-labelledby="govuk-notification-banner-title"
             data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
                <h2 class="govuk-notification-banner__title"
                    id="govuk-notification-banner-title">Issue status</h2>
            </div>
            <div class="govuk-notification-banner__content">
                <p class="govuk-notification-banner__heading">
                    Thank you for reporting this issue. We are currently experiencing a high number of tickets. We will respond as soon as we can.
                </p>
            </div>
        </div>
    {% else %}
        <fieldset class="govuk-fieldset">
            <form novalidate method='post'>
                {% csrf_token %}
                {% include "includes/govt_uk_form.html" with form=form %}
                <input type="submit"
                       value="Submit"
                       class="govuk-button govuk-button"
                       data-module="govuk-button" />
            </form>
        </fieldset>
    {% endif %}
{% endblock %}

{% block page_problem %}{% endblock %}
