{% extends "dwds_sidebar.html" %}
{% load wagtailcore_tags cards %}

{% block primary_content_classes %}
    content-stack large
{% endblock primary_content_classes %}

{% block page_title_wrapper %}
    <div class="content-spaced">
        {{ block.super }}
        {% if user_follows_tag %}
            <form method="post"
                  action="{% url 'interactions:unsubscribe-from-tag' tag.pk %}">
                {% csrf_token %}
                <button class="dwds-button dwds-button--inline" type="submit">
                    Unfollow <span class="dwds-sr-only">{{ tag.name }} content</span>
                </button>
            </form>
        {% else %}
            <form method="post"
                  action="{% url 'interactions:subscribe-to-tag' tag.pk %}">
                {% csrf_token %}
                <button class="dwds-button dwds-button--inline dwds-button--secondary"
                        type="submit">
                    Follow <span class="dwds-sr-only">{{ tag.name }} content</span>
                </button>
            </form>
        {% endif %}
    </div>
{% endblock page_title_wrapper %}

{% block primary_content %}
    <div class="content-stack large">
        {% if tagged_teams %}
            <h2>Teams</h2>
            <div class="content-grid grid-cards-auto-fill">
                {% for obj in tagged_teams %}
                    <c-dwds-card>
                        <c-slot name="card_content">
                            {% include 'peoplefinder/components/team-card-new.html' with team=obj.content_object profile_completion=obj.content_object.profile_completion %}
                        </c-slot>
                    </c-dwds-card>
                {% endfor %}
            </div>
        {% endif %}

        {% if tagged_people %}
            <h2>People</h2>
            <div class="content-grid grid-cards-auto-fill">
                {% for obj in tagged_people %}
                    <c-dwds-card>
                        <c-slot name="card_content">
                            {% url 'profile-view' obj.content_object.slug as profile_url %}
                            {% if obj.content_object.photo %}
                                {% include "dwds/components/profile_info.html" with show_profile_image=True profile_image_url=obj.content_object.photo.url name=obj.content_object.full_name title=obj.content_object.job_title location=obj.content_object.uk_office_location.city profile_url=profile_url %}
                            {% else %}
                                {% include "dwds/components/profile_info.html" with show_profile_image=True name=obj.content_object.full_name title=obj.content_object.job_title location=obj.content_object.uk_office_location.city profile_url=profile_url %}
                            {% endif %}
                        </c-slot>
                    </c-dwds-card>
                {% endfor %}
            </div>
        {% endif %}

        {% if tagged_pages %}
            <h2>Pages</h2>
            <div class="content-grid grid-cards-auto-fill">
                {% for obj in tagged_pages %}
                    <c-dwds-card>
                        <c-slot name="card_content">
                            {% page_to_engagement obj.content_object %}
                        </c-slot>
                    </c-dwds-card>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock primary_content %}
