{% extends "dwds_sidebar_left.html" %}
{% load static %}
{% load sidebar %}

{% block body_classes %}
    dwds-body
{% endblock body_classes %}

{% block breadcrumbs %}
{% endblock breadcrumbs %}

{% block secondary_content %}
    {% include "peoplefinder/includes/discover_filters.html" %}
    {% sidebar %}
{% endblock secondary_content %}

{% block primary_content_classes %}
    content-stack large
{% endblock primary_content_classes %}

{% block primary_content %}
    {% if pages.object_list %}
        <div class="dwds-button-group"
             style="width: 100%;
                    display: flex;
                    justify-content: space-between">
            <p>Showing {{ pages.start_index }} to {{ pages.end_index }} of {{ pages.paginator.count }} profiles</p>
            <form method="get">
                <label for="sort_by">Sort by {{ discover_filters.form.sort_by }}</label>
                <script>
                    const sort_by = document.getElementById("id_sort_by");
                    sort_by.addEventListener("change", (evt) => {
                        evt.target.form.submit();
                    });
                </script>
            </form>
        </div>
        <div class="content-grid grid-cards-auto-fill">
            {% for person in pages.object_list %}
                <c-dwds-card>
                    <c-slot name="card_content">
                        {% url 'profile-view' person.slug as profile_url %}
                        {% if person.photo %}
                            {% include "dwds/components/profile_info.html" with show_profile_image=True profile_image_url=person.photo.url name=person.full_name title=person.roles_str location=person.uk_office_location.city profile_url=profile_url not_active=person.is_active|add:"-1" %}
                        {% else %}
                            {% include "dwds/components/profile_info.html" with show_profile_image=True name=person.full_name title=person.roles_str location=person.uk_office_location.city profile_url=profile_url not_active=person.is_active|add:"-1" %}
                        {% endif %}
                    </c-slot>
                </c-dwds-card>
            {% endfor %}
        </div>

        {% include "dwds/components/pagination.html" %}
    {% else %}
        <p>No colleagues match your selected filters</p>
    {% endif %}
{% endblock primary_content %}
