{% extends 'base.html' %}

{% load render_bundle from webpack_loader %}

{% block body_classes %}
    dwds-body
{% endblock body_classes %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block stylesheets %}
    {% render_bundle 'peoplefinder' 'css' %}
{% endblock stylesheets %}

{% block main_content %}
    <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-link" href="/">Home</a>
            </li>
            {% for team in parent_teams %}
                <li class="govuk-breadcrumbs__list-item">
                    <a class="govuk-link" href="{% url 'team-view' team.slug %}">{{ team.short_name }}</a>
                </li>
            {% endfor %}
            <li class="govuk-breadcrumbs__list-item">
                {% block location %}
                {% endblock location %}
            </li>
        </ol>
    </div>

    {% include 'peoplefinder/components/messages.html' %}

    {% block content %}
    {% endblock content %}
{% endblock main_content %}

{% block scripts %}
    {% render_bundle 'peoplefinder' 'js' %}
{% endblock scripts %}
