{% extends 'peoplefinder/page.html' %}

{% load humanize profile %}
{% load webpack_static from webpack_loader %}

{% block title %}{{ profile.full_name }}{% endblock %}

{% block location %}{{ profile.full_name }}{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            {% if profile.photo %}
                <img src="{{ profile.photo.url }}" width="100%">
            {% else %}
                <img src="{% webpack_static 'no-photo-large.png' %}" width="100%">
            {% endif %}
        </div>
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l mb-0" data-testid="full-name">{{ profile.full_name }}</h1>

            {% if not profile.is_active %}
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        This profile is inactive since {{ profile.became_inactive|naturaltime }}.
                    </strong>
                </div>
            {% endif %}

            {% if profile.is_stale %}
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        This profile was last edited {{ profile.edited_or_confirmed_at|naturaltime }}.
                    </strong>
                </div>
            {% else %}
                <p class="govuk-body-s">Last edited {{ profile.edited_or_confirmed_at|naturalday:"j F Y" }}</p>
            {% endif %}

            {% if profile.profile_completion < 100 %}
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        Your profile is only {{ profile.profile_completion|floatformat:0 }}% complete.
                    </strong>
                </div>
            {% endif %}

            <dl class="ws-profile__primary-contact-list govuk-body-l">
                <dt class="govuk-visually-hidden">Preferred email</dt>
                {% if profile.contact_email %}
                    <dd>
                        <a href="mailto:{{ profile.contact_email }}" class="govuk-link">{{ profile.contact_email }}</a>
                    </dd>
                {% else %}
                    <dd>
                        <a href="mailto:{{ profile.email }}" class="govuk-link">{{ profile.email }}</a>
                    </dd>
                {% endif %}

                {% if profile.primary_phone_number %}
                    <dt class="govuk-visually-hidden">Preferred contact number</dt>
                    <dd>
                        <a href="tel:{{ profile.primary_phone_number }}" class="govuk-link">{{ profile.primary_phone_number }}</a>
                    </dd>
                {% endif %}
            </dl>

            {% for role in roles %}
                <p class="govuk-body-m" data-testid="role">
                    {% if role.job_title %}
                        <strong>{{ role.job_title }}</strong> in
                    {% else %}
                        Member of
                    {% endif %}
                    <a class="govuk-link" href="{% url 'team-view' role.team.slug %}">{{ role.team.name }}</a>
                </p>
            {% endfor %}

            <div class="govuk-button-group">
                <p>
                    {% if profile.is_active %}
                        <a class="govuk-button" href="{% url 'profile-edit' profile.slug %}">Edit profile</a>

                        {% if profile.is_stale and request.user == profile.user %}
                            <button class="govuk-button govuk-button--secondary"
                                    hx-post="{% url 'profile-confirm-details' profile.slug %}"
                                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                                Confirm my details are still correct
                            </button>
                        {% endif %}

                        {% if perms.peoplefinder.delete_person and request.user != profile.user %}
                            <form action="{% url 'profile-delete' profile.slug %}"
                                  method="post"
                                  onsubmit="javascript:return confirm('Are you sure? This cannot be undone.')">
                                {% csrf_token %}
                                <input type="submit"
                                       class="govuk-button govuk-button--warning"
                                       id="delete-profile"
                                       value="Delete profile" />
                            </form>
                        {% endif %}
                    {% elif perms.peoplefinder.delete_person %}
                        <button class="govuk-button"
                                hx-post="{% url 'profile-activate' profile.slug %}"
                                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                                hx-confirm="Are you sure you want to activate this profile?">Activate profile</button>
                    {% endif %}
                </p>
            </div>

            {% if request.user == profile.user %}
                <p class="govuk-body-s">
                    Let us know if you are <a href="{% url 'profile-leaving-dit' profile.slug %}">leaving DBT</a>.
                </p>
            {% else %}
                <p class="govuk-body-s">
                    Let us know if {{ profile.full_name }} has <a href="{% url 'profile-leaving-dit' profile.slug %}">left DBT</a>.
                </p>
            {% endif %}
        </div>
    </div>

    <hr class="govuk-section-break govuk-section-break--visible">

    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Contact me</h2>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                {% if profile.pronouns %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">My pronouns</dt>
                        <dd class="govuk-summary-list__value">
                            {{ profile.pronouns }}
                        </dd>
                    </div>
                {% endif %}

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Preferred email</dt>
                    {% if profile.contact_email %}
                        <dd class="govuk-summary-list__value">
                            <a href="mailto:{{ profile.contact_email }}"
                               class="govuk-link"
                               data-testid="preferred-email">{{ profile.contact_email }}</a>
                        </dd>
                    {% else %}
                        <dd class="govuk-summary-list__value">
                            <a href="mailto:{{ profile.email }}"
                               class="govuk-link"
                               data-testid="preferred-email">{{ profile.email }}</a>
                        </dd>
                    {% endif %}
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Preferred contact number</dt>
                    <dd class="govuk-summary-list__value">
                        {% if profile.primary_phone_number %}
                            <a href="tel:{{ profile.primary_phone_number }}" class="govuk-link">{{ profile.primary_phone_number }}</a>
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% profile_completion_field_link "primary_phone_number" profile %}
                    </dd>
                </div>

                {% if profile.secondary_phone_number %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Alternative contact number</dt>
                        <dd class="govuk-summary-list__value">
                            <a href="tel:{{ profile.secondary_phone_number }}" class="govuk-link">{{ profile.secondary_phone_number }}</a>
                        </dd>
                    </div>
                {% endif %}
            </dl>
        </div>
    </div>

    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">My role</h2>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">My manager</dt>
                    <dd class="govuk-summary-list__value">
                        {% if profile.manager %}
                            <a href="{% url 'profile-view' profile.manager.slug %}"
                               class="govuk-link"
                               data-testid="manager">{{ profile.manager.full_name }}</a>
                        {% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% profile_completion_field_link "manager" profile %}
                    </dd>
                </div>

                {% if profile.workdays.exists %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Days I work</dt>
                        <dd class="govuk-summary-list__value">
                            {{ profile.get_workdays_display }}
                        </dd>
                    </div>
                {% endif %}

                {% if profile.key_skills.exists or profile.other_key_skills %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Skills</dt>
                        <dd class="govuk-summary-list__value">
                            {{ profile.get_all_key_skills|join:", " }}
                        </dd>
                    </div>
                {% endif %}

                {% if profile.fluent_languages %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Fluent languages</dt>
                        <dd class="govuk-summary-list__value">
                            {{ profile.fluent_languages }}
                        </dd>
                    </div>
                {% endif %}

                {% if profile.intermediate_languages %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Intermediate languages</dt>
                        <dd class="govuk-summary-list__value">
                            {{ profile.intermediate_languages }}
                        </dd>
                    </div>
                {% endif %}

                {% if profile.grade %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Grade</dt>
                        <dd class="govuk-summary-list__value">
                            {{ profile.grade }}
                        </dd>
                    </div>
                {% endif %}

                {% if profile.previous_experience %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Previous positions held</dt>
                        <dd class="govuk-summary-list__value">
                            {{ profile.previous_experience|linebreaksbr }}
                        </dd>
                    </div>
                {% endif %}

                {% if profile.learning_interests.exists or profile.other_learning_interests %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">My learning and development interests</dt>
                        <dd class="govuk-summary-list__value">
                            {{ profile.get_all_learning_interests|join:", " }}
                        </dd>
                    </div>
                {% endif %}

                {% if profile.networks.exists %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Networks I belong to</dt>
                        <dd class="govuk-summary-list__value">
                            {{ profile.networks.all|join:", " }}
                        </dd>
                    </div>
                {% endif %}

                {% if profile.professions.exists %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Professions I belong to</dt>
                        <dd class="govuk-summary-list__value">
                            {{ profile.professions.all|join:", " }}
                        </dd>
                    </div>
                {% endif %}

                {% if profile.additional_roles.exists or profile.other_additional_roles %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">My additional roles and responsibilities</dt>
                        <dd class="govuk-summary-list__value">
                            {{ profile.get_all_additional_roles|join:", " }}
                        </dd>
                    </div>
                {% endif %}
            </dl>
        </div>
    </div>

    <div class="govuk-summary-card">
        <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Where I work</h2>
        </div>
        <div class="govuk-summary-card__content">
            <dl class="govuk-summary-list">
                {% if profile.buildings.all.exists %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Place(s) I usually work</dt>
                        <dd class="govuk-summary-list__value">
                            {{ profile.buildings.all|join:", " }}
                        </dd>
                    </div>
                {% endif %}

                {% if profile.location_in_building %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Location in building</dt>
                        <dd class="govuk-summary-list__value">
                            {{ profile.location_in_building }}
                        </dd>
                    </div>
                {% endif %}

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Town, city or region</dt>
                    <dd class="govuk-summary-list__value">
                        {% if profile.town_city_or_region %}{{ profile.town_city_or_region }}{% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% profile_completion_field_link "town_city_or_region" profile %}
                    </dd>
                </div>

                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">Country</dt>
                    <dd class="govuk-summary-list__value">
                        {% if profile.country %}{{ profile.country }}{% endif %}
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        {% profile_completion_field_link "country" profile %}
                    </dd>
                </div>

                {% if profile.regional_building %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Other - UK regional</dt>
                        <dd class="govuk-summary-list__value">
                            {{ profile.regional_building }}
                        </dd>
                    </div>
                {% endif %}

                {% if profile.international_building %}
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Other - Overseas</dt>
                        <dd class="govuk-summary-list__value">
                            {{ profile.international_building }}
                        </dd>
                    </div>
                {% endif %}
            </dl>
        </div>
    </div>

    {% if perms.peoplefinder.view_auditlog %}
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Internal user details</span>
            </summary>
            <div class="govuk-details__text">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Staff SSO user ID</dt>
                        <dd class="govuk-summary-list__value">
                            {{ profile.user.username }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Legacy staff SSO user ID</dt>
                        <dd class="govuk-summary-list__value">
                            {{ profile.user.legacy_sso_user_id }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Internal user ID</dt>
                        <dd class="govuk-summary-list__value">
                            {{ profile.user_id }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Groups</dt>
                        <dd class="govuk-summary-list__value">
                            {% include 'peoplefinder/components/bullet-list.html' with list=profile.user.groups.all %}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">User permissions</dt>
                        <dd class="govuk-summary-list__value">
                            {% include 'peoplefinder/components/bullet-list.html' with list=profile.user.user_permissions.all %}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Is staff</dt>
                        <dd class="govuk-summary-list__value">
                            {{ profile.user.is_staff }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Is superuser</dt>
                        <dd class="govuk-summary-list__value">
                            {{ profile.user.is_superuser }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Profile created at</dt>
                        <dd class="govuk-summary-list__value">
                            {{ profile.created_at }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Profile updated at</dt>
                        <dd class="govuk-summary-list__value">
                            {{ profile.updated_at }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Profile edited or confirmed at</dt>
                        <dd class="govuk-summary-list__value">
                            {{ profile.edited_or_confirmed_at }}
                        </dd>
                    </div>
                </dl>
            </div>
        </details>
    {% endif %}

    {% if request.user == profile.user or perms.peoplefinder.view_auditlog %}
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Audit log</span>
            </summary>
            <div class="govuk-details__text">
                {% include 'peoplefinder/components/audit-log.html' with audit_log=profile_audit_log.reverse excluded_keys=profile_audit_log_excluded_keys %}
            </div>
        </details>
    {% endif %}
{% endblock %}
