{% extends 'peoplefinder/dwds-page.html' %}

{% load static crispy_forms_tags crispy_forms_gds %}
{% load webpack_static from webpack_loader %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block page_title_wrapper %}
{% endblock page_title_wrapper %}

{% block primary_content %}
    {% include "peoplefinder/components/profile/edit/profile-completion.html" with profile=profile missing_profile_completion_fields=missing_profile_completion_fields %}

    {% error_summary form %}
    {% if teams_formset %}
        {% for teams_formset_form in teams_formset %}
            {% error_summary teams_formset_form %}
        {% endfor %}
    {% endif %}

    <div class="content-sidebar">
        <div>{% include "dwds/components/menu_vertical.html" with items=edit_menu_items %}</div>
        <div class="content-stack">
            <h1>{{ page_title }}</h1>
            <form id="edit-profile"
                  class="content-stack"
                  action="#"
                  method="post"
                  enctype="multipart/form-data"
                  novalidate>
                {% crispy form %}
                {% if teams_formset %}
                    <div class="content-stack">
                        <script src="{% static 'peoplefinder/team-select.js' %}"></script>
                        <script src="{% static 'peoplefinder/formset.js' %}"></script>
                        <h2 id="team-and-role-heading">Team and role</h2>
                        <div data-formset="{{ teams_formset.prefix }}">
                            {% crispy teams_formset teams_formset_helper %}
                            <button class="dwds-button dwds-button--secondary"
                                    data-formset-add="{{ teams_formset_blank_form_url }}"
                                    data-testid="add-role">Add a role</button>
                        </div>
                    </div>
                {% endif %}
                <button class="dwds-button" type="submit" data-testid="save-profile">Save changes</button>
            </form>
            {% if current_edit_section == "account_settings" %}
                <h3>Tell us you are leaving</h3>
                <p class="pf-secondary-colour">
                    {% if settings.LEAVING_SERVICE_URL %}
                        If you are leaving the department you need to use the <a href="{{ settings.LEAVING_SERVICE_URL }}">Leaving DBT service</a>.
                    {% else %}
                        If you are leaving the department you need to use the Leaving DBT service.
                    {% endif %}
                </p>
            {% else %}
                <p class="pf-secondary-colour">
                    All the information on your profile will be visible to DBT staff and contractors on
                    Digital Workspace and other internal DBT tools. Occasionally, we may collate this
                    data for departmental insights.
                </p>
                <p class="pf-secondary-colour">
                    This is a voluntary collection of your information, by submitting this form you are agreeing to the terms and conditions regarding the collection and processing of your data and are providing consent for this information to be collected and processed.
                    This follows our
                    <a href="https://workspace.trade.gov.uk/working-at-dbt/policies-and-guidance/policies/digital-workspace-privacy-policy/">privacy policy</a>.
                </p>
            {% endif %}
        </div>
    </div>

    {% if perms.peoplefinder.delete_person %}
        <fieldset>
            <h2>SSO user</h2>
            {% include 'peoplefinder/components/update-user-form.html' with profile=profile form=update_user_form %}
        </fieldset>
    {% endif %}
{% endblock primary_content %}
