{% extends 'peoplefinder/page.html' %}

{% load humanize profile %}
{% load webpack_static from webpack_loader %}

{% block title %}
    {{ profile.full_name }}
{% endblock title %}

{% block location %}
    {{ profile.full_name }}
{% endblock location %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            {% if profile.photo %}
                {% if is_ee %}
                {% else %}
                    <div {% profile_photo_attrs profile %}>
                        <img src="{{ profile.photo.url }}" width="100%">
                    </div>
                {% endif %}
            {% else %}
                <img src="{% webpack_static 'no-photo-large.png' %}" width="100%">
            {% endif %}
        </div>
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l mb-0" data-testid="full-name">{{ profile.full_name }}</h1>
            {% if profile.name_pronunciation or profile.pronouns %}
                <p class="govuk-body-s">
                    {% if profile.name_pronunciation %}{{ profile.name_pronunciation }}{% endif %}
                    {% if profile.pronouns %}
                        {% if profile.name_pronunciation %}<br>{% endif %}
                        ({{ profile.pronouns }})
                    {% endif %}
                </p>
            {% endif %}
            {% if not profile.is_active %}
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        This profile is inactive since {{ profile.became_inactive|naturaltime }}.
                    </strong>
                </div>
            {% endif %}

            {% if profile.profile_completion < 100 %}
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        Your profile is only {{ profile.profile_completion|floatformat:0 }}% complete.
                    </strong>
                </div>
            {% endif %}

            {% for role in roles %}
                {% include "peoplefinder/components/profile-role.html" with role=role %}
            {% endfor %}

            <dl class="ws-profile__primary-contact-list govuk-body-l">
                <dt class="govuk-visually-hidden">Preferred email</dt>
                {% if profile.contact_email %}
                    <dd>
                        <a href="mailto:{{ profile.contact_email }}" class="govuk-link">{{ profile.contact_email }}</a>
                    </dd>
                {% else %}
                    <dd>
                        <a href="mailto:{{ profile.email }}" class="govuk-link">{{ profile.email }}</a>
                    </dd>
                {% endif %}

                {% if profile.primary_phone_number %}
                    <dt class="govuk-visually-hidden">Preferred contact number</dt>
                    <dd>
                        <a href="tel:{{ profile.primary_phone_number }}" class="govuk-link">{{ profile.primary_phone_number }}</a>
                    </dd>
                {% endif %}
            </dl>

            <div class="govuk-button-group govuk-!-margin-0">
                {% if profile.is_active %}
                    <a class="govuk-button" href="{% url 'profile-edit' profile.slug %}">Edit profile</a>

                    {% if profile.is_stale and request.user == profile.user %}
                        <button class="govuk-button govuk-button--secondary"
                                hx-post="{% url 'profile-confirm-details' profile.slug %}"
                                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
                            Confirm my details are still correct
                        </button>
                    {% endif %}

                    {% if perms.peoplefinder.delete_person and request.user != profile.user %}
                        <form action="{% url 'profile-delete' profile.slug %}"
                              style="display: contents"
                              method="post"
                              onsubmit="javascript:return confirm('Are you sure? This cannot be undone.')">
                            {% csrf_token %}
                            <input type="submit"
                                   class="govuk-button govuk-button--warning"
                                   id="delete-profile"
                                   value="Delete profile" />
                        </form>
                    {% endif %}
                {% elif perms.peoplefinder.delete_person %}
                    <button class="govuk-button"
                            hx-post="{% url 'profile-activate' profile.slug %}"
                            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                            hx-confirm="Are you sure you want to activate this profile?">Activate profile</button>
                {% endif %}

            </div>
            {% if profile.is_stale %}
                <div class="govuk-warning-text">
                    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                    <strong class="govuk-warning-text__text">
                        <span class="govuk-warning-text__assistive">Warning</span>
                        This profile was last edited {{ profile.edited_or_confirmed_at|naturaltime }}.
                    </strong>
                </div>
            {% else %}
                <p class="govuk-body-s">Last edited {{ profile.edited_or_confirmed_at|naturalday:"j F Y" }}</p>
            {% endif %}


            {% if profile.is_active %}
                {% if request.user == profile.user %}
                    <p class="govuk-body-s">
                        Let us know if you are <a href="{% url 'profile-leaving-dit' profile.slug %}">leaving DBT</a>.
                    </p>
                {% else %}
                    <p class="govuk-body-s">
                        Let us know if {{ profile.full_name }} has <a href="{% url 'profile-leaving-dit' profile.slug %}">left DBT</a>.
                    </p>
                {% endif %}
            {% endif %}
        </div>
    </div>

    {% for profile_section in profile_sections %}
        {% if is_users_profile or profile_section.values %}
            <div class="govuk-summary-card">
                <div class="govuk-summary-card__title-wrapper">
                    <h2 class="govuk-summary-card__title">{{ profile_section.title }}</h2>
                    <ul class="govuk-summary-card__actions">
                        <li class="govuk-summary-card__action">
                            <a class="govuk-link" href="{{ profile_section.url }}">
                                Edit<span class="govuk-visually-hidden">{{ profile_section.title }}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="govuk-summary-card__content">
                    <dl class="govuk-summary-list">
                        {% for profile_value in profile_section.values %}
                            <div class="govuk-summary-list__row">
                                <dt class="govuk-summary-list__key">{{ profile_value.0 }}</dt>
                                <dd class="govuk-summary-list__value">
                                    {{ profile_value.1 }}
                                </dd>
                            </div>
                        {% empty %}
                            <strong>You haven't added any information here.</strong>
                            <br>
                            Add information to help colleagues get to know you.
                        {% endfor %}
                    </dl>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    {% if perms.peoplefinder.view_auditlog %}
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Internal user details</span>
            </summary>
            <div class="govuk-details__text">
                <dl class="govuk-summary-list">
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Staff SSO user ID</dt>
                        <dd class="govuk-summary-list__value">
                            {{ profile.user.username }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Legacy staff SSO user ID</dt>
                        <dd class="govuk-summary-list__value">
                            {{ profile.user.legacy_sso_user_id }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Internal user ID</dt>
                        <dd class="govuk-summary-list__value">
                            {{ profile.user_id }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Groups</dt>
                        <dd class="govuk-summary-list__value">
                            {% include 'peoplefinder/components/bullet-list.html' with list=profile.user.groups.all %}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">User permissions</dt>
                        <dd class="govuk-summary-list__value">
                            {% include 'peoplefinder/components/bullet-list.html' with list=profile.user.user_permissions.all %}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Is staff</dt>
                        <dd class="govuk-summary-list__value">
                            {{ profile.user.is_staff }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Is superuser</dt>
                        <dd class="govuk-summary-list__value">
                            {{ profile.user.is_superuser }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Profile created at</dt>
                        <dd class="govuk-summary-list__value">
                            {{ profile.created_at }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Profile updated at</dt>
                        <dd class="govuk-summary-list__value">
                            {{ profile.updated_at }}
                        </dd>
                    </div>
                    <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">Profile edited or confirmed at</dt>
                        <dd class="govuk-summary-list__value">
                            {{ profile.edited_or_confirmed_at }}
                        </dd>
                    </div>
                </dl>
            </div>
        </details>
    {% endif %}

    {% if request.user == profile.user or perms.peoplefinder.view_auditlog %}
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">Audit log</span>
            </summary>
            <div class="govuk-details__text">
                {% include 'peoplefinder/components/audit-log.html' with audit_log=profile_audit_log.reverse excluded_keys=profile_audit_log_excluded_keys %}
            </div>
        </details>
    {% endif %}
{% endblock content %}
