{% extends 'dwds_content.html' %}

{% block libraries %}
    {{ block.super }}
    <script src="//unpkg.com/alpinejs" defer></script>
{% endblock %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block main_content_classes %}
{% endblock main_content_classes %}

{% block page_title %}
{% endblock page_title %}


{% block primary_content %}
    <div class="content_page content-stack">
        <h1>{{ page_title }}</h1>
        <form method="post">
            {% csrf_token %}
            {% include 'peoplefinder/components/team-form.html' %}
            {% include 'peoplefinder/components/team-leaders-ordering.html' %}
            <div>
                <button class="govuk-button" type="submit" data-testid="save-team">Save team</button>
                <a class="govuk-button govuk-button--secondary"
                   href="{% url 'team-view' team.slug %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock primary_content %}
