{% extends "dwds_sidebar.html" %}

{% block libraries %}
    {{ block.super }}
    <script src="//unpkg.com/alpinejs" defer></script>
{% endblock %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block primary_content %}
    <form method="post">
        {% csrf_token %}
        {% include 'peoplefinder/components/team-form.html' %}
        {% include 'peoplefinder/components/team-leaders-ordering.html' %}
        <div>
            <button class="govuk-button" type="submit" data-testid="save-team">Save team</button>
            <a class="govuk-button govuk-button--secondary"
               href="{% url 'team-view' team.slug %}">Cancel</a>
        </div>
    </form>
{% endblock primary_content %}
