{% extends 'dwds_sidebar.html' %}

{% block page_title_wrapper %}
{% endblock page_title_wrapper %}

{% block primary_content %}
    <h1>Add new sub-team to {{ parent_team.short_name }}</h1>

    <form method="post">
        {% csrf_token %}

        {% include 'peoplefinder/components/team-form.html' %}

        <c-dwds-button-group>
            <button class="dwds-button" type="submit">Save team</button>
            <a class="dwds-button dwds-button--secondary"
               href="{% url 'team-view' parent_team.slug %}">Cancel</a>
        </c-dwds-button-group>
    </form>
{% endblock primary_content %}
