{% extends 'dwds_content.html' %}

{% load markdown %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block page_title %}
{% endblock page_title %}

{% block primary_content %}
    <div class="content-stack">
        <div class="content_page">
            <h1>{{ page_title }}</h1>
            {% if team.abbreviation %}<p class="text-medium">{{ team.abbreviation }}</p>{% endif %}

            <div class="govuk-body" data-testid="description">{{ team.description|markdown }}</div>
            <div>
                {% if perms.peoplefinder.change_team %}
                    <a class="govuk-button govuk-button--secondary"
                       href="{% url 'team-edit' team.slug %}"
                       data-testid="edit-team">Edit team</a>
                {% endif %}
                {% if perms.peoplefinder.add_team %}
                    <a class="govuk-button govuk-button--secondary"
                       href="{% url 'team-add-new-subteam' team.slug %}">Add new sub-team</a>
                {% endif %}
            </div>
            {% if perms.peoplefinder.delete_team %}
                {% if can_team_be_deleted %}
                    <a class="govuk-button govuk-button--warning"
                       href="{% url 'team-delete' team.slug %}">Delete team</a>
                {% else %}
                    {% include 'peoplefinder/components/bullet-list.html' with introduction='This team cannot be deleted because it has' list=reasons_team_cannot_be_deleted %}
                {% endif %}
            {% endif %}
        </div>

        <h2>Team leader{{ team.leader_count|pluralize }}</h2>
        <div>
            {% for member in team.leaders %}
                {% include 'peoplefinder/components/team-member-card.html' with member=member %}
            {% endfor %}
        </div>

        {% if sub_teams %}
            <h2 class="govuk-heading-m">Teams within {{ team.short_name }}</h2>
            <a class="govuk-link inline-block"
               href="{% url 'team-people' team.slug %}">View all people</a>
            <a class="govuk-link inline-block"
               href="{% url 'team-tree' team.slug %}">View all sub-teams</a>
            <a class="govuk-link inline-block"
               href="{% url 'team-people-outside-subteams' team.slug %}">View {{ people_outside_subteams_count }} people not assigned to a team</a>
            {% for team in sub_teams %}
                <li>{% include 'peoplefinder/components/team-card.html' with team=team %}</li>
            {% endfor %}
        {% endif %}
        {% if members %}
            <h2 class="govuk-heading-m">People in {{ team.short_name }}</h2>
            <ul class="pf-team-member-cards">
                {% for member in members %}
                    <li>{% include 'peoplefinder/components/team-member-card.html' with member=member %}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if perms.peoplefinder.change_team and perms.peoplefinder.view_auditlog %}
            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">Audit log</span>
                </summary>
                <div class="govuk-details__text">
                    {% include 'peoplefinder/components/audit-log.html' with audit_log=team_audit_log.reverse %}
                </div>
            </details>
        {% endif %}
    </div>
{% endblock primary_content %}
