{% extends "dwds_sidebar.html" %}

{% load sub_teams_tree %}

{% block title %}
    {{ page_title }}
{% endblock title %}

{% block page_title_wrapper %}
{% endblock page_title_wrapper %}

{% block primary_content_classes %}
{% endblock primary_content_classes %}

{% block primary_content %}
    <div class="content-stack large">
        {% include "peoplefinder/includes/team_buttons.html" with team=team sub_teams_active=True %}
        <c-dwds-card no-shadow="true">
            <c-slot name="card_content">
                <c-dwds-content-list>
                    <h1>
                        {{ page_title }}
                        {% if team.abbreviation %}({{ team.abbreviation }}){% endif %}
                    </h1>
                    {% sub_teams_tree team %}
                </c-dwds-content-list>
            </c-slot>
        </c-dwds-card>
    </div>
{% endblock primary_content %}
