{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block main_content %}
<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-link" href="/">Home</a>
        </li>
        {% for team in parent_teams %}
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-link" href="/teams/{{ team.slug }}">{{ team.short_name }}</a>
            </li>
        {% endfor %}
        {% if title %}
            <li class="govuk-breadcrumbs__list-item">
                {{ title }}
            </li>
        {% endif %}
    </ol>
</div>

<main class="govuk-main-wrapper">
    {% block content %}
    {% endblock %}
</main>
{% endblock %}