{% extends 'peoplefinder/page.html' %}

{% block title %}
    Add new sub-team
{% endblock title %}

{% block location %}
    Add new sub-team
{% endblock location %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-l">{{ parent_team.short_name }}</span>
            <h1 class="govuk-heading-l">Add new sub-team</h1>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        </div>
    </div>

    <form method="post">
        {% csrf_token %}

        {% include 'peoplefinder/components/team-form.html' %}

        <div>
            <button class="govuk-button" type="submit">Save team</button>
            <a class="govuk-button govuk-button--secondary"
               href="{% url 'team-view' parent_team.slug %}">Cancel</a>
        </div>
    </form>
{% endblock content %}
