{% extends 'peoplefinder/page.html' %}

{% load markdown %}

{% block title %}{{ team.name }}{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% if team.abbreviation %}
            <span class="govuk-caption-l">{{ team.abbreviation }}</span>
        {% endif %}
        <h1 class="govuk-heading-l">{{ team.name }}</h1>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-s">Team leader</h2>
        <div>
            {% for member in team.leaders %}
                {% include 'peoplefinder/components/team-member-card.html' with member=member %}
            {% endfor %}
        </div>
    </div>
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-s">About the team</h2>
        <div class="govuk-body">
            {{ team.description|markdown }}
        </div>
        <div>
            <a class="govuk-button govuk-button--secondary" href="{% url 'team-edit' team.slug %}">Edit team</a>
        </div>
    </div>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        {% if sub_teams %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-half">
                    <h2 class="govuk-heading-m">Teams within {{ team.short_name }}</h2>
                </div>
                <div class="govuk-grid-column-one-half text-right">
                    <a class="govuk-link inline-block separator" href="{% url 'team-tree' team.slug %}">View all sub-teams</a>
                    <a class="govuk-link inline-block separator" href="{% url 'team-people' team.slug %}">View all people</a>
                    <a class="govuk-link inline-block" href="{% url 'team-people-outside-subteams' team.slug %}">View {{ people_outside_subteams_count }} people not assigned to a team</a>
                </div>
            </div>
            <ul>
                {% for team in sub_teams %}
                    <li><a class="govuk-link" href="/teams/{{ team.slug }}">{{ team.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <h2 class="govuk-heading-m">People in {{ team.short_name }}</h2>
            <ul class="pf-team-member-cards">
                {% for member in members %}
                    <li>
                        {% include 'peoplefinder/components/team-member-card.html' with member=member %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}