{% extends 'peoplefinder/page.html' %}
{% block title %}
    People in {{ team.name }}
{% endblock title %}
{% block location %}
    {{ team.name }}
{% endblock lcoation %}
{% block content %}
    <span class="govuk-caption-l">{{ team.short_name }}</span>
    <h1 class="govuk-heading-l">{{ heading }}</h1>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    {% include 'peoplefinder/components/pagination.html' with page=team_members page_numbers=page_numbers page_obj_name='people' %}
    <ul class="pf-team-member-cards">
        {% for member in team_members %}
            <li>{% include 'peoplefinder/components/team-member-card.html' with member=member %}</li>
        {% endfor %}
    </ul>
    {% include 'peoplefinder/components/pagination.html' with page=team_members page_numbers=page_numbers page_obj_name='people' %}
{% endblock content %}
