{% comment %}
Context:
    profile (Person): The person behind the profile
    manager (Person): The person's manager
{% endcomment %}

<div id="manager-component">
    <div class="govuk-!-margin-bottom-2">
        {% if manager %}
            <p class="govuk-body-m" data-testid="current-manager">
                {{ manager.full_name }}
                {% if manager.roles.first %}({{ manager.roles.first.team.name }}, {{ manager.roles.first.job_title }}){% endif %}
            </p>
        {% else %}
            <p class="govuk-body-m">No manager assigned</p>
        {% endif %}
        <input type="hidden"
               name="manager"
               id="id_manager"
               value="{{ manager.slug }}">
    </div>

    <div hx-target="this" hx-swap="outerHTML">
        <c-dwds-button-group>
            <button class="dwds-button dwds-button--secondary"
                    hx-get="{% url 'profile-edit-manager-update' profile.slug %}"
                    data-testid="update-manager">Update manager</button>
            {% if manager %}
                <button class="dwds-button dwds-button--warning"
                        hx-get="{% url 'profile-edit-manager-clear' profile.slug %}"
                        hx-target="#manager-component"
                        hx-swap="outerHTML"
                        data-testid="clear-manager">Clear manager</button>
            {% endif %}
        </c-dwds-button-group>
    </div>
</div>
<br>
