<div class="govuk-form-group{% if field.errors %} govuk-form-group--error{% endif %}">
    <label class="govuk-label" for="{{ field.id_for_label }}">
        {{ field.label }}
    </label>

    {% if field.errors %}
        {% for error in field.errors %}
            <span class="govuk-error-message">
                <span class="govuk-visually-hidden">Error: </span>{{ error }}
            </span>
        {% endfor %}
    {% endif %}

    <div class="govuk-checkboxes">
        {% for checkbox in field %}
            <div class="govuk-checkboxes__item">
                {{ checkbox.tag }}
                <label class="govuk-label govuk-checkboxes__label" for="{{ checkbox.id_for_label }}">
                    {{ checkbox.choice_label }}
                </label>
            </div>
        {% endfor %}
    </div>
</div>