{% if form.errors %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
        </h2>
        <div class="govuk-error-summary__body">
            <ul class="govuk-list govuk-error-summary__list">
                {% for field in form %}
                    {% if field.errors %}
                        {% for error in field.errors %}
                            <li>
                                <a href="#{{ field.id_for_label }}">{{ field.label }} - {{ error }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                {% endfor %}

                {% for error in form.non_field_errors %}
                    <li>
                        <a href="#">{{ error }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}