<div class="reactions content-cluster small">

    <div class="dwds-content-item-card no-shadow icon-card large">
        <button class="dwds-button dwds-button--clear-icon content-with-icon no-gap" title="Celebrate">
            {% include 'dwds/icons/bookmark.html' with hover_dark=True %}
        </button>
        <span class="govuk-header__content">300 {{ reactions.celebrate }}</span>
        
    </div>
    
    <div class="dwds-content-item-card no-shadow icon-card large">
        <button class="dwds-button dwds-button--clear-icon content-with-icon no-gap" title="Like">
            {% include 'dwds/icons/bookmark.html' with hover_dark=True %}
        </button> 
        <span class="govuk-header__content">30 {{ reactions.like }}</span>
    </div>

    <div class="dwds-content-item-card no-shadow icon-card large">
        <button class="dwds-button dwds-button--clear-icon content-with-icon no-gap" title="Love">
            {% include 'dwds/icons/bookmark.html' with hover_dark=True %}
        </button> 
        <span class="govuk-header__content">3,000 {{ reactions.love }}</span>
    </div>

    <div class="dwds-content-item-card no-shadow icon-card large">
        <button class="dwds-button dwds-button--clear-icon content-with-icon no-gap" title="Dislike">
            {% include 'dwds/icons/bookmark.html' with hover_dark=True %}
        </button> 
        <span class="govuk-header__content">1 {{ reactions.dislike }}</span>
    </div>

    <div class="dwds-content-item-card no-shadow icon-card large">
        <button class="dwds-button dwds-button--clear-icon content-with-icon no-gap" title="Unhappy">
            {% include 'dwds/icons/bookmark.html' with hover_dark=True %}
        </button> 
        <span class="govuk-header__content">0 {{ reactions.unhappy }}</span>
    </div>
    
</div>