@function frontend-font-url($filename){
@return url("~govuk-frontend/govuk/assets/fonts/" + $filename);
}

@function frontend-image-url($filename){
@return url("~govuk-frontend/govuk/assets/images/" + $filename);
}

$govuk-font-url-function: frontend-font-url;
$govuk-image-url-function: frontend-image-url;

@import "~govuk-frontend/govuk/all";

$moj-assets-path: "/static/moj-frontend/";
@import "~@ministryofjustice/frontend/moj/all";

// Variables
@import "vars/colors";

// GOV.UK Design System Overrides
@import "govuk-overrides/header";
@import "govuk-overrides/main";
@import "govuk-overrides/footer";

// Components
@import "components/accordion";
@import "components/content_cards";
@import "components/content_page";
@import "components/home";
@import "components/home_new";
@import "components/layout";
@import "components/news_article";
@import "components/news_article_comments";
@import "components/pagination";
@import "components/peoplefinder";
@import "components/search_and_profile_bar";
@import "components/search_field";
@import "components/search_results";
@import "components/site_alert";
@import "components/streamfield-content";
@import "components/tag_set";

@import "../../src/dw_design_system/dwds/stylesheet";