$brand-color-red: #cf102d;
$brand-color-navy: #00285f;
$brand-color-jade: #004d44;
$brand-color-violet: #4814a0;

$brand-color-grey90: #404040;
$brand-color-grey50: #a7a7a7;
$brand-color-grey10: #e7e7e7;

$brand-color-primary: $brand-color-red;
$brand-color-secondary: $brand-color-navy;

// GOV.UK Design System Overrides
@import "govuk-overrides/header";

// Components
@import "components/content_cards";
@import "components/content_page";
@import "components/search_and_profile_bar";
@import "components/search_field";

// Grid

.ws-width-container {
  @include govuk-width-container(1100px);
}
