{# djlint:off #}
<!DOCTYPE html>
<html>
    <head>
        <title>Digital Workspace - Sorry, there is a problem</title>

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <style>
      body { font-family: Arial, sans-serif; margin: 0; }
      h1 { font-size: 29px; margin: 20px auto 0 auto; padding: 10px; max-width: 990px; }
      p { color: black; margin: 30px auto; padding: 10px; max-width: 990px; }
        </style>
    </head>

    <body>
        <h1>Sorry, there is a problem with Digital Workspace</h1>
        <p>The Digital Workspace team have been notified and are working to fix it. Please try again later.</p>
        <p>
            <a href="/">Return to the homepage</a>
        </p>
    </body>
</html>
{# djlint:on #}
