{% load workspace_navigation static %}
{% load render_bundle webpack_static from webpack_loader %}
{% load static wagtailcore_tags %}
{% load cookie_banner %}
<!DOCTYPE html>
<html lang="en" class="govuk-template ">
    <head>
        <meta charset="utf-8"/>
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                - Digital Workspace
            {% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <meta name="theme-color" content="#cd1632"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

        {% if settings.GTM_CODE %}
            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl+ '&gtm_auth={{ settings.GTM_AUTH }}&amp;gtm_preview=env-2&gtm_cookies_win=x';f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','{{ settings.GTM_CODE }}');</script>
            <!-- End Google Tag Manager -->
        {% endif %}
        <link rel="shortcut icon" sizes="16x16 32x32 48x48" href="{% webpack_static 'favicon.ico' %}" type="image/x-icon"/>
        <link rel="mask-icon" href="{% webpack_static 'govuk-mask-icon.svg' %}" color="#0b0c0c">
        <link rel="apple-touch-icon" sizes="180x180" href="{% webpack_static 'govuk-apple-touch-icon-180x180.png' %}">
        <link rel="apple-touch-icon" sizes="167x167" href="{% webpack_static 'govuk-apple-touch-icon-167x167.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% webpack_static 'govuk-apple-touch-icon-152x152.png' %}">
        <link rel="apple-touch-icon" href="{% webpack_static 'govuk-apple-touch-icon.png' %}">

        <meta name="robots" content="noindex, nofollow">
        <meta property="og:image" content="{% webpack_static 'govuk-opengraph-image.png' %}">

        {% render_bundle 'main' 'css' %}
    </head>

    <body class="govuk-template__body ">
        {% if settings.GTM_CODE %}
            <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ settings.GTM_CODE }}"
            height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->
        {% endif %}
        <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
        <a href="#main-content" class="govuk-skip-link">Skip to main content</a>
        {% include "includes/header.html" %}
        {% include "includes/search_and_profile_bar.html" %}
        {% cookie_banner %}

        <div class="govuk-width-container">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">
                        alpha
                    </strong>
                    <span class="govuk-phase-banner__text">
                    If you are a Digital Workspace editor but can't edit pages, please contact Sam Dudley on MS Teams.
                  </span>
                </p>
            </div>
        </div>
        <div class="govuk-width-container">
            <main class="govuk-main-wrapper " id="main-content" role="main">
                {% block breadcrumbs %}
                    {% breadcrumbs %}
                {% endblock %}
                {% block main_content %}{% endblock %}
                {% include "includes/page_problem.html" %}
            </main>
        </div>
        {% include "includes/footer.html" %}
        {% render_bundle 'main' 'js' %}
    </body>
</html>
