{% if form.non_field_errors %}
<div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
  <h2 class="govuk-error-summary__title" id="error-summary-title">
    There is a problem
  </h2>
  <div class="govuk-error-summary__body">
    <ul class="govuk-list govuk-error-summary__list">
        {% for error in form.non_field_errors %}
        <li>
            {{ error }}
        </li>
        {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
{% for field in form %}
    <div class="govuk-form-group{% if field.errors %} govuk-form-group--error{% endif %}">
    {% if field.field.widget.input_type != 'checkbox' %}
        <label class="govuk-label" for="{{ field.name }}">
            {{ field.label }}{% if field.field.required == False %} (optional){% endif %}
        </label>
    {% endif %}
        {% if field.errors %}
            {% for error in field.errors %}
                <span id="{{ field.name }}-issued-error" class="govuk-error-message">
                    <span class="govuk-visually-hidden">Error:</span>
                    {{ error|escape }}
                </span>
            {% endfor %}
        {% endif %}
    {% if field.field.widget.input_type != 'checkbox' %}
        {{ field }}
    {% else %}
        <div class="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
                {{ field }}
                <label class="govuk-label govuk-checkboxes__label" for="{{ field.name }}">
                {{ field.label }}{% if field.field.required == False %} (optional){% endif %}
                </label>
            </div>
        </div>
    {% endif %}
    </div>
{% endfor %}