{% if message_sent %}
    <p>Your message has been sent</p>
{% endif %}
<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Help with nationality
    </span>
    </summary>
    <div class="govuk-details__text">
        <form novalidate method='post'>
            {% csrf_token %}
            {% include "core/govt_uk_form.html" with form=form %}
            <input type="submit" value="Submit" class="govuk-button govuk-button" data-module="govuk-button"/>
        </form>
    </div>
</details>
