{% extends "dwds_content.html" %}
{% load wagtailcore_tags %}
{% block main_content_classes %}
    content_page
{% endblock main_content_classes %}
{% block primary_content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% for block in page.body %}
                {% include_block block %}
            {% endfor %}
        </div>
        {% if page_topics.count > 0 %}
            <div class="govuk-grid-column-one-third ws-related-topics">
                <h2 class="govuk-heading-m">Related topics</h2>
                <ul class="govuk-list">
                    {% for page_topic in page_topics %}
                        <li>
                            <a class="govuk-link" href="{{ page_topic.topic.url }}">{{ page_topic.topic.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </div>
{% endblock primary_content %}
{% block secondary_content %}
    {% include "includes/child-links.html" with children=children num_cols=num_cols %}
{% endblock secondary_content %}
