{% extends "2_col_content.html" %}

{% load wagtailcore_tags %}

{% block page_content %}
    {% for block in page.body %}
        {% include_block block %}
    {% endfor %}
{% endblock page_content %}

{% block tertiary_col_content %}
    <h2 class="govuk-heading-m">Related topics</h2>
    <ul class="govuk-list">
        {% for page_topic in page_topics %}
            <li>
                <a class="govuk-link" href="{{ page_topic.topic.url }}">{{ page_topic.topic.title }}</a>
            </li>
        {% endfor %}
    </ul>
{% endblock tertiary_col_content %}

{% block page_bottom %}
    {% include "includes/child-links.html" with children=children num_cols=num_cols %}
{% endblock page_bottom %}
