<div class="header-new__navigation grid grid-multiple-columns">
    {% for item in menu_items %}
        <div>
            {% comment %} <li {{ item.active_class }}"> {% endcomment %}
            {% if item.active_class %}
                <a class="{{ item.active_class }}"
                   data-testid="main-menu-{{ item.text|lower }}"
                   href="{{ item.href }}">{{ item.text }}</a>
            {% else %}
                <a data-testid="main-menu-{{ item.text|lower }}" href="{{ item.href }}">{{ item.text }}</a>
            {% endif %}
            {% comment %} </li> {% endcomment %}
        </div>
    {% endfor %}
</div>
