{% extends "dwds/elements/extendable/card.html" %}
{% load wagtailimages_tags %}

{% block card_classes %}
    {% if is_highlighted %}dwds-card--dark{% endif %}
{% endblock card_classes %}
{% block card_container_classes %}
    dwds-engagement-card
{% endblock card_container_classes %}

{% block card_content %}
    {% if thumbnail %}
        {% image thumbnail fill-196x127 %}
    {% endif %}
    <a href="{{ url }}">
        <h3>{{ title }}</h3>
    </a>
    {% if excerpt %}<p class="dwds-engagement-card--excerpt">{{ excerpt }}</p>{% endif %}
    <p>
        {% if author %}
            <span>{{ author }}</span>
            <br>
        {% endif %}
        <time datetime="{{ date|date:'Y-m-d H:i' }}">{{ date|date:'j F Y' }}</time>
    </p>

{% endblock card_content %}
