.dwds-radios {
    --radio-radius: 40px;

    label {
        display: flex;
        align-items: center;
        gap: var(--s-5);

        :before {
            content: "";
            box-sizing: border-box;
            display: inline-block;
            width: var(--radio-radius);
            height: var(--radio-radius);
            border: 3px solid black;
            border-radius: 50%;
            background: rgba(0, 0, 0, 0)
        }
    }

    input[type="radio"] {
        margin: 0;
        height: var(--radio-radius);
        width: var(--radio-radius);
    }
}

.dwds-radios.content-switcher {
    gap: var(--s0);

    > div {
        max-width: fit-content;
    }
}