.dwds-radios {
    --radio-diameter: 40px;
    --radios-focus-width: 6px;
    --checked-circle-size: calc(var(--radio-diameter) / 2);

    label {
        display: flex;
        align-items: center;
        gap: var(--s-5);

        input[type="radio"] {
            margin: 0;
            height: var(--radio-diameter);
            width: var(--radio-diameter);
            position: relative;
            appearance: none;
            border: none;
        }

        input[type="radio"]::before {
            content: "";
            box-sizing: border-box;
            display: inline-block;
            width: 100%;
            height: 100%;
            border: 3px solid black;
            border-radius: 50%;
            background-color: var(--color-background);
            position: absolute;
            top: 0;
            left: 0;
        }

        input[type="radio"]:checked::after {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            width: var(--checked-circle-size);
            height: var(--checked-circle-size);
            background-color: var(--color-selected-radio);
            border-radius: 50%;
            transform: translate(-50%, -50%);
        }

        input[type="radio"]:focus {
            outline-color: var(--color-focus);
        }
    }
}

.dwds-radios.content-switcher {
    gap: var(--s0);

    > div {
        max-width: fit-content;
    }
}