textarea {
    font-size: var(--text-small);
    padding: var(--s-2);
    border: var(--border-width) solid var(--color-text);
    border-radius: var(--border-radius);
    font-family: inherit;
}

.dwds-textarea {
    &.width-full {
        width: 100%;
    }
}