.dwds-button {
    color: var(--color-button-text-primary);
    font-weight: var(--font-weight-bold);
    //font-size: var(--font-lineheight-interface); // TODO: Check if we need to set the font-size.
    background-color: var(--color-button-primary);
    padding: var(--padding-button);    
    text-decoration: none;
    border: var(--border-width-small) solid var(--color-button-primary);
    border-bottom: solid var(--border-width) var(--color-button-bottom-border);
    cursor: pointer;

    &:hover {
        background-color: var(--color-button-hover);
        border-bottom-color: var(--color-button-border-hover);
    }
    &--warning {
        color: var(--color-button-warning-text);
        background-color: var(--color-button-warning);

        &:hover {
            background-color: var(--color-button-warning-hover);
        }
    }
    &:active {
        top: 2px;
        position: relative;
        background-color: var(--color-button-hover);
        border-bottom: var(--border-width-small) solid;
        border-color: var(--color-button-border-hover);
    }

    &--secondary {
        color: var(--color-button-text-secondary);
        background-color: var(--color-button-secondary);
        border: solid var(--color-button-border-secondary);
        border-bottom: solid var(--border-width);


        &:hover {
            color: var(--color-button-hover);
            background-color: var(--color-button-secondary);
            border-color: var(--color-button-hover);
        }

        &:active {
            color: var(--color-button-hover);
            background-color: var(--color-button-secondary);
            border-color: var(--color-button-hover);
        }
    }
    // TODO: Added secondary-dark as temporary style, need to speak with Cheryl.
    &--secondary-dark {
        color: var(--color-button-text-secondary-dark);
        background-color: var(--color-button-secondary);
        border: solid var(--color-button-border-secondary-dark);
        border-bottom: solid var(--border-width);

        &:hover {
            color: var(--color-button-text-secondary);
            background-color: var(--color-button-secondary);
            border-color: var(--color-button-text-secondary);
        }

        &:active {
            color: var(--color-button-text-secondary);
            background-color: var(--color-button-secondary);
            border-color: var(--color-button-text-secondary);
        }
    }

    &--inline {
        padding: var(--padding-button-inline);
        // font-size: var(--s-1); // TODO: Check if we need to set the font-size.
     }

    &:active:before {
        top: -4px;
    }

    &:focus {
        color: var(--color-button-text-focus);
        background-color: var(--color-button-background-focus);
        border-color: var(--color-button-border-focus);
    }
    
    &:focus-visible {
        color: var(--color-button-text-focus);
        background-color: var(--color-button-background-focus);
        outline: none;
        border-color: var(--color-button-border-focus);
        border-bottom: var(--border-width-small) solid;
    }
}
