.content-icon {
    height: 3em;
    height: 4cap;
    width: 3em;
    width: 4cap;
    flex: none;

    &.small {
        height: 1.5em;
        height: 2cap;
        width: 1.5;
        width: 2cap;
    }

    &.tiny {
        height: 1em;
        height: 1.33cap;
        width: 1;
        width: 1.33cap;
    }

    * {
        fill: currentColor;
    }
}

.content-with-icon {
    display: inline-flex;
    align-items: center;

    &.no-gap {
        > .content-icon {
            margin-inline-end: 0px;
        }
    }

    &.small-gap {
        > .content-icon {
            margin-inline-end: var(--s-5);
        }
    }

    &.medium-gap {
        > .content-icon {
            margin-inline-end: var(--s-3);
        }
    }
}

.content-with-icon > .content-icon {
    margin-inline-end: var(--space, 0.5em);
}