.content-image {
    background-color: var(--card-bg-white);
    margin: 0;
    flex-basis: 300px;
    display: flex;
    flex-direction: column;

    &.rounded > img {
        border-radius: var(--border-radius);
    }

    img {
        // Fill the available space, but don't crop or stretch the image
        // inline-size: 100%;
        height: fit-content;
        width: 100%;
        // object-fit: contain;
        object-position: center;
    }

}
