.content-icon {
    height: 0.75em;
    height: 1cap;
    width: 0.75em;
    width: 1cap;
    flex: none;

    &.small {
        font-size: var(--s3);
    }
}

.content-with-icon {
    display: inline-flex;

    // TODO: Re address this in the ticket INTR-337
    align-items: normal;
    // align-items: baseline;

    &.no-gap {
        > .content-icon {
            margin-inline-end: 0px;
        }
    }

    &.min-gap {
        > .content-icon {
            margin-inline-end: var(--s-5);
        }
    }
}

.content-with-icon > .content-icon {
    margin-inline-end: var(--space, 0.5em);
}