{% comment %}
Context:
    profile (Person): The person behind the profile
    manager (Person): The person's manager
{% endcomment %}

<div id="manager-component" class="govuk-!-width-one-half">
    <div class="govuk-!-margin-bottom-2">
        {% if manager %}
            <p class="govuk-body-m" data-testid="current-manager">{{ manager.full_name }}{% if manager.roles.first %} ({{ manager.roles.first.team.name }}, {{ manager.roles.first.job_title }}){% endif %}</p>
        {% else %}
            <p class="govuk-body-m">No manager assigned</p>
        {% endif %}
        <input type="hidden" name="manager" id="id_manager" value="{{ manager.slug }}">
    </div>

    <div class="govuk-button-group" hx-target="this" hx-swap="outerHTML">
        <button
            class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0"
            hx-get="{% url 'profile-edit-manager-update' profile.slug %}"
            data-testid="update-manager"
        >Update manager</button>
        {% if manager %}
            <button
                class="govuk-button govuk-button--warning govuk-!-margin-bottom-0"
                hx-get="{% url 'profile-edit-manager-clear' profile.slug %}"
                hx-target="#manager-component"
                hx-swap="outerHTML"
                data-testid="clear-manager"
            >Clear manager</button>
        {% endif %}
    </div>
</div>