// FIXME: Where should these styles live in the new design system?

.dwds-header-container {
    border-bottom: 4px solid var(--dbt-red);
}

.dwds-header {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content min-content;
    grid-template-areas:
        "logo top"
        "logo bottom";
    align-items: center;
    grid-row-gap: var(--s-2);
    grid-column-gap: var(--s2);
    padding: var(--s-4) 0;

    &-logo {
        grid-area: logo;
    }

    &-top {
        grid-area: top;

        display: grid;
        grid-template-columns: 1fr max-content;
        align-items: center;
    }

    &-bottom {
        grid-area: bottom;

        display: grid;
        grid-template-columns: 1fr max-content;
        align-items: center;
    }

    &-app-name {
        flex-grow: 1;
        a {
            color: #144E81;
            font-size: var(--s1);
            font-weight: var(--font-weight-bold);
            text-decoration: none;
        }
    }

    &-nav-links {
        flex-grow: 1;
    }

    &-nav-ul {
        display: flex;
        gap: var(--s1);
        padding: 0;
        margin: 0;
        list-style: none;
        a {
            text-decoration: none;
            color: #144E81;
            font-weight: var(--font-weight-bold);
        }
    }

    &-search {
        height: min-content;
    }
}


@media screen and (max-width: 770px) {
    .dwds-header {
        grid-template-columns: 1fr;
        grid-template-rows: min-content min-content min-content;
        grid-template-areas:
            "logo"
            "top"
            "bottom";

        &-logo {
            display: flex;
        }

        &-nav-ul {
            flex-direction: column;
            gap: var(--s-2);
        }

        &-top, &-bottom {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }

    .people-finder-panel-new {
        display: none;
    }
}