// Container

.dwds-container {
    max-width: var(--page-width);
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--space);
    padding-right: var(--space);
}

.dwds {
    // Stack
    // https://every-layout.dev/layouts/stack/

    .stack {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .stack > * {
        margin-block: 0;
    }

    .stack > * + * {
        margin-block-start: var(--space);
    }


    // Grid
    // https://every-layout.dev/layouts/grid/

    .grid {
        display: grid;
        grid-gap: var(--space);
    }

    @supports (width: min(250px, 100%)) {
        .grid-multiple-columns {
            grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
        }

        .grid-cards {
            grid-template-columns: repeat(auto-fit, minmax(min(var(--card-min-width), 100%), 1fr));
            margin-top: var(--space);
        }
    }

    .dwds-homepage-welcome-text {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin: 0 0 var(--s0);;
        
        h1 {
            margin: 0;
        }
        
    }
    // TODO: had issues with <hr> tag not being full width
    .h-line { 
        width:100%; 
        height:1px; 
        background: var(--color-horizontal-line-homepage);
        margin: 0;
    }
}
// TODO: hacked to get around .stack margin top
.new-home .with-sidebar-right {
    margin-top: 0 !important;
}