// implements a .dwds container class to hold "globals" while our approach is
// limited to specific pages and parts of pages
//
// replace with base styling eventually to use real globals

.dwds * {
	box-sizing: border-box;
	max-inline-size: var(--measure);
}


html,
body {
	max-inline-size: none;
}


.dwds {
	font-family: var(--font-family-primary);
	font-size: var(--font-size-m);
	line-height: var(--font-lineheight-body);
	font-weight: var(--font-weight-normal);
	background-color: var(--color-background);
	color: var(--color-text);

	div,
	header,
	nav,
	main,
	footer {
		max-inline-size: none;
	}

	h1, h2, h3, h4, h5, h6, p, time {
		font-family: var(--font-family-primary);
		font-size: var(--font-size-m);
		line-height: var(--font-lineheight-body);
		font-weight: var(--font-weight-normal);
		background-color: var(--color-background);
		color: var(--color-text);
	}

    h1, h2, h3, h4, h5, h6 {
		font-weight: var(--font-weight-bold);
		line-height: var(--font-lineheight-headings);
		color: var(--color-heading);
    }

	h1 {
		font-size: var(--s3);
	}

	h2 {
		font-size: var(--s2);
	}

	h3 {
		font-size: var(--s1);
	}
}

.dwds {
	.feedback-header {
		background-color: var(--color-background);

		div {
			color: var(--color-text) !important;
		}
	}
}
