// implements a .dwds container class to hold "globals" while our approach is
// limited to specific pages and parts of pages
//
// replace with base styling eventually to use real globals

.dwds * {
    box-sizing: border-box;
    max-inline-size: var(--measure);
}


.dwds-body {
    // TODO: Cheryl to work out the colour for the CTA card background and the new body background.
    background-color: #E6EBF0;
}

html,
body {
    max-inline-size: none;
}


.dwds {
    font-family: var(--font-family-primary);
    font-size: var(--font-size-m);
    line-height: var(--font-lineheight-body);
    font-weight: var(--font-weight-normal);
    color: var(--color-text);

    div,
    header,
    nav,
    main,
    footer,
    hr {
        max-inline-size: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-weight: var(--font-weight-bold);
        line-height: var(--font-lineheight-headings);
        color: var(--color-heading);
    }

    h1 {
        font-size: var(--s3);
    }

    h2 {
        font-size: var(--s2);
    }

    h3 {
        font-size: var(--s1);
    }

    a {
        color: var(--color-link);
    }

    a:focus, a:active {
        text-decoration: underline var(--text-underline-hover) !important;
        background-color: var(--color-link-background-active);
        color: var(--color-text) !important;
    }

    a:hover {
        text-decoration: underline var(--text-underline-hover);
    }

    hr {
        width: 100%;
        border-top: 1px solid;
        border-bottom: 0;
        border-right: 0;
        border-left: 0;
        color: var(--color-hr);
    }
}

.dwds {
    .feedback-header {
        background-color: transparent;
        padding-right: 0 !important;

        div {
            color: var(--color-text) !important;
        }
    }

    // TEMPORARILY REMOVED UNTIL NEW HEADER RE-DESIGN IS FINALISED

    // .homepage-welcome-bar {
    //     display: flex;
    //     justify-content: space-between;
    //     align-items: flex-end;
    //     margin-top: var(--s0);

    //     h1 {
    //         margin: 0;
    //     }
    // }
}