:root {
  // Colour
  --text-colour: black;
  --dbt-blue: #00285F;
  --gds-active-highlight: #fd0;

  // Size
  --gap-xxs: 0.125rem;
  --gap-xs: 0.25rem;
  --gap-s: 0.5rem;
  --gap-m: 1rem;
  --gap-l: 2rem;
  --gap-xl: 4rem;
  --gap-xxl: 8rem;
  --font-l: 19px;

  // Typography
  --font-family-primary: "Roboto Flex", sans-serif;
  --font-weight-normal: 400;

}
