:root {
  --page-width: 1250px;

  // Brand colours - for re-use in this file only
  --dbt-blue: #00285F;
  --dbt-red: #CF102D;
  --dbt-light-blue: #0063BE;
  --dbt-light-blue-rgb: 0, 99, 190;

  // Colour
  --color-heading: var(--dbt-blue);
  --color-text: black;
  --color-text-secondary: #505A5F;
  --color-text-highlight: #fff;
  --color-link: var(--dbt-light-blue);
  --color-link-hover: #fff;
  --color-link-active: #fff;
  --color-link-background-active: #fd0; // GDS yellow
  --color-button-background-active: #fd0;
  --color-link-visited: #551a8b;
  --color-background: white;
  --color-background-highlight: white;
  --color-background-card: #dde5ed;
  --color-border: #D6E0E5;
  --color-border-dark: var(--dbt-blue);
  --color-border-highlight: white;
  --color-button-primary: #1D70B8;
  --color-button-primary-hover: #014C92;
  --color-button-secondary: white;
  --color-button-secondary-hover: #dbdad9;
  --color-button-border: black;
  --color-icon: var(--dbt-blue);
  --color-hr: #7D8E96;

  // Size
  --ratio: 1.25;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --space: var(--s3);
  --button-padding-large: var(--s-1);
  --button-padding-medium: var(--s-3);
  --button-padding-small: var(--s-5);
  --card-comment-section-margin-top: 8px;

  // Borders and element widths
  --border-width: 2px;
  --border-width-small: 1px;
  --border-top-width-card: var(--s-2);
  --text-underline-hover: 3px;

  // Typography
  --measure: 70ch;
  // --font-family-primary: "Roboto Flex", sans-serif;
  --font-family-primary: "Noto Sans", sans-serif;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --font-lineheight-body: 1.5em;
  --font-lineheight-headings: 1.25em;
  --font-lineheight-interface: 1em;

  --card-min-width: 15rem;

  // Opacity
  --opacity-soft: 0.8;

  // Icons
  --icon-width: 1.5em;
  --icon-height: 1.5em;
}