:root {
  // Colour
  --color-text: black;
  --color-text-highlight: #fff;
  --color-link: #00285F;
  --color-link-hover: #fff;
  --color-link-active: #fff;
  --color-link-background-active: #fbff00;
  --color-link-visited: #fff;
  --color-link-list: #0063BE;
  --color-background: white;
  --color-background-highlight: white;
  --color-background-card: white;
  --color-background-card-highlight: #59CBE84D;
  --color-border: #D6E0E5;
  --color-border-highlight: white;

  // Size
  --ratio: 1.25;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --border-width-card: 2px;
  --border-top-width-card: var(--s-2);
  --text-underline-hover: 3px;

  // Typography
  --measure: 70ch;
  --font-family-primary: "Roboto Flex", sans-serif;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 600;
  --font-lineheight-body: 1.5rem;
  --font-lineheight-headings: 1.6rem;
  --font-lineheight-interface: 1rem;
}
