{% load wagtailcore_tags %}
{% load wagtailimages_tags %}

<div class="home-news-item">
    <a href="{% pageurl news_item %}">{% image news_item.preview_image width-300 height-195 %}</a>
    <h4 class="govuk-heading-s"><a class="govuk-link" href="{% pageurl news_item %}">{{ news_item.title }}</a></h4>
    <p class="govuk-body-s ws-secondary-meta">
        {% if news_item.perm_sec_as_author %}
            {{ settings.PERM_SEC_NAME }},
        {% else %}
            {% if news_item.get_latest_revision.user %}
                {{ news_item.get_latest_revision.user.first_name }} {{ news_item.get_latest_revision.user.last_name }},
            {% endif %}
        {% endif %}
        {{ news_item.last_published_at }}
        {% for news_category_lkup in news_item.news_categories.all %}
            <a class="govuk-link" href="/news-and-views/category/{{ news_category_lkup.news_category.slug }}">{{ news_category_lkup.news_category.category }}</a>,
        {% endfor %}
    </p>
    <p class="govuk-body-s">{{ news_item.excerpt }}</p>
</div>