{% load static wagtailcore_tags %}
{% if not seen_cookie_banner %}
    <div class="cookie-banner">
        <div class="govuk-width-container">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <span class="govuk-phase-banner__text">
                        Digital Workspace uses cookies to make the site simpler. <a class="govuk-link" href="{% slugurl "cookies" %}">Find out more about cookies</a>
                    </span>
                </p>
            </div>
        </div>
    </div>
{% endif %}
