{# TODO [DWPF-454] Delete this template #}
{% if user.enable_v2_search %}
    <div class="search-v2-banner">
        <div class="govuk-width-container">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">beta</strong>
                    <span class="govuk-phase-banner__text">
                        Please <a href="#" class="govuk-link">let us know what you think</a> of the new experience, or <a href="{% url "search:toggle" use_v2="off" %}?next={{ request.get_full_path }}"
    class="govuk-link">switch back</a>.
                    </span>
                </p>
            </div>
        </div>
    </div>
{% else %}
    <div class="search-v2-banner">
        <div class="govuk-width-container opt-in-invitation">
            <div class="govuk-phase-banner">
                <p class="govuk-phase-banner__content">
                    <strong class="govuk-tag govuk-phase-banner__content__tag">beta</strong>
                    <span class="govuk-phase-banner__text">
                        <b>We're improving search and navigation.</b> Would you like to <a href="#" class="govuk-link">find out more</a>, or <a href="{% url "search:toggle" use_v2="on" %}?next={{ request.get_full_path }}"
    class="govuk-link">try it out</a>?
                    </span>
                </p>
            </div>
        </div>
    </div>
{% endif %}
