{% load static wagtailcore_tags %}

{% if active_site_alert %}
    <div class="site-alert">
        <div class="govuk-width-container">
            <p class="govuk-body" role="alert">
                {% if active_site_alert.banner_link %}
                    <a target="_blank" href="{{ active_site_alert.banner_link }}">{{ active_site_alert.banner_text }}</a>
                {% else %}
                    {{ active_site_alert.banner_text }}
                {% endif %}
            </p>
        </div>
    </div>
{% endif %}
