{% if is_new_sidebar_enabled and page.allow_comments %}
    <div class="dwds-content-item-card icon-card">
        <script type="text/javascript">
        function scrollAndFocus(event, inputId) {
            event.preventDefault();
            const input = document.getElementById(inputId);
            if (input) {
                input.scrollIntoView({behavior: 'smooth'});
                input.focus();
            }
        }
        </script>
        <button class="dwds-button dwds-button--clear-icon content-with-icon no-gap"
                onClick="scrollAndFocus(event, 'id_comment')"
                title="Comment section">{% include 'dwds/icons/comment.html' %}</button>
    </div>
{% endif %}
