{% if is_new_sidebar_enabled and page.allow_comments %}
    <div class="dwds-content-item-card icon-card">
        <script type="text/javascript">
        function scrollAndFocus(event, inputId) {
            event.preventDefault();
            const input = document.getElementById(inputId);
            if (input) {
                input.scrollIntoView({behavior: 'smooth'});
                input.focus();
            }
        }
        </script>
        <a class="comment-page-input content-with-icon no-gap"
           href="#comment_section"
           onClick="scrollAndFocus(event, 'id_comment')"
           title="Comment section">{% include 'dwds/icons/comment.html' with hover_dark=True %}</a>
    </div>
{% endif %}
