{% load page %}
<c-dwds-modal title="Share this page">
    <c-slot name="button">
        <c-dwds-card icon-card="true" icon-card-classes="large">
            <c-slot name="card_content">
                <button class="dwds-modal-open dwds-button dwds-button--clear-icon content-with-icon no-gap">
                    {% include 'dwds/icons/share.html' %}
                </button>
            </c-slot>
        </c-dwds-card>
    </c-slot>
    <c-slot name="content">
        <!-- Share Platforms -->
        <div class="content-stack medium">
            <!-- Email -->
            <a class="content-with-icon medium-gap"
               href="{% get_share_page_email_link request page %}">
                {% include "dwds/icons/email.html" with large=True %}
                Email
            </a>
            {% if FEATURE_FLAGS.share_teams %}
                <!-- MS Teams -->
                <button class="teams-share-button dwds-button dwds-button--link content-with-icon small-gap"
                        data-href="{{ page_url }}"
                        data-icon-px-size="1"
                        data-msg-text="Check out this page on the intranet!"
                        data-preview="false">
                    {% include "dwds/icons/ms_teams.html" with small=True %}
                    MS Teams
                </button>
                <script async defer src="https://teams.microsoft.com/share/launcher.js"></script>
            {% endif %}
            {% comment %}
            <!-- Calendar -->
            <button class="dwds-button dwds-button--link content-with-icon small-gap">
                {% include "dwds/icons/calendar.html" with small=True %}
                Calendar
            </button>
            {% endcomment %}
            {% include "dwds/components/copy_text.html" with text=page_url hide_input=True %}
        </div>
        <p>This is only shareable inside the department to people with access to the intranet</p>
    </c-slot>
</c-dwds-modal>
