<div class="dwds-modal width-third">
    <div class="dwds-content-item-card icon-card large ">
        <button class="dwds-button dwds-button--clear-icon content-with-icon no-gap dwds-modal-open">
            {% include 'dwds/icons/share.html' %}
        </button>
    </div>
    <dialog>
        <div class="content-stack">
            <form class ="modal-header" method="dialog">
                <button class="dwds-modal-close dwds-button dwds-button--link content-with-icon small-gap">
                    {% include "dwds/icons/cross.html" with small=True %}
                    Close
                </button>
            </form>
            {% include "dwds/components/copy_text.html" with text=page_url %}
        </div>
    </dialog>
</div>
