{% extends "base.html" %}

{% block body_class %}template-404{% endblock %}

{% block content %}
    <h1 class="govuk-heading-l">Page not found</h1>

    <p class="govuk-body">If you typed the web address, check it is correct.</p>

    <p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>

    <p class="govuk-body">
        If the web address is correct or you selected a link or button,
        <a href="mailto:{{ settings.SERVICE_CONTACT_EMAIL }}">contact the Digital Workspace team</a>
        to let us know.
    </p>
{% endblock %}
