{% load workspace_navigation bookmarks %}
{% load render_bundle webpack_static from webpack_loader %}
{% load static wagtailcore_tags waffle_tags %}
{% load git_info %}
{% load vwo_integration %}

<!DOCTYPE html>
<html lang="en" class="govuk-template ">
    <head>
        {% if request.in_preview_panel %}<base target="_blank">{% endif %}
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}
                    {{ self.seo_title }}
                {% elif page_title %}
                    {{ page_title }}
                {% elif self %}
                    {{ self.title }}
                {% endif %}
            {% endblock title %}
            {% block title_suffix %}
                - The Intranet
            {% endblock title_suffix %}
        </title>
        <meta name="viewport"
              content="width=device-width, initial-scale=1, viewport-fit=cover">
        <meta name="theme-color" content="#cd1632" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        {# App specific metadata #}
        <meta name="intranet:release"
              content="{{ settings.GIT_COMMIT|default_if_none:'' }}">
        <meta name="intranet:environment" content="{{ settings.APP_ENV }}">
        <meta name="intranet:sentry:dsn"
              content="{{ settings.SENTRY_DSN|default_if_none:'' }}">
        <meta name="intranet:sentry:browser-traces-sample-rate"
              content="{{ settings.SENTRY_BROWSER_TRACES_SAMPLE_RATE }}">
        {% render_bundle 'init' 'js' %}
        {% if settings.GTM_CODE %}
            <!-- Google Tag Manager -->
            <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl+ '&gtm_auth={{ settings.GTM_AUTH }}&amp;gtm_preview=env-2&gtm_cookies_win=x';f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','{{ settings.GTM_CODE }}');
            gtm_data_then_click = function(object, data) {
                dataLayer.push(data);
                url=object.getAttribute("href");
                setTimeout(function(){location.href = url}, 500);
                return false;
            };
            </script>
            {% if not request.is_preview %}
                {% include "includes/gtm_datalayer_info.html" %}
            {% endif %}
            <!-- End Google Tag Manager -->
        {% endif %}
        <link rel="shortcut icon"
              sizes="16x16 32x32 48x48"
              href="{% static 'core/favicon.ico' %}"
              type="image/x-icon" />
        <link rel="mask-icon"
              href="{% webpack_static 'govuk-mask-icon.svg' %}"
              color="#0b0c0c">
        <link rel="apple-touch-icon"
              href="{% static 'core/apple-touch-icon.png' %}">
        <meta name="robots" content="noindex, nofollow">
        <meta property="og:image"
              content="{% webpack_static 'govuk-opengraph-image.png' %}">
        {% render_bundle 'main' 'css' %}
        {% block stylesheets %}
        {% endblock stylesheets %}
        {% block libraries %}
        {% endblock libraries %}
        <!-- VWO Integration -->
        {% vwo_integration %}
    </head>
    <body class="govuk-template__body {% block body_classes %}{% endblock body_classes %}">
        {% if settings.GTM_CODE %}
            <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ settings.GTM_CODE }}"
        height="0"
        width="0"
        style="display:none;
               visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->
        {% endif %}
        <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
        <a href="#main-content"
           data-module="govuk-skip-link"
           class="govuk-skip-link">Skip to main content</a>
        {% include "includes/header.html" %}
        {% block pre_main %}
            <div class="dwds-container">
            {% endblock pre_main %}
            <main class="govuk-main-wrapper "
                  id="main-content"
                  role="main"
                  tabindex="1">
                <div class="breadcrumb-bookmark">
                    {% block breadcrumbs %}
                        {% breadcrumbs %}
                    {% endblock breadcrumbs %}
                </div>
                {% block main_content %}
                {% endblock main_content %}
                {% block page_problem %}
                    <div class="feedback-section">{% include "includes/problem_found.html" %}</div>
                {% endblock page_problem %}
            </main>
            {% block post_main %}
            </div>
        {% endblock post_main %}
        {% include "includes/footer.html" %}
        {% render_bundle 'main' 'js' %}
        {% block scripts %}
        {% endblock scripts %}
        {% git_info %}
    </body>
</html>
