{% comment %}
Context:
    profile: A person's profile
    role: A persons's role
    form: The role form
{% endcomment %}

<form class="pf-role-form"
      hx-target="this"
      hx-swap="outerHTML"
      data-testid="role-form">
    {% csrf_token %}

    <h3 class="govuk-heading-s">
        Team
    </h2>

    {% include 'peoplefinder/components/messages.html' %}
    {% include 'peoplefinder/components/error-summary.html' %}

    {{ form.person }}
    <team-select name="team" url="{% url 'team-select' %}" selected-team-id="{{ form.instance.team.id }}" current-team-id="{{ form.instance.team.id }}" editing="
    {% if role %}
        false
    {% else %}
        true
    {% endif %}
    "></team-select>
    {% include 'peoplefinder/components/input.html' with field=form.job_title %}
    {% include 'peoplefinder/components/checkbox.html' with field=form.head_of_team %}

    {% if role %}
        <button class="govuk-button" hx-post="{% url 'role' profile.slug role.id %}">Update</button>
        <button class="govuk-button govuk-button--warning"
                hx-delete="{% url 'role' profile.slug role.id %}"
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>Leave</button>
    {% else %}
        <button class="govuk-button"
                hx-post="{% url 'roles' profile.slug %}"
                data-testid="save-role">Save</button>
        <button class="govuk-button govuk-button--secondary"
                hx-delete="{% url 'roles' profile.slug %}"
                hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>Cancel</button>
    {% endif %}
</form>
