{% load webpack_static from webpack_loader %}

{% url 'profile-view' member.person.slug as profile_url %}

{% if member.person.photo %}
    {% include "dwds/components/profile_info.html" with show_profile_image=True profile_image_url=member.person.photo.url name=member.person.full_name title=member.job_title location=member.person.uk_office_location.city profile_url=profile_url %}
{% else %}
    {% include "dwds/components/profile_info.html" with show_profile_image=True name=member.person.full_name title=member.job_title location=member.person.uk_office_location.city profile_url=profile_url %}
{% endif %}
