{% load markdown %}
<div class="pf-team-card">
    <p class="pf-team-card__name mb-10">
        <a
            class="govuk-link"
            href="{% url 'team-view' team.slug %}"
            {# only search has this context var #}
            {% if number_overall %}
                onclick="dataLayer.push({ 'event': 'search_result', 'search_result_selected_url': '{% url 'team-view' team.slug %}', 'search_result_selected_type': 'team', 'search_result_selected_section': 'teams', 'search_result_selected_number_overall': {{ number_overall }}, 'search_result_selected_number_section': {{ number_section }}, 'search_ui': 'team-breadcrumb' })"
            {% endif %}
        >{{ team.name }}</a>
    </p>
    {% if team.all_parents %}
        <div class="govuk-breadcrumbs p-0">
            <ol class="govuk-breadcrumbs__list">
                {% for parent_team in team.all_parents %}
                    <li class="govuk-breadcrumbs__list-item">
                        <a
                            class="govuk-link"
                            href="{% url 'team-view' parent_team.slug %}"
                            {# only search has this context var #}
                            {% if number_overall %}
                                onclick="dataLayer.push({ 'event': 'search_result', 'search_result_selected_url': '{% url 'team-view' parent_team.slug %}', 'search_result_selected_type': 'parent_team', 'search_result_selected_section': 'teams', 'search_result_selected_number_overall': {{ number_overall }}, 'search_result_selected_number_section': {{ number_section }}, 'search_ui': 'team-breadcrumb' })"
                            {% endif %}
                        >{{ parent_team.short_name }}</a>
                    </li>
                {% endfor %}
            </ol>
        </div>
    {% endif %}
    <div class="pf-team-member-card__description govuk-body mt-20">
        {{ team.description|markdown|truncatewords_html:25 }}
    </div>
    {% if team.avg_profile_completion is not None %}
        <div class="pf-team-card__metadata govuk-body">
            {{ team.avg_profile_completion|floatformat:0 }}% average profile completion
        </div>
    {% endif %}
</div>
