<h1>PoC Calendar links</h1>
<p>These links are personal to you, please do not share them.</p>
<p>The calendar contains all events in the system + a dummy one that starts 10 mins from cal retrieval.</p>
<ul>
    <li>
        <a href="{{ raw_uri }}">Raw iCal URL</a> - paste into the correct field in your cal application
    </li>
    <li>
        <a href="https://outlook.office.com/owa?path=%2Fcalendar%2Faction%2Fcompose&rru=addsubscription&url={{ encoded_uri }}&name=DBT%20Events"
           target="_blank">Outlook 365 special link</a>
    </li>
    <li>
        <a href="https://outlook.office.com/owa?path=%2Fcalendar%2Faction%2Fcompose&rru=addsubscription&url={{ encoded_uri }}&name=DBT%20Events"
           target="_blank">Outlook Live special link</a>
    </li>
    <li>
        <a href="https://calendar.google.com/calendar/render?cid={{ encoded_uri }}"
           target="_blank">Google cal special link</a>
    </li>
</ul>
