{% extends "dwds_content.html" %}
{% load wagtailcore_tags  wagtailimages_tags %}

{% block main_content_classes %}
    content_page
{% endblock main_content_classes %}

{% block primary_content %}
    <div class="with-sidebar-right">
        <div class="stack streamfield-content-stack">
            {% image page.preview_image fill-465x265 width="100%" style="object-fit: cover; border-radius: var(--border-radius);" %}
            {% for block in page.body %}
                {% include_block block %}
            {% endfor %}
        </div>
        <div class="dwds-card dwds-information-panel">
            <div>
                <h2>{{ page.event_date|date:"d F, Y" }}</h2>
                <h2>{{ page.start_time|time:'g:iA'|lower }} - {{ page.end_time|time:'g:iA'|lower }}</h2>
            </div>
            {% if is_in_person or is_hybrid %}
                <div>
                    <p>Location</p>
                    <h4>{{ page.location|default_if_none:"To be confirmed" }}</h4>
                </div>
                {% if page.location and page.room %}
                    <div>
                        <p>Room</p>
                        <h4>
                            {{ page.room }}
                            {% if page.room_capacity %}with {{ page.room_capacity }} seats{% endif %}
                        </h4>
                    </div>
                    {% if page.room and page.room_capacity %}
                        <div>
                            <p>Capacity</p>
                            <h4>{{ page.room_capacity }} seats</h4>
                        </div>
                    {% endif %}
                {% endif %}
            {% endif %}
            {% if page.audience %}
                <div>
                    <p>Audience</p>
                    <h4>{{ page.get_audience_display|default_if_none:"-" }}</h4>
                </div>
            {% endif %}
            <div>
                <p>Event type</p>
                {% if is_online or is_in_person %}
                    <h4>{{ page.get_event_type_display }}</h4>
                {% else %}
                    <h4>In person or online</h4>
                {% endif %}
            </div>
            <div class="stack">
                {% if not page.is_past_event %}
                    {% if page.offline_event_url and is_in_person or is_hybrid %}
                        <a href="{{ page.offline_event_url }}"
                           class="dwds-button dwds-button--inline dwds-button--secondary"
                           target="_blank">Register to join</a>
                    {% endif %}
                    {% if page.online_event_url and is_online or is_hybrid %}
                        <a href="{{ page.online_event_url }}"
                           class="dwds-button dwds-button--inline dwds-button--secondary"
                           target="_blank">Watch event online</a>
                    {% endif %}
                    {% if page.submit_questions_url %}
                        <a href="{{ page.submit_questions_url }}"
                           class="dwds-button dwds-button--inline dwds-button--secondary"
                           target="_blank">Submit a question</a>
                    {% endif %}
                {% elif page.event_recording_url %}
                    <a href="{{ page.event_recording_url }}"
                       class="dwds-button dwds-button--inline dwds-button--secondary"
                       target="_blank">Watch past event</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock primary_content %}

{% block secondary_content %}
{% endblock secondary_content %}
