{% extends "dwds_content.html" %}
{% load wagtailcore_tags  wagtailimages_tags %}

{% block main_content_classes %}
    content_page
{% endblock main_content_classes %}

{% block primary_content %}
    <div class="grid image-info-layout">
        <div class="ws-streamfield-content">
            {% image page.preview_image fill-465x265 width="100%" style="object-fit: cover; border-radius: var(--border-radius);" %}
            {% for block in page.body %}
                {% include_block block %}
            {% endfor %}
        </div>
        <div class="dwds-card dwds-information-panel">
            <div>
                <h2>{{ page.event_date|date:"M d Y" }}</h2>
                <h2>{{ page.start_time|time:'g:iA'|lower }} - {{ page.end_time|time:'g:iA'|lower }}</h2>
            </div>
            <div>
                <p>Location</p>
                <h4>{{ page.location|default_if_none:"-" }}</h4>
            </div>
            <div>
                <p>Room</p>
                <h4>
                    {% if page.room %}
                        {{ page.room }}
                        {% if page.room_capacity %}with {{ page.room_capacity }} seats{% endif %}
                    {% else %}
                        -
                    {% endif %}
 
                </h4>
            </div>
            <div>
                <p>Capacity</p>
                <h4>
                    {% if page.room_capacity %}
                        {{ page.room_capacity }} seats
                    {% else %}
                        -
                    {% endif %}
                </h4>
            </div>
            <div>
                <p>Audience</p>
                <h4>{{ page.get_audience_display|default_if_none:"-" }}</h4>
            </div>
            <div>
                <p>Event type</p>
                {% if is_online or is_in_person %}
                    <h4>{{ page.get_event_type_display }}</h4>
                {% elif is_hybrid %}
                    <h4>In person or online via MS Teams</h4>
                {% endif %}
            </div>
            <div class="stack">
                {% if not page.is_past_event %}
                    {% if page.offline_event_url and is_in_person %}
                        {% include 'dwds/elements/navigational_link.html' with url=page.offline_event_url text="Register to join in person" classes="dwds-button dwds-button--inline dwds-button--secondary" style="font-size: var(--text-large)" target="_blank" %}
                    {% elif page.offline_event_url and is_hybrid %}
                        {% include 'dwds/elements/navigational_link.html' with url=page.offline_event_url text="Register to join" classes="dwds-button dwds-button--inline dwds-button--secondary" style="font-size: var(--text-large)" target="_blank" %}
                    {% endif %}
                    {% if page.submit_questions_url %}
                        {% include 'dwds/elements/navigational_link.html' with url=page.submit_questions_url text="Submit a question" classes="dwds-button dwds-button--inline dwds-button--secondary" style="font-size: var(--text-large)" target="_blank" %}
                    {% endif %}
                    {% if page.online_event_url and is_online %}
                        {% include 'dwds/elements/navigational_link.html' with url=page.online_event_url text="Join MS Teams" classes="dwds-button dwds-button--inline dwds-button--secondary" style="font-size: var(--text-large)" target="_blank" %}
                    {% elif page.online_event_url and is_hybrid %}
                        {% include 'dwds/elements/navigational_link.html' with url=page.online_event_url text="Watch event online" classes="dwds-button dwds-button--inline dwds-button--secondary" style="font-size: var(--text-large)" target="_blank" %}
                    {% endif %}
                {% elif page.event_recording_url %}
                    {% include 'dwds/elements/navigational_link.html' with url=page.event_recording_url text="Watch past event" classes="dwds-button dwds-button--inline dwds-button--secondary" style="font-size: var(--text-large)" target="_blank" %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock primary_content %}

{% block secondary_content %}
    Secondary column
{% endblock secondary_content %}
